@import 'bootstrap-icons/font/bootstrap-icons.css';
/** ----------------------------- Common css ------------------------------------------------------- **/

/* Custom scrollbar for WebKit browsers */
::-webkit-scrollbar {
    width: 10px; /* Width of the scrollbar */
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1; /* Background of the scrollbar track */
  }
  
  ::-webkit-scrollbar-thumb {
    background: #888; /* Color of the scrollbar thumb */
    border-radius: 10px; /* Rounded corners for the thumb */
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color of the thumb when hovered */
  }
  
  /* Custom scrollbar for Firefox */

  .desc-inner{
    scrollbar-color: #f1f1f1 #888;
    scrollbar-width: 10px;
    scrollbar-shadow-color: grey;
    scrollbar-width: thin;
  }
  
  /* width */
  .desc-inner::-webkit-scrollbar{
    width: 10px;
    height:10px;
  }
  /* Track */
.desc-inner::-webkit-scrollbar-track {
    background: #f1f1f1; 
    box-shadow: inset 0 0 5px grey; 
    border-radius: 5px;
  }
  
  /* Handle */
  .desc-inner::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 5px;
  }
  
  
  /* Handle on hover */
  .desc-inner::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
  .fa-asterisk{
    color:#dc3545;
    font-size: 9px;
}

.text-search-header{
  font-size: 14px;
  font-weight: 500;
  color:#000000;
}