<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Invoice</title>
	<style>
		@page {
			margin: 0;
		}

		body {
			margin: 0;
			padding: 100px 50px 50px 50px;
			font-family: Arial, sans-serif;
		}

		.header {
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			height: 100px;
			background-color: white;
			display: flex;
			align-items: center;
			padding: 20px;
			box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
		}

		.subheader {
			position: fixed;
			top: 7px;
			left: 30%;
			transform: translateX(-50%);
			height: auto;
			background-color: white;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			padding: 20px;
			text-align: center;
		}

		.subheader .title {
			font-size: 34px;
			font-weight: bold;
			color: navy;
			margin: 0;
		}

		.subheader .subtitle {
			font-size: 20px;
			color: #4a4a4a;
			margin: 0;
		}

		.subheader p {
			margin: 0;
		}

		.header img {
			width: 100px;
			height: auto;
			margin-right: 20px;
		}

		.content {
			margin-top: 120px;
		}

		.page-break {
			page-break-before: always;
		}

		.content-section {
			padding: 8px;
			background-color: white;
			margin-top: 50px;
		}
	</style>
</head>

<body>
	<div class="header">
		<img th:src="'data:image/png;base64,' + ${data.base64Images}" alt="Logo" />
	</div>
	<div class="subheader">

		<p class="title" style="font-size: 34px; font-weight: bold; color:navy; margin: 0;" th:text="${data.pgName}">
		</p>
		<p class="subtitle" style="font-size: 20px; color: #4a4a4a; margin: 0;" th:text="${data.pgAddress}"></p>

	</div>
	<div class="content-section">
		<div>
			<h1 style="text-align: center; color: #0ea5e9; font-weight: bold; font-size: 24px; margin: 16px 0;">
				Rent Agreement and Property Rules
			</h1>
		</div>
		<!-- Renting Details Section -->
		<div style="margin-bottom: 14px; padding-left: 12px; box-sizing: border-box; line-height: 24px;">
			<h2 style="font-size: 20px; font-weight: bold; color: black;">Renting Details:</h2>
			<div style="display: flex; flex-direction: row;">
				<span style="margin-top: 8px; padding-right: 8px; color: black; font-size: 20px;"> 1. Rented Property
					Address:</span>
				<span style="margin-top: 8px; color: black; font-size: 20px;"
					th:text="${data.pgName} +' & '+ ${data.pgAddress}"></span>
			</div>
			<div style="display: flex; flex-direction: row;">
				<span style="padding-right: 8px; color: black; font-size: 20px;">2. Bed No/Type:</span>
				<span style="color: black; font-size: 20px;" th:text="${data.bed} + ' in '+ ${data.shareType}"></span>
			</div>
			<div style="display: flex; flex-direction: row;">
				<span style="padding-right: 8px; color: black; font-size: 20px;">3. Agreement Duration:</span>
				<span style="color: black; font-size: 20px;"
					th:text="${data.noOfDays} +' days commencing from '+ ${data.moveInDate}+' to '+${data.moveOutDate}"></span>
			</div>
			<div style="display: flex; flex-direction: row;">
				<span style="padding-right: 8px; color: black; font-size: 20px;">4. Rent:</span>
				<span style="color: black; font-size: 20px;" th:text="${data.fixedRent} +' per month'"></span>
			</div>
			<div style="display: flex; flex-direction: row;">
				<span style="padding-right: 8px; color: black; font-size: 20px;">5. Deposit:</span>
				<span style="color: black; font-size: 20px;" th:text=" ${data.securityDeposit} + ' One time'"></span>
			</div>
			<div style="display: flex; flex-direction: row;">
				<span style="padding-right: 8px; color: black; font-size: 20px;">6. Notice Period:</span>
				<span style="color: black; font-size: 20px;" th:text=" ${data.noticePeriod}"></span>
			</div>
		</div>
		<!-- Agreement Section -->
		<h2 style="font-weight: bold; margin-bottom: 16px; color: black; text-align: center; font-size: 20px;">LEAVE AND
			LICENSE RENT AGREEMENT</h2>
		<p style="color: black; padding: 4px 12px; font-size: 20px;"
			th:text="'This agreement (Leave and License Agreement) is made/executed on ' + ${data.moveInDate} + 
			    ' between ' + ${data.pgName} + ' / -, R/o ' + ${data.pgAddress} + 
			    ', hereinafter called the Owner which expression shall include their legal heirs, successors, legal executors, representatives, administrators, nominees, and assigns. 
			    AND ' + ${data.tenantName} + ', R/o ' + ${data.customerAddress} + 
			    ', hereinafter called the Tenant, which expression shall mean and include their legal heirs, successors, legal executors, representatives, administrators, nominees, and assigns. 
			    The First Party referred to as Owner and the Second Party as Tenant mentioned above may be individually called as the Party and collectively called.'"></p>

		<p style="color: black; padding-left: 12px; font-size: 20px;" th:text="'as Parties hereunder. Whereas the Owner is the absolute Owner and in
				physical possession of the (Rented Property) (hereinafter called the
				“Said Premises”) AND WHEREAS the Tenant has approached the Owner to
				let out the said premises on rent and the Owner has agreed to let out
				the same on rent on the following terms and conditions:-'"></p>
	</div>
	<div class="page-break"></div>
	<div class="content">
		<div class="content-section">
			<!-- Header Section -->
			<p style="margin-top: 55px; font-weight: 600; color: black; text-align: center; font-size: 20px;">NOW THIS
				RENT AGREEMENT
				WITNESSETH AS UNDER:</p>
			<!-- Terms Section -->
			<div style="padding: 4px;">
				<p style="color: black; line-height: 24px; padding-left: 12px; font-size: 20px;" th:text="'That the tenancy of the 
					said premises will commence with effect from '+ ${data.moveInDate} + ' and be valid for a limited period of 
					'+ ${data.noOfDays} +'days “Term“ and on the expiry of the Term, the tenant shall vacate and
					hand over vacant possession of the said premises to the Owner only without any hitch and hindrances.'"></p>
				<p style="color: black; line-height: 24px; padding-left: 12px; font-size: 20px;" th:text="'The Tenant agrees to pay 
					the Owner during the term, an aggregate monthly rent of '+${data.fixedRent}+' only (hereinbefore and hereinafter referred 
					to as “Rent”) in respect of the said premises. The rent shall be paid in advance for every month. The rent payable shall 
					be paid on or before the 5th of every month. The rent so paid will include the applicable maintenance charges.'">
				</p>
				<p style="color: black; line-height: 24px; padding-left: 12px; font-size: 20px;" th:text="'That the Tenant shall pay '
					+${data.fixedRent}+' only as a security deposit to the Owner, free of interest, which shall be refunded to the tenant on 
					the expiry of the term after deducting arrears on rent, electricity, repair, etc., if any.'"></p>
				<p style="color: black; line-height: 24px; padding-left: 12px; font-size: 20px;" th:text="'A notice Period of 
					'+${data.noticePeriod}+' is mandatory and the Owner shall be free to forfeit an amount for the shortfall period out of the 
					Security Deposit.'"></p>
				<p style="color: black; line-height: 24px; padding-left: 12px; font-size: 20px;">That the Tenant shall
					pay rent on time
					to the Owner through ZOY Tenant App on or before the 5th day of the rent cycle of every month.</p>
				<p style="color: black; line-height: 24px; padding-left: 12px; font-size: 20px;">Owner has the right to
					send rent reminders
					through ZOY mobile app and WhatsApp, and payment receipts will only be issued digitally through the
					mobile app.</p>
				<p style="color: black; line-height: 24px; padding-left: 12px; font-size: 20px;">That the Tenant shall
					use the said
					premises only for residential purposes of self and not for any other purposes.</p>
				<p style="color: black; line-height: 24px; padding-left: 12px; font-size: 20px;">That the Tenant shall
					not sublet the
					said premises or any portion thereof to any person or persons under any circumstances.</p>
			</div>
		</div>
	</div>
	<div class="page-break"></div>
	<div class="content">
		<div style="margin-top: 30px;">
			<div style="padding: 8px; background-color: white; margin-top:130px;">
				<!-- Header Section -->
				<div style="padding: 4px;">
					<p style="color: black; line-height: 24px; padding-left: 12px; font-size: 20px;">One set of original
						keys of the
						said premises has been handed over to the Tenant, and in case any of the door keys are lost, the
						tenant will bear
						the cost of replacing it with a new lock, or else the amount will be deducted from the security
						deposit paid by the
						Tenant.</p>
					<p style="color: black; line-height: 24px; padding-left: 12px; font-size: 20px;">That the Owner will
						be at liberty to
						inspect the said premises at any reasonable time with prior intimation in the presence of the
						Tenant.</p>
					<p style="color: black; line-height: 24px; padding-left: 12px; font-size: 20px;">That the Tenant
						will maintain the
						said premises, and he/she shall always keep the same premises neat, clean, and tenantable
						worthy, and not damage
						the said premises or change any portion thereof in any circumstances.</p>
					<p style="color: black; line-height: 24px; padding-left: 12px; font-size: 20px;">In case this
						agreement is renewed
						for another period of extended months, the parties agree to execute a new agreement for the same
						as per mutually
						agreeable rent and terms.</p>
					<p style="color: black; line-height: 24px; padding-left: 12px; font-size: 20px;">That the agreement
						may be terminated
						earlier by either side giving a 30 days advance notice in writing to the other party. That in
						case of failure to pay
						rent for any particular month, it shall entitle the Owner to terminate this Agreement without
						serving any notice of
						30 days as mentioned above.</p>
					<p style="color: black; line-height: 24px; padding-left: 12px; font-size: 20px;">That the Tenant
						will not violate any
						terms and conditions of the concerned Government authorities of Water/Electricity and all other
						concerned Government
						or local agencies relating to the above said premises.</p>
					<p style="color: black; line-height: 24px; padding-left: 12px; font-size: 20px;">The Tenant has no
						ownership rights
						whatsoever on the said property. Further, the Tenant undertakes to not encumber the said
						property in any way
						whatsoever. The Owner will not be responsible or liable for any action of the Tenant which may
						cause any
						disadvantage to the Owner or his/her property or property rights.</p>
					<p style="color: black; line-height: 24px; padding-left: 12px; font-size: 20px;">That all
						electricity, water,
						maintenance charges if any before this date are the responsibility of the Owner and hereinafter
						these charges
						will be borne by the Tenant.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="page-break"></div>
	<div class="content">
		<div style="margin-top: 30px;">
			<div style="padding: 8px; background-color: white; margin-top: 130px;">
				<!-- Header Section -->
				<div style="padding: 4px;">
					<p style="color: black; line-height: 24px; padding-left: 12px; font-size: 20px;">Cost of damages if
						any to the said
						premises and/or any fittings and fixtures mentioned in clause 12 of this agreement shall be
						recovered by the Owner
						from the interest-free security deposit.</p>
					<p style="color: black; line-height: 24px; padding-left: 12px; font-size: 20px;">That both parties
						shall abide by the
						rules and regulations of Rent Control Act and terms and conditions of this agreement.</p>
					<p style="color: black; line-height: 24px; padding-left: 12px; font-size: 20px;">That the draft
						contents of this
						Agreement are as finalized and agreed between only the parties i.e., Owner and Tenant,
						understood by them on their
						own in their vernacular language with no role of any third party.</p>
					<p style="color: black; line-height: 24px; padding-left: 12px; font-size: 20px;">other person or
						entity. Both
						the Owner and Tenant are satisfied with their own finalized documentation of this Agreement and
						no other person,
						neither any entity nor technology portal nor any authority whatsoever will be responsible or
						liable to any type of
						dispute, litigation, mortgage, encumbrance whatsoever in any manner related to this agreement or
						stamp duty or
						its execution. The Owner and the Tenant agree and affirm that only they are responsible and
						liable to each other or
						to any other rightful person for any aspect of this present agreement. The present agreement has
						been executed under
						the free will and consent of both the parties and neither party has signed under any pressure,
						threat, coercion etc.</p>
					<p style="color: black; padding-left: 12px; font-size: 20px; margin-top: 16px;">Miscellaneous:</p>
					<p style="color: black; line-height: 24px; padding-left: 12px; font-size: 20px;">This Agreement
						constitutes the
						entire agreement concerning the subject matter hereof between the Owner and the Tenant and
						supersedes any prior
						representations or agreements, whether written or oral between the Owner and Tenant. No
						modification or amendment
						of this Agreement or waiver of any of its provisions shall be binding upon the parties hereto
						unless made in writing
						and duly signed by both Parties.</p>
					<p style="color: black; line-height: 24px; padding-left: 12px; font-size: 20px;">If any provision of
						this Agreement is
						held to be unenforceable, the remaining provisions of this Agreement shall continue to remain in
						full force and effect.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="page-break"></div>
	<div class="content">
		<div style="margin-top: 30px;">
			<div style="padding: 8px; background-color: white; margin-top: 130px;">
				<!-- Header Section -->
				<div style="padding: 4px;">
					<p style="margin-top: 16px; font-weight: bold; padding-left: 12px; color: black; font-size: 20px;">
						ANNEXURE 2 - Task to be done Via ZOY Platform
					</p>
					<p style="color: black; margin-top: 16px; padding-left: 12px; font-size: 20px;">
						TENANT KYC –
					</p>
					<p style="color: black; line-height: 24px; padding-left: 12px; font-size: 20px;">
						As per tenancy model act, we are required to complete your Background Screening, Joining Form,
						Rent Agreement and
						Police Verification for safety and legal reasons. To make it easy for you, we have made
					</p>
					<p style="color: black; line-height: 24px; padding-left: 12px; font-size: 20px;">it completely
						digital. Therefore,
						you must enter your complete details, Govt ID and other required information through our
						check-in link before or
						within 24 hours of Date of Joining.
					</p>
					<p style="color: black; line-height: 24px; padding-left: 12px; font-size: 20px;">Your KYC data might
						be shared with
						our authorized technology and govt. partners to complete your Background Screening, E- KYC,
						Police Tenant
						Verification/Registration, and Rental Agreement.
					</p>
					<p style="color: black; padding-left: 12px; margin-top: 16px; font-size: 20px;">
						Payments -
					</p>
					<p style="color: black; line-height: 24px; padding-left: 12px; font-size: 20px;">All dues such as
						Rent, Electricity,
						water, maintenance will be shown on real-time basis on our tenant app (powered by ZOY)
					</p>
					<p style="color: black; line-height: 24px; padding-left: 12px; font-size: 20px;">The TENANT will
						make payments only
						via the Exclusive Payment link shared on their WhatsApp numbers or via our Tenant App or our
						exclusive payment QR
						(powered by ZOY).
					</p>
					<p style="color: black; line-height: 24px; padding-left: 12px; font-size: 20px;">Our payment methods
						support all
						popular UPI apps including Paytm, PhonePe, GPay, BHIM, NEFT/ RTGS/ CREDIT CARDS/ DEBIT CARDS.
						There may be a payment/technology processing charge over the total due amount.</p>
					<p style="color: black; line-height: 24px; padding-left: 12px; font-size: 20px;">If the TENANT wants
						to pay in CASH,
						they can pay only via THE AUTHORIZED LIST OF RENT COLLECTORS FOR PG Name administration.</p>
					<p style="color: black; line-height: 24px; padding-left: 12px; font-size: 20px;">Immediately after
						the successful
						payment, the TENANT will be provided an automatic digital payment receipt on their
						WhatsApp/Email and tenant app.
						There will not be any paper receipt provided.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="page-break"></div>
	<div class="content">
		<div style="margin-top: 30px;">
			<div style="padding: 8px; background-color: white; margin-top: 130px;">
				<!-- Header Section -->
				<div style="padding: 4px;">
					<p style="color: black; margin-top: 16px; padding-left: 12px; font-size: 20px;">Food menu –</p>
					<p style="color: black; line-height: 24px; padding-left: 12px; font-size: 20px;">Every week's latest
						food menu and
						timings will be updated on our tenant app. You don't have to call or message anyone to know the
						food menu and timing.</p>
					<p style="color: black; line-height: 24px; padding-left: 12px; font-size: 20px;">If the TENANT comes
						after the meal
						timings have passed, it will be the tenant's responsibility to arrange food for oneself.</p>
					<p style="color: black; margin-top: 16px; padding-left: 12px; font-size: 20px;">
						Announcements/Digital Notice Board&nbsp;</p>
					<p style="color: black; line-height: 24px; padding-left: 12px; font-size: 20px;">All the relevant
						and important
						information, notice and announcements (such as electricity cuts, Water issues, Wi-Fi, Mess
						timings etc) will be sent
						to you on our tenant app (powered by ZOY). You will also be notified for the new announcements
						and messages via WhatsApp/SMS by ZOY.</p>
					<p style="color: black; margin-top: 16px; padding-left: 12px; font-size: 20px;">Complaints –</p>
					<p style="color: black; line-height: 24px; padding-left: 12px; font-size: 20px;" th:text="${data.pgName}+' will 
						always welcome feedback, complaints, suggestions, or enquiries from the tenants.'"></p>
					<p style="color: black; line-height: 24px; padding-left: 12px; font-size: 20px;">On noticing any
						maintenance issues
						such as plumbing, wiring, etc. in your room or anywhere in the property, you are immediately
						requested to
						register an issue/complaint through our tenant app.</p>
					<p style="color: black; line-height: 24px; padding-left: 12px; font-size: 20px;">However, the TENANT
						must
						register only genuine complaints and not misuse it. If found registering fake complaints,
						there may be a fine of Rs 500.</p>
					<p style="color: black; line-height: 24px; padding-left: 12px; font-size: 20px;">The TENANT will get
						all real-time
						notifications on your complaints when a team member is assigned to the issue and when the issue
						is resolved.</p>
					<p style="color: black; margin-top: 16px; padding-left: 12px; font-size: 20px;">Leave
						Property/Eviction Notice –</p>
					<p style="color: black; line-height: 24px; padding-left: 12px; font-size: 20px;" th:text="${data.pgName}+' has a 
						minimum of '+${data.noticePeriod}+' notice period. In case, the TENANT wishes to leave the property, he/she has to give 
						an advance notice of Notice period via our tenant app.'"></p>
				</div>
			</div>
		</div>
	</div>
	<div class="page-break"></div>
	<div class="content">
		<div style="margin-top: 30px;">
			<div style="padding: 8px; background-color: white; margin-top: 130px;">
				<!-- Header Section -->
				<div style="padding: 4px;">
					<p style="color: black; line-height: 24px; padding-left: 12px; font-size: 20px;" 
					th:text="'On our Tenant App, all the eviction terms and rules will be displayed. The tenant has to meet
					all the set eviction rules for a successful approval. In case of breaching the eviction rules,
					he tenants security deposit amount of '+${data.fixedRent}+'
					may get forfeited and additional dues may get added against the tenant for which they will be
					liable.'">
					</p>
					<p style="color: black; line-height: 24px; padding-left: 12px; font-size: 20px;">
						Any other mode of leave/eviction notices will not be accepted.
					</p>
					<p style="color: black; margin-top: 16px; padding-left: 12px; font-size: 20px;">
						Late Check-in –
					</p>
					<p style="color: black; line-height: 24px; padding-left: 12px; font-size: 20px;">
						In case of late night entry curfew being applicable, the TENANT is required to register a "Late
						Check-in Request" by 9 pm.
					</p>
					<p style="color: black; line-height: 24px; padding-left: 12px; font-size: 20px;">
						The entry gates are closed by 10:00 PM, i.e., night curfew time at our property. In the absence
						of a Late Check-in request, the TENANT may not be allowed to enter.
					</p>
					<p style="color: black; margin-top: 16px; padding-left: 12px; font-size: 20px;">
						Guest Invite –
					</p>
					<p style="color: black; line-height: 24px; padding-left: 12px; font-size: 20px;">
						In case of any guest visiting the premise, the TENANT must add all the necessary details of
						their guest in our tenant app for management's information and approval.
					</p>
					<p style="color: black; line-height: 24px; padding-left: 12px; font-size: 20px;">
						The entire process is digital for your convenience allowing instant entry and no more long waits
						and calls with guards.
					</p>
					<p style="color: black; margin-top: 16px; padding-left: 12px; font-size: 20px;">
						ANNEXURE 2 - Handover Item list
					</p>
					<p style="color: black; line-height: 24px; padding-left: 12px; font-size: 20px;">
						Items provided by the Owner at the time of execution of Lease Deed between the Owner and the
					</p>
					<p style="color: black; margin-top: 16px; font-size: 20px; line-height: 32px; padding-left: 12px;">
						Tenant are as follows:&nbsp;
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="page-break"></div>
	<div class="content">
		<div style="margin-top: 30px;">
			<div style="padding: 8px; background-color: white; margin-top: 150px;">
				<!-- Header Section -->
				<div style="padding: 4px;">
					<div>
						<div>
							<table style="width: 100%; border-collapse: collapse; margin-top: 20px;">
								<thead>
									<tr>
										<th style="text-align: left; padding: 8px; font-size: 20px; color: black;">
											Amenity</th>
										<th style="text-align: left; padding: 8px; font-size: 20px; color: black;">
											Quantity</th>
									</tr>
								</thead>
								<tbody>
									<!-- Thymeleaf iteration over amenities -->
									<tr th:each="item, index : ${data.propertyAmenities}">
										<td style="padding: 8px; font-size: 20px; color: black;" th:text="${item}"></td>
										<td style="padding: 8px; font-size: 20px; color: black;">1</td>
										<!-- Static Quantity -->
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<p style="color: black; line-height: 24px; padding-left: 12px; font-size: 20px;">
						DISPUTE RESOLUTION: The Parties shall use their best efforts to amicably settle all disputes
						arising out of or in connection with this Contract in the following manner:
					</p>
					<p style="color: black; line-height: 24px; padding-left: 12px; font-size: 20px;">
						The Party raising the dispute shall address to the other Party a notice requesting an amicable
						settlement of the dispute within fifteen (15) days of receipt of the notification.
					</p>
					<p style="color: black; line-height: 24px; padding-left: 12px; font-size: 20px;">
						The matter will be referred for negotiation between designated representatives of First Party
						and Second Party. The matter shall then be resolved by them and the agreed course of action
						documented within a further period of 30 days.
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="page-break"></div>
	<div class="content">
		<div style="margin-top: 30px;">
			<div style="padding: 8px; background-color: white; margin-top: 130px;">
				<!-- Header Section -->
				<div style="padding: 4px;">
					<p style="color: black; line-height: 24px; padding-left: 12px; font-size: 20px;">
						The matter will be referred for negotiation between designated representatives of First Party
						and Second Party. The matter shall then be resolved by them and the agreed course of action
						documented within a further period of 30 days.
					</p>
					<p style="color: black; line-height: 24px; padding-left: 12px; font-size: 20px;">
						below and conducted in accordance with the provision of the Arbitration
						and Conciliation Act, 1996 as amended in 2015 and 2019 or any statutory
						modification or reenactment thereof. Subject to the above, the courts
						which have jurisdiction for the location under 'Governing Law' below alone
						shall have the jurisdiction in respect of all matters connected with the
						Contract. The arbitration award shall be final and binding upon the
						Parties and judgment may be entered thereon, upon the application of
						either party to a court of competent jurisdiction. Each party shall bear
						the cost of preparing and presenting its case, and the cost of
						arbitration, including fees and expenses of the arbitrators, shall be
						shared equally by the Parties unless the award otherwise provides.
					</p>
					<p style="margin-top: 16px; padding-left: 12px; color: black; font-size: 20px; line-height: 32px;">
						Governing Law:
					</p>
					<p style="color: black; line-height: 24px; padding-left: 12px; font-size: 20px;">
						This Agreement shall be governed in accordance with the applicable laws of
						India, for the time being in force. In the event of any dispute between
						the Parties pursuant to this Agreement, the Parties hereby mutually submit
						to the exclusive jurisdiction of the appropriate courts of the region,
						India, to decide all matters arising out of and/or directly / impliedly
						concerning this Agreement. This Agreement constitutes the entire
						understanding between the Parties and supersedes any prior agreements
						between the Parties for purpose as set out herein. IN WITNESS HEREOF,
						Parties have hereunto executed this Agreement to be effective on the date,
						month and year first written above .
					</p>
					<div>
						<div
							style="color: black; margin-top: 16px; margin-bottom: 8px; font-size: 20px; line-height: 32px;">
							<p
								style="color: black; padding-left: 12px; margin-top: 16px; margin-bottom: 8px; font-size: 20px; line-height: 32px;">
								Tenant Signature *(Digitally signed)</p>
							<p style="color: black; padding-left: 12px; font-size: 20px; line-height: 32px;"
								th:text="${data.tenantName}">
							</p>
							<p style="color: black; padding-left: 12px; font-size: 20px; line-height: 32px;"
								th:text="${data.timeStamp}">
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="page-break"></div>
	<div class="content">
		<div style="margin-top: 30px;">
			<div style="padding: 8px; background-color: white; margin-top: 130px;">
				<p
					style="color: black; padding-left: 12px; margin-top: 16px; margin-bottom: 8px; font-size: 20px; line-height: 32px;">
					Owner Signature *(Digitally signed)</p>
				<p style="color: black; padding-left: 12px; font-size: 20px; line-height: 32px;"
					th:text="${data.managerName}">
				</p>
				<p style="color: black; padding-left: 12px; font-size: 20px; line-height: 32px;"
					th:text="${data.timeStamp}">
				</p>
			</div>
		</div>
	</div>
</body>

</html>