<div class="bg-gradient-dark">
  <div class="container">
    <!-- Outer Row -->
    <div class="row justify-content-center" style="margin: -20px 0px 0px 0px;">
      <div class="col-xl-10 col-lg-12 col-md-9">
        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
              <div class="col-lg-6">
                <div class="p-5">
                  <div style="text-align: center;">
                    <img src="assets/images/ZOY-logo.svg" style="height: 155px;width: auto;">
                  </div>
                  <div>
                    <h1 class="h4 text-gray-900 mt-4">Recover Your Password</h1>
                    <div class="small mb-4">Enter your account details</div>
                  </div>
                  <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf='error'>
                    <strong>{{error}}</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>
                  <form [formGroup]="form" (ngSubmit)="doRegister()" autocomplete="off">
                    <div class="form-group">
                      <label for="email">Email address</label>

                      <!-- Container for email input and send OTP button -->
                      <div class="d-flex align-items-center">
                        <!-- Email Input -->
                        <input type="email" class="form-control form-control-sm" id="email" name="email"
                          placeholder="Enter personal Email" formControlName="email" [(ngModel)]="userReset.email"
                          (ngModelChange)="userReset.email = $event?.toLowerCase()" autocomplete="off"
                          [ngClass]="{'is-invalid':submitted && form.controls.email.errors}" maxlength="100"
                          class="form-control form-control-sm h-100" />

                        <!-- Send OTP button -->
                        <button type="button" class="btn btn-primary-custom mt-2 ms-2 h-100" (click)="sendOrResendOtp()"
                          [disabled]="!userReset.email" style="font-size: 0.75rem;">
                          {{ otpSent ? 'Resend OTP' : 'Send OTP' }}
                        </button>
                      </div>

                      <!-- Validation errors for email -->
                      <div *ngIf="submitted && form.controls.email.errors" class="text-danger">
                        <div *ngIf="submitted && form.controls.email.errors?.required">
                          Email Id is required
                        </div>
                      </div>

                    </div>

                    <!-- OTP input field shown after OTP is sent -->
                    <form name="verificationForm" style="text-align: left;">
                      <div class="form-group position-relative clearfix">
                        <div class="mb-1">
                          <label for="exampleInputEnterCode1" class="form-label">Enter OTP</label>
                          <div class="form-inline">
                            <input type="text" class="form-control form-control-sm" id="otp1" name="otp1"
                              [(ngModel)]="userReset.otp1" style="width: 30px; margin-right: 10px;" required>
                            <input type="text" class="form-control form-control-sm" id="otp2" name="otp2"
                              [(ngModel)]="userReset.otp2" style="width: 30px; margin-right: 10px;" required>
                            <input type="text" class="form-control form-control-sm" id="otp3" name="otp3"
                              [(ngModel)]="userReset.otp3" style="width: 30px; margin-right: 10px;" required>
                            <input type="text" class="form-control form-control-sm" id="otp4" name="otp4"
                              [(ngModel)]="userReset.otp4" style="width: 30px; margin-right: 10px;" required>
                            <input type="text" class="form-control form-control-sm" id="otp5" name="otp5"
                              [(ngModel)]="userReset.otp5" style="width: 30px; margin-right: 10px;" required>
                            <input type="text" class="form-control form-control-sm" id="otp6" name="otp6"
                              [(ngModel)]="userReset.otp6" style="width: 30px;" required>
                          </div>
                          <div
                            *ngIf="submitted && (userReset.otp1 === '' || userReset.otp2 === '' || userReset.otp3 === '' || userReset.otp4 === '' || userReset.otp5 === '' || userReset.otp6 === '')"
                            class="text-danger">
                            Please enter the OTP
                          </div>
                        </div>
                      </div>
                    </form>


                    <div class="row">
                      <div class="col-sm-6">
                        <div class="form-group">
                          <label for="password" style="margin-right: 10px;">Password</label>
                          <span style="cursor: pointer;">
                            <i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip" data-placement="left"
                              title="Must be 8-16 characters long, include at least one uppercase letter, one lowercase letter, one number, and one special character."></i>
                          </span>
                          <div class="input-group">
                            <input type="{{ isPasswordVisible ? 'text' : 'password' }}"
                              class="form-control form-control-sm" id="password" [(ngModel)]="userReset.newPassword"
                              name="password" placeholder="Password" formControlName="password"
                              [ngClass]="{'is-invalid': submitted && form.controls.password.errors}" required>
                            <span class="input-group-text" (click)="togglePasswordVisibility()"
                              style="cursor: pointer;">
                              <i class="fas" [ngClass]="isPasswordVisible ? 'fa-eye-slash' : 'fa-eye'"></i>
                            </span>
                          </div>
                          <div *ngIf="submitted && form.controls.password.errors" class="text-danger">
                            <div *ngIf="form.controls.password.errors?.required">
                              Please enter the password.
                            </div>
                            <div *ngIf="form.controls.password.errors?.pattern">
                              Please enter a strong password.
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-sm-6">
                        <div class="form-group">
                          <label for="repeatPassword">Repeat password</label>
                          <input type="password" class="form-control form-control-sm" id="repeatPassword"
                            [(ngModel)]="userReset.repeatPassword" name="repeatPassword" placeholder="Repeat password"
                            formControlName="repeatPassword"
                            [ngClass]="{'is-invalid': submitted && (form.controls.repeatPassword.errors || userReset.newPassword !== userReset.repeatPassword)}"
                            required>
                          <div *ngIf="submitted && form.controls.repeatPassword.errors" class="text-danger">
                            <div *ngIf="submitted && form.controls.repeatPassword.errors?.required">
                              Please enter the repeat password.
                            </div>
                          </div>
                          <div
                            *ngIf="submitted && userReset.newPassword !== userReset.repeatPassword && !form.controls.repeatPassword.errors"
                            class="text-danger">
                            Passwords do not match.
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="d-flex justify-content-center">
                      <button type="submit" class="btn btn-primary-custom w-50">Submit</button>
                      <button type="reset" class="btn btn-dark w-50 ml-2" (click)="resetForm()">Reset</button>
                    </div>
                    <div class="text-right alert-light">
                      Please <a class="small alert-link" style="font-weight: 400;" routerLink="/signin">Login</a>
                     </div>
                  </form>
                </div>
              </div>
              <div class="col-lg-6 d-none d-lg-block bg-login-image">
                <div style="margin-top: 8%;text-align: center;color:#fff">
                  <h1 style="font-weight: 500;">Welcome to</h1>
                  <h2>ZOY Admin Portal</h2>
                  <img src="assets/images/login-right-img.png" style="height: 350px;margin-top:15%">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>