

<div class="bg-gradient-dark">
  <div class="container">
    <!-- Outer Row -->
    <div class="row justify-content-center" style="margin: 0px;">
      <div class="col-xl-10 col-lg-12 col-md-9">
        <div class="card o-hidden border-0 shadow-lg my-3">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row" style="height:calc(100vh - 35px);">
              <div class="col-lg-6" *ngIf="stepPassword == 1">
                <div class="p-5">
                  <div style="text-align: center;">
                    <img src="assets/images/ZOY-logo.svg" style="height: 155px;width: auto;">
                  </div>
                  <div style="text-align: center;">
                    <h1 class="h4 text-gray-900 mt-4">Forgot Password</h1>
                    <div class="small mb-4">Enter mail id to receive verification code</div>
                  </div>
                  <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf='error'>
                    <strong>{{error}}</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>
                  <form autocomplete="off" style="text-align: center;">
                    <div class="form-group" *ngIf="stepPassword == 1">
                      <!-- <label for="email">Email address</label> -->
                      <div class="form-group">
                        <input 
                          type="email" 
                          id="email" 
                          class="form-control custom-underline"  
                          placeholder="Enter registered email"
                          [(ngModel)]="email"
                          autocomplete="off" 
                          maxlength="100" 
                        />
                      </div>
                      <div>
                        <button type="button" class="btn btn-primary-custom mt-2 w-100" [disabled]=" email== '' || sending " (click)="sendOrResendOtp()">
                         {{sending ? 'Verifying...':'Reset Password'}}
                        </button>
                      </div>
                      <div>
                        <a routerLink="/signin"
                          class="btn btn-light mt-2 w-100 custom-button">
                          Back to Signin
                       </a>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <div class="col-lg-6 d-none d-lg-block bg-login-image" *ngIf="stepPassword == 1">
                <div style="margin-top: 8%;text-align: center;color:#fff">
                  <h1 style="font-weight: 500;">Reset Your ZOY Admin</h1>
                  <h2>Password For</h2>
                  <h2>Account Access</h2>
                </div>
                <div class="img-responsive">
                  <img src="assets/images/forgot-pasword-img.png" style="height: 300px; margin: 25px;
                margin-top:8%">
                </div>
              </div>
             <!-------reset passWord----->
              <div class="col-lg-6" *ngIf="stepPassword == 2">
                <div class="p-5">
                  <div style="text-align: center;">
                    <img src="assets/images/ZOY-logo.svg"style="height: 155px;width: auto;">
                  </div>
                  <div style="text-align: center;">
                    <h1 class="h4 text-gray-900 mt-4">Check Your Email</h1>
                    <h1 class="small">Enter the verification code sent to</h1>
                    <h1 class="small"><span class="text-primary text-decoration-none"> {{email}} </span> to Reset Your Password</h1>
                  </div>
                  <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf='error'>
                    <strong>{{error}}</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>
                    <form name="verificationForm" autocomplete="off">
                    <div class="d-flex flex-column align-items-center mt-4">
                        <div class="mb-1">
                          <label for="exampleInputEnterCode1" class="form-label">Enter OTP</label> <span class="ml-3">{{ timerDisplay }}</span>
                          <div class="form-inline">
                            <input type="text" class="form-control form-control-sm" id="otp1" name="otp1"
                              [(ngModel)]="userReset.otp1" style="width: 30px; margin-right: 10px;" required
                              maxlength="1" (input)="validateNumericInput($event)"
                              (keyup)="moveFocus($event, 'otp2', '')" 
                              title="Only numbers are allowed" />
                            <input type="text" class="form-control form-control-sm" id="otp2" name="otp2"
                              [(ngModel)]="userReset.otp2" style="width: 30px; margin-right: 10px;" required
                              maxlength="1" (input)="validateNumericInput($event)"
                              (keyup)="moveFocus($event, 'otp3', 'otp1')" />
                            <input type="text" class="form-control form-control-sm" id="otp3" name="otp3"
                              [(ngModel)]="userReset.otp3" style="width: 30px; margin-right: 10px;" required
                              maxlength="1" (input)="validateNumericInput($event)"
                              (keyup)="moveFocus($event, 'otp4', 'otp2')" />
                            <input type="text" class="form-control form-control-sm" id="otp4" name="otp4"
                              [(ngModel)]="userReset.otp4" style="width: 30px; margin-right: 10px;" required
                              maxlength="1" (input)="validateNumericInput($event)"
                              (keyup)="moveFocus($event, 'otp5', 'otp3')" />
                            <input type="text" class="form-control form-control-sm" id="otp5" name="otp5"
                              [(ngModel)]="userReset.otp5" style="width: 30px; margin-right: 10px;" required
                              maxlength="1" (input)="validateNumericInput($event)"
                              (keyup)="moveFocus($event, 'otp6', 'otp4')" />
                            <input type="text" class="form-control form-control-sm" id="otp6" name="otp6"
                              [(ngModel)]="userReset.otp6" style="width: 30px;" required maxlength="1"
                              (input)="validateNumericInput($event)" (keyup)="moveFocus($event, '', 'otp5')" />
                          </div>                         
                        </div>
                      </div>
                      <div class="d-flex justify-content-center mt-2" style="height: 20px;" >
                        <p class="mb-0 me-2" [hidden]="remaining>240">Don't receive any mail?</p>
                        <a class="text-primary text-decoration-none" [hidden]="remaining>240" (click)="sendOrResendOtp()">Click to resend</a>
                      </div>
                      <div>
                        <a routerLink="/signin"
                          class="btn btn-light mt-2 w-100 custom-button">
                          Back to Signin
                        </a>
                      </div>
                    </form>
                </div>
              </div>
              <div class="col-lg-6 d-none d-lg-block bg-login-image" *ngIf="stepPassword == 2">
                <div style="margin-top: 8%;text-align: center;color:#fff">
                  <h1 style="font-weight: 500;">Check Your Email for</h1>
                  <h2>verification code to reset password</h2>
                </div>
                <div class="img-responsive">
                  <img src="assets/images/reset-password-img.png" style="height: 300px; margin: 25px; margin-top:12%">
                </div>
              </div><!---------end reset password------->
              <!-----Repeat password--------->
              <div class="col-lg-6" *ngIf="stepPassword == 3">
                <div class="p-5">
                  <div style="text-align: center;">
                    <img src="assets/images/ZOY-logo.svg" style="height: 155px;width: auto;">
                  </div>
                  <div style="text-align: center;" *ngIf="!passwordResetSuccess">
                    <h1 class="h4 text-gray-900 mt-4">Set Password</h1>
                    <h1 class="small">New password must be different from your</h1>
                    <div class="small">previously used passwords</div>
                  </div>
                  <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf='error'>
                    <strong>{{error}}</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>
                  <!-- Input fields for resetting the password -->
                  <form class="mt-4" [formGroup]="form" *ngIf="!passwordResetSuccess" >
                    <div class="mb-3" >
                        <div class="input-group">
                          <input  [type]="viewPassword ? 'text' : 'password'"  class="form-control custom-underline" id="newPassword"  formControlName="newPassword"
                            style="border: 0px solid #d1d3e2;border-bottom: 1px solid #d1d3e2;border-radius: 0px;" 
                            [(ngModel)]="changePasswordDetails.newPassword" [ngClass]="{'is-invalid':submitted && form.controls.newPassword.errors}" 
                            placeholder="New password"  title="New password" autocomplete="off"  required>
                            <span 
                            class="input-group-text" 
                            style="border: 0px solid #d1d3e2;background-color: #fff !important;cursor: pointer;border-bottom: 1px solid #d1d3e2;border-radius: 0px;"
                            (click)="viewPassword=!viewPassword">
                            <i class="fas" [ngClass]="viewPassword ? 'fa-eye-slash' : 'fa-eye'"></i>
                          </span>
                        </div>
                        <div *ngIf="submitted && form.controls.newPassword.errors" class="text-danger">
                          <div *ngIf="form.controls.newPassword.errors?.required">
                            Please enter the new password.
                          </div>
                          <div *ngIf="form.controls.newPassword.errors?.pattern">
                            Please enter a strong new password.
                          </div>
                      </div>
                      </div> 
                      <div class="mb-3">
                        <div class="input-group">
                          <input type="password"  class="form-control custom-underline" id="confirmPassword" placeholder="Confirm password"  formControlName="confirmPassword"
                          [(ngModel)]="changePasswordDetails.confirmPassword" [ngClass]="{'is-invalid':submitted && form.controls.confirmPassword.errors}" 
                            style="border: 0px solid #d1d3e2;border-bottom: 1px solid #d1d3e2;border-radius: 0px;" autocomplete="off" required>
                        </div>
                        <div *ngIf="submitted && form.controls.confirmPassword.errors" class="text-danger">
                          <div *ngIf="submitted  && form.controls.confirmPassword.errors?.required">
                                  Please enter the confirm password.
                          </div>
                      </div>
                      <div *ngIf="submitted && changePasswordDetails.newPassword !== changePasswordDetails.confirmPassword && !form.controls.confirmPassword.errors" class="text-danger">
                          New Passwords do not match.
                        </div>
                      </div>
                  <div class="pl-3 pr-3 mb-2" style="font-size: 14px; color: gray;" >
                      <i class="fa fa-info-circle"></i>
                      <span class="ml-2" >
                        Must be 8-16 characters long, include at least one uppercase letter, one lowercase letter, one number, and one special character.
                      </span>
                    <div class="d-flex justify-content-center ">
                      <button type="submit" class="btn btn-primary-custom mt-2 w-100" (click)="changePassword()">Change Password</button>
                  </div>
                      <a routerLink="/signin"
                          class="btn btn-light mt-2 w-100 custom-button">
                          Back to Signin
                        </a>
                    </div>
                   
                   </form>
                  <!-- Success Message -->
                  <div *ngIf="passwordResetSuccess" class="text-center mt-4">
                    <h5 class="text-success"> Password reset successfully!</h5>
                    <div class="text-success mb-4">
                      <i class="fas fa-check-circle password-success"></i> 
                    </div>
                    <p class="small">You can now use your new password to sign in.</p>
                    <div>
                      <a routerLink="/signin"
                        class="btn btn-light mt-2 w-100 custom-button">
                        Back to Signin
                    </a>
                    </div>
                  </div>
                  </div> 
              </div>
              <div class="col-lg-6 d-none d-lg-block bg-login-image" *ngIf="stepPassword == 3">
                <div style="margin-top: 8%;text-align: center;color:#fff">
                  <h1 style="font-weight: 500;">Set A Strong </h1>
                  <h2>Password To protect</h2>
                  <h2>Your Account</h2>
                </div>
                <div class="img-responsive">
                  <img src="assets/images/reset-new-password-img.png" style="height: 300px; margin: 50px;
                  margin-top:8%">
                </div>
              </div>

              <!---------end repeat password------->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>