<ngx-spinner bdColor="rgba(0,0,0,0.8)" size="medium" color="#fff" type="ball-circus" [fullScreen]="true">
    <p style="color: white;">Loading ...</p>
  </ngx-spinner>
  <div id="page-top">
      <!-- Page Wrapper -->
      <div id="wrapper">    
        <!-- Sidebar -->
          <app-sidebar></app-sidebar>
        <!-- End of Sidebar -->
  
          <!-- Content Wrapper -->
          <div id="content-wrapper" class="d-flex flex-column" [ngClass]=" isExpandSideBar ?'side-bar-expand':'side-bar-collaspe'">
              <!-- Main Content -->
              <div id="content">
                  <div style="display: block;margin-bottom: 5.375rem;">
                  <!-- Topbar -->
                  <app-header></app-header>
                  <!-- End of Topbar -->
                  </div>
  
                  <!-- Begin Page Content -->
                  <div class="container-fluid">
                    <div class="d-sm-flex align-items-center justify-content-between mb-3">
                      <h3 class="h3 mb-0"><span class="text-header-800 text-header-border">Manage</span><span class="text-header-800-blue">Owners</span></h3> 
                      <div class="input-group ml-4 w-75" >
                        <div class="btn-group" role="group" aria-label="Basic outlined example">
                          <button type="button" class="btn btn-outline-secondary" style="font-size: 14px;"><i class="fas fa-filter"></i></button>
                          <button type="button" class="btn btn-outline-secondary" style="color:rgb(56, 56, 56);font-size: 14px;">Filter By</button>
                          <button type="button" class="btn btn-outline-secondary" style="color:rgb(56, 56, 56);font-size: 14px;">Status<i class="fas fa-chevron-down ml-2"></i></button>
                          <button type="button" class="btn btn-outline-secondary" style="color:rgb(252, 93, 93);font-size: 14px;"><i class="fas fa-redo mr-2"></i>Reset Filter</button>
                        </div>
                      </div>
                      <div class="ml-auto">  
                        <div class="input-group">
                          <i class="fas fa-search fa-sm" style="margin-right: -25px;z-index: 1;margin-top: 10px;"></i> 
                          <input type="text" class="form-control form-control-sm  border-1" style="border-radius: 20px;padding-left: 29px;width: 300px;" placeholder="Search"
                                aria-label="Search" aria-describedby="basic-addon2">         
                       </div>                    
                      </div> 
                    </div>

                      <!-- Content Row -->
                      <div class="card shadow mb-3">
                        <div class="card-body" style="display: block;margin: 0px;padding: 2px;" >
                            <div class="scrollable-container-main">
                               <div>
                                <table mat-table [dataSource]="dataSource">
                                  <!-- Zoy Code Column -->
                                  <ng-container matColumnDef="zoyCode">
                                    <th mat-header-cell *matHeaderCellDef style="font-weight: 600;"> ZOY CODE </th>
                                    <td mat-cell *matCellDef="let element"> {{ element.zoyCode }} </td>
                                  </ng-container>
                                
                                  <!-- Owner Name Column -->
                                  <ng-container matColumnDef="ownerName">
                                    <th mat-header-cell *matHeaderCellDef style="font-weight: 600;"> OWNER NAME</th>
                                    <td mat-cell *matCellDef="let element"> {{ element.ownerName }} </td>
                                  </ng-container>
                                
                                  <!-- Email Column -->
                                  <ng-container matColumnDef="email">
                                    <th mat-header-cell *matHeaderCellDef style="font-weight: 600;"> EMAIL ID </th>
                                    <td mat-cell *matCellDef="let element"> {{ element.email }} </td>
                                  </ng-container>
                                
                                  <!-- Contact Column -->
                                  <ng-container matColumnDef="contact">
                                    <th mat-header-cell *matHeaderCellDef style="font-weight: 600;"> CONTACT </th>
                                    <td mat-cell *matCellDef="let element"> {{ element.contact }} </td>
                                  </ng-container>
                                
                                  <!-- Date Column -->
                                  <ng-container matColumnDef="date">
                                    <th mat-header-cell *matHeaderCellDef style="font-weight: 600;"> NO OF PROPERTIES </th>
                                    <td mat-cell *matCellDef="let element"> {{ element.date }} </td>
                                  </ng-container>
                                
                                  <!-- Status Column with Conditional Button Styling -->
                                  <ng-container matColumnDef="status">
                                    <th mat-header-cell *matHeaderCellDef style="font-weight: 600;"> STATUS </th>
                                    <td mat-cell *matCellDef="let element" style="padding: 4px;">
                                      <button mat-button style="width: 100px;"
                                              [ngClass]="element.status === 'Registered' ? 'btn-registered' : 'btn-pending'">
                                        {{ element.status }}
                                      </button>
                                    </td>
                                  </ng-container>            
                                  <ng-container matColumnDef="action">
                                    <th mat-header-cell *matHeaderCellDef> </th>
                                    <td mat-cell *matCellDef="let element" >
                                      <i class="far fa-eye"></i>
                                    </td>
                                  </ng-container>                   
                                  <!-- Header Row -->
                                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                  <!-- Data Row -->
                                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                </table>                              
                               </div>
                            </div>
                       </div>  <!-- End Card Body -->  
                      </div>
                  <!-- /.container-fluid -->
              </div>
              <!-- End of Main Content -->
          </div>
          <!-- End of Content Wrapper -->
     </div>
    <!-- End of Page Wrapper -->
  </div>