<ngx-spinner bdColor="rgba(0,0,0,0.8)" size="medium" color="#fff" type="ball-circus" [fullScreen]="true">
    <p style="color: white;">Loading ...</p>
  </ngx-spinner>
  <div id="page-top">
      <!-- Page Wrapper -->
      <div id="wrapper">
        <!-- Sidebar -->
        <app-sidebar></app-sidebar>
        <!-- End of Sidebar -->
  
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column" [ngClass]=" isExpandSideBar ?'side-bar-expand':'side-bar-collaspe'">
            <!-- Main Content -->
            <div id="content">
                  <div style="display: block;margin-bottom: 5.375rem;">
                  <!-- Topbar -->
                  <app-header></app-header>
                  <!-- End of Topbar -->
                  </div>
  
                <!-- Begin Page Content -->
                <div class="container-fluid" style="margin-top: -5px;">
                    <div>
                    <div class="d-flex mb-1">
                      <h3 class="h3 mb-0"><span class="text-header-800 text-header-border">Bulk</span><span class="text-header-800-blue">Upload</span></h3> 
                      
                    </div>
                    <div class="d-flex mt-2 mb-0" style="padding: 10px 10px 0px 0px;">
                      <div style="border:1px solid#dbdbdb;border-radius: 5px; padding:5px" class="w-100">
                      <form [formGroup]="form">                 
                        <div class="pl-2 row">
                          <div class="col-sm-3">
                            <div class="form-group">
                              <label for="fileName" class="col-form-label" style="font-size: 13px;" >Owner Name</label>
                                <input 
                                  class="form-select form-select-sm" 
                                  type="search" 
                                  placeholder="Search Owner" 
                                  [formControl]="ownerSearchControl" 
                                  aria-label="Search Owner" 
                                  matInput 
                                  [matAutocomplete]="ownerAuto"
                                  formControlName="ownerName"
                                  [ngClass]="{'is-invalid':submitted && selectedOwner == null}"  style="font-size: 12px;" />
                            
                              <mat-autocomplete #ownerAuto="matAutocomplete">
                                <mat-option *ngFor="let owner of filteredOwners | async" [value]="owner.ownerName" (click)="selectOwner(owner)">
                                  {{ owner.ownerName }}
                                </mat-option>
                              </mat-autocomplete>

                               </div>
                            <div style="height: 30px;margin-top:-15px;"> 
                              <div style="font-size: 12px;" *ngIf="submitted && selectedOwner == null" class="text-danger">
                                  Owner Name is required
                                </div>
                            </div>
                          </div>
                          <div class="col-sm-2"  style="margin-left:-15px;">
                            <div class="form-group">
                              <label for="fileName" class="col-form-label" style="font-size: 13px;">Property Name</label>
                            
                                <select class="form-select form-select-sm" (change)="selectProperty($event)" [disabled] ="!selectedOwner"  style="font-size: 12px;"
                                formControlName="propertyname" [ngClass]="{'is-invalid':submitted && selectedProperty == null}">
                                  <option value="" disabled selected>Select Property</option>
                                  <option *ngFor="let property of selectedOwner?.property_details" [value]="property.propertyId">
                                    {{ property.propertyname }}
                                  </option>
                                </select>
                          
                                </div>
                            <div style="height: 30px;margin-top:-15px;"> 
                              <div style="font-size: 12px;" *ngIf="submitted && selectedProperty == null" class="text-danger">
                                  Property Name is required
                                </div>
                            </div>
                          </div>
                          <div class="col-sm-2" style="margin-left:-15px">
                                <div class="form-group">
                                  <label for="category" class="col-form-label" style="font-size: 13px;">Category</label>
                                  <select class="form-select form-select-sm" [(ngModel)]="bulkUpload.category" id="category" formControlName="category"  style="font-size: 12px;"
                                  [ngClass]="{'is-invalid':submitted && form.controls.category.errors}">                                             
                                    <option value="Tenant">Tenant</option>
                                    <option value="PG Property">PG Property</option>
                                  </select> 
                                </div>
                               <div style="height: 30px;margin-top:-15px;"> 
                                <div *ngIf="submitted && form.controls.category.errors" class="text-danger">
                                <div style="font-size: 12px;" *ngIf="submitted && form.controls.category.errors.required">
                                  Category is required
                                </div>
                                </div>
                              </div>
                          </div>                            
                            <div class="col-sm-4" style="margin-left:-15px">
                              <div class="form-group">                                             
                                <div class="input-group"  style="padding-top:32px;">                                    
                                  <input class="form-control form-control-sm" id="formFile" type="file" (change)="onFileChange($event)" style="font-size: 12px;"
                                  formControlName="reqDocument" 
                                      [ngClass]="{'is-invalid':submitted && (form.controls.reqDocument.errors || filevali)}">
                                  <!-- <label for="formFile"class="btn btn-secondary">Browse</label> -->
                                </div>
                              </div>
                              <div style="height: 30px;margin-top:-15px;">  
                                <p style="color: rgb(194, 5, 178);font-size: 12px;" *ngIf="!filevali">(Allows only csv file for tenant/excel file for property )</p> 
                                <div  style="font-size: 13px;" *ngIf="submitted && filevali " class="text-danger"  style="font-size: 12px;">
                                  File format is inavalid <span *ngIf="bulkUpload.category=='Tenant'">, Allows only csv file</span> <span *ngIf="bulkUpload.category=='PG Property'">, Allows only excel file</span>
                                </div>
                              </div>
                             </div>                                      
                              <div class="col-sm-1" style="padding-top: 32px;" >                                            
                                <button type="submit" class="btn btn-primary-custom btn-sm" (click)="submitUploadFile()"  *ngIf="rolesArray.includes('BULK_UPLOAD_WRITE')"  style="font-size: 12px;">Submit</button>
                              </div>
                          </div>
                      </form>
                      </div>
                     <div class="ml-auto" style="width:100px;padding-left: 10px;">
                        <div style="margin-top: 12px;">
                           <a  href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#sampleFileDownload"  class="btn btn-primary btn-sm mr-2 mb-1"  style="font-size: 12px;width: 100px;">Instructions</a>
                             <div class="dropdown no-arrow">
                               <a class="dropdown-toggle btn btn-secondary btn-sm mt-1" href="javascript:void(0)" role="button" id="dropdownMenuSample" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"  style="font-size: 12px;"><span>Sample Files</span>
                                <i class="fas fa-angle-down ml-2 mt-1"></i> </a>                           
                               <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuSample">
                                <a class="dropdown-item" href="javascript:void(0)" (click)="downloadSamples('Tenent_sample_File.csv')" >Tenant</a>
                                <a class="dropdown-item" href="javascript:void(0)" (click)="downloadSamples('PG_properties_sample_file.xlsx')">PG Properties</a>
                              </div>
                            </div>
                        </div>
                     </div>
                    </div>
              
                    </div>
                    <div class="row mt-2">
                        <div class="col-xl-12 col-lg-12">
                            <div class="card shadow mb-3"> 
                              <div class="card-body" style="display: block;margin: 0px;padding: 2px;">
                                  <div class="scrollable-container-main">
                                    <div>
                                    <table mat-table [dataSource]="dataSource" >
                                      <!-- File Name Column -->
                                      <ng-container matColumnDef="ownerName">
                                        <th mat-header-cell *matHeaderCellDef  style="font-weight: 600;">OWNER</th>
                                        <td mat-cell *matCellDef="let element">{{ element.ownerName }}</td>
                                      </ng-container>
                                      <ng-container matColumnDef="propertyName">
                                        <th mat-header-cell *matHeaderCellDef  style="font-weight: 600;">Property</th>
                                        <td mat-cell *matCellDef="let element">{{ element.propertyName }}</td>
                                      </ng-container>
                                      <ng-container matColumnDef="fileName">
                                        <th mat-header-cell *matHeaderCellDef  style="font-weight: 600;">FILE NAME</th>
                                        <td mat-cell *matCellDef="let element">{{ element.fileName }}</td>
                                      </ng-container>
                                    
                                      <!-- Category Column -->
                                      <ng-container matColumnDef="category">
                                        <th mat-header-cell *matHeaderCellDef  style="font-weight: 600;">CATEGORY</th>
                                        <td mat-cell *matCellDef="let element">{{ element.category }}</td>
                                      </ng-container>
                              
                                      <!-- Status Column -->
                                      <ng-container matColumnDef="status">
                                        <th mat-header-cell *matHeaderCellDef  style="font-weight: 600;">STATUS</th>
                                        <td mat-cell *matCellDef="let element">{{ element.status }}</td>
                                      </ng-container>
                              
                                      <!-- createdAt Column -->
                                      <ng-container matColumnDef="createdAt">
                                        <th mat-header-cell *matHeaderCellDef  style="font-weight: 600;">CREATE DATE</th>
                                        <td mat-cell *matCellDef="let element">{{ element.createAt }}</td>
                                      </ng-container>
                              
                              
                                      <!-- Header and Row Definitions -->
                                      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                                      <tr mat-row *matRowDef="let element; columns: displayedColumns;"></tr>
                                    </table>
                                    
                                    <div style="text-align: center; min-height: 45px; padding-top: 10px;" *ngIf="dataSource.data.length === 0">
                                      No records found
                                    </div>
                                  </div>
                                </div>
                              
                                <!-- Pagination -->
                                <mat-paginator #paginator [length]="dataSource.data.length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" showFirstLastButtons></mat-paginator>
                              </div>
                              
                                
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" #openModel hidden>
                      Open modal
                    </button>
                    
                    <div class="modal fade" id="exampleModal"  tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"  data-bs-backdrop="static">
                      <div class="modal-dialog modal-lg modal-dialog-scrollable" >
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel" >Upload File Error</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="getUploadFileDetails()"></button>
                          </div>
                          <div class="modal-body">
                            <table class="table">
                              <thead>
                                <tr>
                                  <th scope="col">Row Number</th>
                                  <th scope="col">Field</th>
                                  <th scope="col">Description</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let error of uploadErrorModalList">
                                  <td>{{ error.row }}</td>
                                  <td>{{ error.field }}</td>
                                  <td>{{ error.error_description }}</td>
                                </tr>
                              </tbody>
                             </table>
                           </div>
                           <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="getUploadFileDetails()">Close</button>
                          </div>
                        </div>
                      </div>
                    </div>
                 </div>
                <!-- /.container-fluid -->
            </div>
            <!-- End of Main Content -->
        </div>
        <!-- End of Content Wrapper -->
      </div>
    <!-- End of Page Wrapper -->
  </div>
  
<!-----Sample File Download Model------>
  <div class="modal fade" id="sampleFileDownload" tabindex="-2" data-bs-backdrop="static" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true" data-whatever="@mdo">
    <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable" role="document">
      <div class="modal-content bg" >
        <div class="modal-header">
          <h5 class="modal-title" id="formtitle">Files Description / Instructions</h5>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <h5 style="color: rgb(247, 83, 83); justify-content: start;">*The names and order of the columns must be kept the same.</h5>
            <br>
            <div>
              <div style="display: flex; flex-direction: row; align-items: center;  ">
                <h5 style="flex:1;">Tenant</h5>
                <button mat-mini-fab  color="accent" class="mr-1" title="Click to download the file" [disabled]="'Tenent_sample_File.csv' === downloading" (click)="downloadSamples('Tenent_sample_File.csv')"><i class="fa fa-download"></i></button>
              </div>
            <div style="justify-content: start; text-justify: auto;"><p>Tenant Details upload sheet consists of the First Name,Last Name,Phone Number,eMail,Date Of Birth,Gender,Permanent Address,In Date,Out Date,Floor,Room,Bed Number ,Deposit Paid,Rent Paid in .csv format. Follow the instructions on fields strength and data validation given in the row-2. For successfull upload avoid changing the file format, column headers(First Two Rows) or their order to prevent upload errors.</p></div>
           </div>
          <div>
            <div style="display: flex; flex-direction: row; align-items: center;">
              <h5 style="flex:1;">PG Property</h5>
              <button mat-mini-fab  color="accent" class="mr-1" title="Click to download the file" [disabled]="'PG_properties_sample_file.xlsx' === downloading" (click)="downloadSamples('PG_properties_sample_file.xlsx')"><i class="fa fa-download"></i> </button>
            </div>
            <div style="justify-content: start; text-justify: auto;"><p>PG Proprty Details upload sheet consists of the Room Area in Sqft, Available Bed Numbers, Occupied Bed Numbers, Daily Rent, Monthly Rent[Old tariff], Room Amenities, Remarks About Room in .xlsx format. Make sure the available and occupied bed numbers are given correctly without any duplication to avoid creating data missmatch. Follow the instructions on fields strength and data validation given in the row-2. For successfull upload avoid changing the file format, column headers(First Two Rows) or their order to prevent upload errors.</p></div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
 