
.red-text {
    color: red;
  }
  
  .blink {
    animation: blink 1s infinite;
  }
  
  @keyframes blink {
    50% {
      opacity: 0;
    }
  }
  .notification-list {
    padding: 4px; 
}

.notification-item {
    padding: 3px 7px; 
    margin-bottom: 4px; 
    border-radius: 5px; 
    /* background-color: #f8f9fa;  */
    text-decoration: none; 
}

