<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 fixed-top-expand">
  <h1 class="h3 mb-0 text-gray-800" style="width: 200px;">Admin Portal</h1>

  <!-- Topbar Search -->
  <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
  <div class="input-group">
    <i class="fas fa-search fa-sm" style="margin-right: -25px;z-index: 1;margin-top: 10px;"></i> 
    <input type="text" class="form-control bg-light border-1 small" style="border-radius: 20px;padding-left: 29px;" placeholder="Search"
          aria-label="Search" aria-describedby="basic-addon2">         
  </div>
  </form>
  <!-- Topbar Navbar -->
  <ul class="navbar-nav ml-auto">
      <!-- Nav Item - Alerts -->
      <li class="nav-item dropdown no-arrow mx-1">
          <a class="nav-link dropdown-toggle" href="javascript:void(0)" id="alertsDropdown" role="button"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-bell fa-fw"></i>
              <!-- Counter - Alerts -->
              <span class="badge badge-danger badge-counter">3+</span>
          </a>
          <!-- Dropdown - Alerts -->
          <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
              aria-labelledby="alertsDropdown">
              <h6 class="dropdown-header">
                  Alerts Center
              </h6>
              <a class="dropdown-item d-flex align-items-center" href="javascript:void(0)">
                  <div class="mr-3">
                      <div class="icon-circle bg-primary">
                          <i class="fas fa-file-alt text-white"></i>
                      </div>
                  </div>
                  <div>
                      <div class="small text-gray-500">December 12, 2019</div>
                      <span class="font-weight-bold">A new monthly report is ready to download!</span>
                  </div>
              </a>
              <a class="dropdown-item d-flex align-items-center" href="javascript:void(0)">
                  <div class="mr-3">
                      <div class="icon-circle bg-success">
                          <i class="fas fa-donate text-white"></i>
                      </div>
                  </div>
                  <div>
                      <div class="small text-gray-500">December 7, 2019</div>
                      $290.29 has been deposited into your account!
                  </div>
              </a>
              <a class="dropdown-item d-flex align-items-center" href="javascript:void(0)">
                  <div class="mr-3">
                      <div class="icon-circle bg-warning">
                          <i class="fas fa-exclamation-triangle text-white"></i>
                      </div>
                  </div>
                  <div>
                      <div class="small text-gray-500">December 2, 2019</div>
                      Spending Alert: We've noticed unusually high spending for your account.
                  </div>
              </a>
              <a class="dropdown-item text-center small text-gray-500" href="javascript:void(0)">Show All Alerts</a>
          </div>
      </li>

      <div class="topbar-divider d-none d-sm-block"></div>
      <!-- Nav Item - User Information -->
      <li class="nav-item dropdown no-arrow">
          <a class="nav-link" href="javascript:void(0)" id="userDropdown" role="button"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <div class="profile-top"> 
                {{userInfo?.firstName?.charAt(0).toUpperCase()}}
            </div>
              <!-- <img class="img-profile rounded-circle"
                  src="assets/images/undraw_profile.svg"> -->
            <span class="ml-2 d-none d-lg-inline text-gray-600 small text-truncate" style="width: 100px;">{{userInfo?.firstName}} {{userInfo?.lastName}}</span>
            <i class="fas fa-chevron-circle-down text-gray-500"></i>
          </a>
          <!-- Dropdown - User Information -->
          <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
              aria-labelledby="userDropdown">
              <h6 class="dropdown-header align-items-center" style="border-bottom: 1px solid rgb(207, 206, 206);">{{userInfo?.firstName}} {{userInfo?.lastName}}</h6>
              <a class="dropdown-item" href="javascript:void(0)" routerLink="/profile">
                  <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                  Profile
              </a>
              <a class="dropdown-item" href="javascript:void(0)" routerLink="/settings">
                  <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                  Settings
              </a>
              <a class="dropdown-item" href="javascript:void(0)" routerLink="/activity-log">
                  <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                  Activity Log
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="javascript:void(0)" (click)="doSignout()" data-toggle="modal" data-target="#logoutModal">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Logout
              </a>
          </div>
      </li>
  </ul>
</nav>
