
.red-text {
    color: red;
  }
  
  .blink {
    animation: blink 1s infinite;
  }
  
  @keyframes blink {
    50% {
      opacity: 0;
    }
  }

  .fa-bell::before{
    color: #8b67de;
    font-size: 27px;
  }
.notifications-Count{
  font-size: 16px;
  margin-bottom: 5px;
  margin-right: -3px;
}
  