<div class="bg-gradient-dark">
  <div class="container">
    <!-- Outer Row -->
    <div class="row justify-content-center" style="margin: 0px;">
      <div class="col-xl-10 col-lg-12 col-md-9">
        <div class="card o-hidden border-0 shadow-lg my-3">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row" style="height:calc(100vh - 35px);">
              <div class="col-lg-6" *ngIf="stepPassword == 1">
                <div class="p-5">
                  <div style="text-align: center;">
                    <img src="assets/images/ZOY-logo.svg" style="height: 155px;width: auto;">
                  </div>
                  <div style="text-align: center;">
                    <h1 class="h4 text-gray-900 mt-4">Forgot Password</h1>
                    <div class="small mb-4">Enter mail id to receive verification code</div>
                  </div>
                  <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf='error'>
                    <strong>{{error}}</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>
                  <form [formGroup]="form" (ngSubmit)="doRegister()" autocomplete="off" style="text-align: center;">
                    <div class="form-group" *ngIf="stepPassword == 1">
                      <!-- <label for="email">Email address</label> -->
                      <div class="form-group">
                        <input type="email" class="form-control custom-underline" id="email" name="email"
                          placeholder="Enter personal Email" [(ngModel)]="userReset.email" autocomplete="off"
                          [ngClass]="{'is-invalid':submitted && form.controls.email.errors}" maxlength="100" />
                      </div>
                      <div>
                        <button type="button" class="btn btn-primary-custom mt-2 w-100" (click)="sendOrResendOtp()"
                          [disabled]="!userReset.email" >Reset Password
                        </button>
                      </div>
                      <div>
                        <button 
                          type="button" href="#"
                          class="btn btn-light mt-2 w-100 custom-button"
                        >
                          Back to SignIn
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <div class="col-lg-6 d-none d-lg-block bg-login-image" *ngIf="stepPassword == 1">
                <div style="margin-top: 8%;text-align: center;color:#fff">
                  <h1 style="font-weight: 500;">Reset Your ZOY Admin</h1>
                  <h2>Password For</h2>
                  <h2>Account Access</h2>
                </div>
                <div class="img-responsive">
                  <img src="assets/images/forgot-pasword-img.png" style="height: 300px; margin: 25px;
                margin-top:8%">
                </div>
              </div>
             <!-------reset passWord----->
              <div class="col-lg-6" *ngIf="stepPassword == 2">
                <div class="p-5">
                  <div style="text-align: center;">
                    <img src="assets/images/ZOY-logo.svg"style="height: 155px;width: auto;">
                  </div>
                  <div style="text-align: center;">
                    <h1 class="h4 text-gray-900 mt-4">Check Your Email</h1>
                    <h1 class="small">Enter The verification Code sent to</h1>
                    <h1 class="small">xxxxxyyyyyygmail to Reset Your Password</h1>
                  </div>
                  <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf='error'>
                    <strong>{{error}}</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>
                  <form [formGroup]="form" (ngSubmit)="doRegister()" autocomplete="off">
                    <form name="verificationForm">
                    <div class="d-flex flex-column align-items-center mt-4">
                        <div class="mb-1">
                          <label for="exampleInputEnterCode1" class="form-label">Enter OTP</label>
                          <div class="form-inline">
                            <input type="text" class="form-control form-control-sm" id="otp1" name="otp1"
                              [(ngModel)]="userReset.otp1" style="width: 30px; margin-right: 10px;" required
                              maxlength="1" (input)="validateNumericInput($event)"
                              (keyup)="moveFocus($event, 'otp2', '')" pattern="[0-9]"
                              title="Only numbers are allowed" />
                            <input type="text" class="form-control form-control-sm" id="otp2" name="otp2"
                              [(ngModel)]="userReset.otp2" style="width: 30px; margin-right: 10px;" required
                              maxlength="1" (input)="validateNumericInput($event)"
                              (keyup)="moveFocus($event, 'otp3', 'otp1')" />
                            <input type="text" class="form-control form-control-sm" id="otp3" name="otp3"
                              [(ngModel)]="userReset.otp3" style="width: 30px; margin-right: 10px;" required
                              maxlength="1" (input)="validateNumericInput($event)"
                              (keyup)="moveFocus($event, 'otp4', 'otp2')" />
                            <input type="text" class="form-control form-control-sm" id="otp4" name="otp4"
                              [(ngModel)]="userReset.otp4" style="width: 30px; margin-right: 10px;" required
                              maxlength="1" (input)="validateNumericInput($event)"
                              (keyup)="moveFocus($event, 'otp5', 'otp3')" />
                            <input type="text" class="form-control form-control-sm" id="otp5" name="otp5"
                              [(ngModel)]="userReset.otp5" style="width: 30px; margin-right: 10px;" required
                              maxlength="1" (input)="validateNumericInput($event)"
                              (keyup)="moveFocus($event, 'otp6', 'otp4')" />
                            <input type="text" class="form-control form-control-sm" id="otp6" name="otp6"
                              [(ngModel)]="userReset.otp6" style="width: 30px;" required maxlength="1"
                              (input)="validateNumericInput($event)" (keyup)="moveFocus($event, '', 'otp5')" />
                          </div>                         
                        </div>
                      </div>
                      <div class="d-flex justify-content-center mt-2">
                        <p class="mb-0 me-2">Don't receive any mail?</p>
                        <a class="text-primary text-decoration-none" (click)="verifyOtp()">Click to resend</a>
                      </div>
                    </form>
                  </form>
                </div>
              </div>
              <div class="col-lg-6 d-none d-lg-block bg-login-image" *ngIf="stepPassword == 2">
                <div style="margin-top: 8%;text-align: center;color:#fff">
                  <h1 style="font-weight: 500;">Check Your Email for</h1>
                  <h2>Reset Password Link</h2>
                </div>
                <div class="img-responsive">
                  <img src="assets/images/reset-password-img.png" style="height: 300px; margin: 25px; margin-top:12%">
                </div>
              </div><!---------end reset password------->
              <!-----Repeat paaword--------->
              <div class="col-lg-6" *ngIf="stepPassword == 3">
                <div class="p-5">
                  <div style="text-align: center;">
                    <img src="assets/images/ZOY-logo.svg" style="height: 155px;width: auto;">
                  </div>
                  <div style="text-align: center;">
                    <h1 class="h4 text-gray-900 mt-4">Set Password</h1>
                    <h1 class="small">New password must be different from your</h1>
                    <div class="small">previously used passwords</div>
                  </div>
                  <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf='error'>
                    <strong>{{error}}</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>
                
                  <!-- Input fields for resetting the password -->
                  <form class="mt-4">
                    <div class="mb-3">
                      <div class="input-group">
                        <input 
                          [type]="showNewPassword ? 'text' : 'password'" 
                          class="form-control custom-underline" 
                          id="newPassword" 
                          style="border: 0px solid #d1d3e2;border-bottom: 1px solid #d1d3e2;border-radius: 0px;" 
                          placeholder="New password" 
                          autocomplete="off" 
                          [ngClass]="{'is-invalid': submitted && form.controls.newPassword.errors}" 
                          required>
                        <span 
                          class="input-group-text" 
                          style="border: 0px solid #d1d3e2;background-color: #fff !important;cursor: pointer;border-bottom: 1px solid #d1d3e2;border-radius: 0px;" 
                          (click)="togglePasswordVisibility('new')">
                          <i class="fas" [ngClass]="showNewPassword ? 'fa-eye-slash' : 'fa-eye'"></i>
                        </span>
                      </div>
                    </div>
                    
                    <div class="mb-3">
                      <div class="input-group">
                        <input 
                          [type]="showConfirmPassword ? 'text' : 'password'" 
                          class="form-control custom-underline" 
                          id="confirmPassword" 
                          style="border: 0px solid #d1d3e2;border-bottom: 1px solid #d1d3e2;border-radius: 0px;" 
                          placeholder="Confirm password" 
                          autocomplete="off" 
                          [ngClass]="{'is-invalid': submitted && form.controls.confirmPassword.errors}" 
                          required>
                        <span 
                          class="input-group-text" 
                          style="border: 0px solid #d1d3e2;background-color: #fff !important;cursor: pointer;border-bottom: 1px solid #d1d3e2;border-radius: 0px;" 
                          (click)="togglePasswordVisibility('confirm')">
                          <i class="fas" [ngClass]="showConfirmPassword ? 'fa-eye-slash' : 'fa-eye'"></i>
                        </span>
                      </div>
                    </div>
                    <button type="submit" class="btn btn-primary-custom w-100">Reset Password</button>
                  </form>
                </div>
                
              </div>
              <div class="col-lg-6 d-none d-lg-block bg-login-image" *ngIf="stepPassword == 3">
                <div style="margin-top: 8%;text-align: center;color:#fff">
                  <h1 style="font-weight: 500;">Set A Strong </h1>
                  <h2>Password To protect</h2>
                  <h2>Your Accout</h2>
                </div>
                <div class="img-responsive">
                  <img src="assets/images/reset-new-password-img.png" style="height: 300px; margin: 50px;
                  margin-top:8%">
                </div>
              </div>
              <!---------end repeat password------->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>