/* Registered status button styling - small size */
.common-status {
  width: 100px;
  display: inline-block;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
}

.btn-registered {
  background-color:  #cefbf5;
  color:  #246359;
}

.btn-pending {
  background-color:#e6dff7; 
    color: #470ecf;
}

  /* Style the scrollbar for vertical and horizontal scrollbars */
.scrollable-container::-webkit-scrollbar,.scrollable-container-main::-webkit-scrollbar {
  width: 8px; 
  height: 8px;
}

.scrollable-container::-webkit-scrollbar-thumb ,.scrollable-container-main::-webkit-scrollbar-thumb {
  background-color: #888;  
  border-radius: 10px;     /* Rounded corners */
}

.scrollable-container::-webkit-scrollbar-thumb:hover,.scrollable-container-main::-webkit-scrollbar-thumb:hover {
  background-color: #555;  /* Darker color on hover */
}

/* Set styles for the scrollable container */
.scrollable-container {
  max-height: calc(100vh - 90px);  /* Set a max height to enable vertical scrolling */
  overflow-y: auto;   /* Enable vertical scrolling */
  overflow-x: auto;  /* Enable horizontal scrolling */
  padding-right: 1px; /* Optional: prevent scrollbar overlap */
  box-sizing: border-box; /* Prevents padding from affecting width */
}

/* Set styles for the scrollable container */
.scrollable-container-main {
  height: calc(100vh - 164px);  /* Set a max height to enable vertical scrolling */
  overflow-y: auto;   /* Enable vertical scrolling */
  overflow-x: auto;   /* Enable horizontal scrolling */
  padding-right: 1px; /* Optional: prevent scrollbar overlap */
  box-sizing: border-box; /* Prevents padding from affecting width */
}
::ng-deep .small-toggle .mat-button-toggle-checked {
  background-color: #4CAF50 !important;
  color: white !important;              
}
::ng-deep .small-toggle .mat-button-toggle {
  font-size: 0.75rem;
  height: 27px;
}

::ng-deep .mat-button-toggle-label-content{
  padding: 0 9px;
  line-height: normal !important;
  
}


