/* Make sure offcanvas body has enough height */
.offcanvas-body {
    height: 100%; /* Full height of the offcanvas */
    padding: 0 10px; /* Optional: Padding to avoid content touching edges */
    overflow-y: auto; /* Ensure content scrolls if necessary */
}

/* Style the scrollbar for vertical and horizontal scrollbars */
.scrollable-container::-webkit-scrollbar,.scrollable-container-main::-webkit-scrollbar {
    width: 8px;  /* Width of the vertical scrollbar */
    height: 8px; /* Height of the horizontal scrollbar */
}

.scrollable-container::-webkit-scrollbar-thumb ,.scrollable-container-main::-webkit-scrollbar-thumb {
    background-color: #888;  /* Color of the scrollbar */
    border-radius: 10px;     /* Rounded corners */
}

.scrollable-container::-webkit-scrollbar-thumb:hover,.scrollable-container-main::-webkit-scrollbar-thumb:hover {
    background-color: #555;  /* Darker color on hover */
}

/* Set styles for the scrollable container */
.scrollable-container {
    max-height: calc(100vh - 220px);  /* Set a max height to enable vertical scrolling */
    overflow-y: auto;   /* Enable vertical scrolling */
    overflow-x: auto;   /* Enable horizontal scrolling */
    padding-right: 10px; /* Optional: prevent scrollbar overlap */
    box-sizing: border-box; /* Prevents padding from affecting width */
}

/* Set styles for the scrollable container */
.scrollable-container-main {
    max-height: calc(100vh - 290px);  /* Set a max height to enable vertical scrolling */
    overflow-y: auto;   /* Enable vertical scrolling */
    overflow-x: auto;   /* Enable horizontal scrolling */
    padding-right: 10px; /* Optional: prevent scrollbar overlap */
    box-sizing: border-box; /* Prevents padding from affecting width */
}

/* Ensure proper row structure */
.row {
    display: flex; /* Ensures row items are aligned correctly */
    flex-wrap: nowrap; /* Prevent row items from wrapping */
    width: 100%; /* Ensure it takes up full width */
}

.col-sm-8, .col-sm-2 {
    box-sizing: border-box; /* Ensures columns don't overflow */
    padding: 0 8px; /* Optional: Prevent padding from affecting layout */
}

.btn-group .btn {
    margin-right: 10px; /* Adds space between the buttons */
}

.btn-group .btn:last-child {
    margin-right: 0; /* Removes right margin from the last button */
}