<ngx-spinner bdColor="rgba(0,0,0,0.8)" size="medium" color="#fff" type="ball-circus" [fullScreen]="true">
    <p style="color: white;">Loading ...</p>
  </ngx-spinner>
  <div id="page-top">
      <!-- Page Wrapper -->
      <div id="wrapper">    
        <!-- Sidebar -->
          <app-sidebar></app-sidebar>
        <!-- End of Sidebar -->
  
          <!-- Content Wrapper -->
          <div id="content-wrapper" class="d-flex flex-column" [ngClass]=" isExpandSideBar ?'side-bar-expand':'side-bar-collaspe'">
              <!-- Main Content -->
              <div id="content">
                  <div style="display: block;margin-bottom: 5.375rem;">
                  <!-- Topbar -->
                  <app-header></app-header>
                  <!-- End of Topbar -->
                  </div>
  
                  <!-- Begin Page Content -->
                  <div class="container-fluid">
                      <!-- Page Heading -->
                      <div class="d-flex mb-1">
                          <!-- <h3 class="h3 mb-0"><span class="text-header-800 text-header-border">User Audit</span></h3> -->
                          <h3 class="h3 mb-0"><span class="text-header-800 text-header-border">User</span><span class="text-header-800-blue">Audit</span></h3>  
                          <div class="ml-auto">
                            <div class="d-flex justify-content-end">
                            <!-- Search User -->
                            <div class="form-group mr-2">
                              <input class="form-select form-select-sm" style="width: 150px;" type="search" placeholder="Select User" [formControl]="searchControl" aria-label="Select User" [matAutocomplete]="userAuto" formControlName="username" [(ngModel)]="username"/>
                              <mat-autocomplete #userAuto="matAutocomplete">
                                <mat-option *ngFor="let user of filteredUsers | async" [value]="user.username" >
                                  {{ user.username }}
                                </mat-option>
                              </mat-autocomplete>
                            </div>                          
                            <!-- Select Type -->
                            <div class="form-group mr-2">
                              <input class="form-select form-select-sm" style="width: 200px;" type="search" placeholder="Select Type" [formControl]="searchActivitiesControl" aria-label="Select Type" [matAutocomplete]="typeAuto" formControlName="type"  [(ngModel)]="selectedValue"/>
                              <mat-autocomplete #typeAuto="matAutocomplete">
                                <mat-option *ngFor="let activities of filteredActivities | async" [value]="activities.value">
                                  {{ activities.value }}
                                </mat-option>
                              </mat-autocomplete>
                            </div>
                            <!-- Search by Keyword for user audit -->
                            <div class="form-group mr-2">
                              <input type="text" class="form-control form-control-sm" style="width: 250px; border-radius: 20px; padding-left: 15px;" placeholder="Search by keyword for user audit" [(ngModel)]="searchText" maxlength="30" aria-label="Search"/>
                            </div>
                            <!-- Search Button -->
                            <div class="form-group mr-2">
                              <button type="button" class="btn btn-primary btn-sm" (click)="submit()"><i class="fa fa-search"></i></button>
                            </div>
                            <!-- Download Options -->
                            <div class="form-group">
                              <select class="form-select form-select-sm" [(ngModel)]="downloadType" (ngModelChange)="download()">
                                <option value="" disabled>Download</option>
                                <option value="excel">As Excel</option>
                                <option value="csv">As CSV</option>
                              </select>
                            </div>
                          </div>
                          </div>
                      </div>
  
                      <!-- Content Row -->
                          <div class="row">
                              <!-- Card with 8 columns width -->
                              <div class="col-xl-12 col-md-12 mb-2">                               
                                  <div>
                                      <div class="card">
                                          <div class="card-body" style="padding:2px; margin:0px;">
                                              <div style="max-height: calc(100vh - 207px); overflow: auto;">
                                                  <div class="desc-inner" style="height: calc(100vh - 207px);">
                                                      <table mat-table [dataSource]="dataSource" matSort (matSortChange)="onSortData($event)" 
                                                      matSortActive="created_on" matSortDirection="asc" multiTemplateDataRows>
                                                         <!-- created date Column -->
                                                          <ng-container matColumnDef="created_on">
                                                              <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 260px;">
                                                                CREATED ON
                                                                <span style="margin-left: 2px;">
                                                                  <i class="fas fa-lg fa-sort-up sorting-normal-color" [ngClass]="{'sorting-selected-color': columnSortDirections['created_on'] === 'asc' }"></i>
                                                                  <i class="fas fa-lg fa-sort-down sorting-normal-color" style="margin-left:-11px" [ngClass]="{'sorting-selected-color': columnSortDirections['created_on'] === 'desc'}"></i> 
                                                                </span>
                                                              </th>
                                                              <td mat-cell *matCellDef="let element" style="width: 260px;">
                                                                {{ element.created_on }}
                                                              </td>
                                                            </ng-container>
                                                            <!-- user name Column -->
                                                            <ng-container matColumnDef="user_name">
                                                                <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 200px;">
                                                                  USER NAME
                                                                  <span style="margin-left: 2px;">
                                                                    <i class="fas fa-lg fa-sort-up sorting-normal-color" [ngClass]="{'sorting-selected-color': columnSortDirections['user_name'] === 'asc' }"></i>
                                                                    <i class="fas fa-lg fa-sort-down sorting-normal-color" style="margin-left:-11px" [ngClass]="{'sorting-selected-color': columnSortDirections['user_name'] === 'desc'}"></i> 
                                                                  </span>
                                                                </th>
                                                                <td mat-cell *matCellDef="let element" style="width: 200px;">
                                                                  {{ element.user_name }}
                                                                </td>
                                                              </ng-container>
                                                                 <!-- type Column -->
                                                              <ng-container matColumnDef="type">
                                                                <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 200px;">
                                                                 TYPE
                                                                  <span style="margin-left: 2px;">
                                                                    <i class="fas fa-lg fa-sort-up sorting-normal-color" [ngClass]="{'sorting-selected-color': columnSortDirections['type'] === 'asc' }"></i>
                                                                    <i class="fas fa-lg fa-sort-down sorting-normal-color" style="margin-left:-11px" [ngClass]="{'sorting-selected-color': columnSortDirections['type'] === 'desc'}"></i> 
                                                                  </span>
                                                                </th>
                                                                <td mat-cell *matCellDef="let element" style="width: 200px;">
                                                                  {{ element.type }}
                                                                </td>
                                                              </ng-container>
                                                            
                                                            <!-- Activity Column -->
                                                            <ng-container matColumnDef="history_data">
                                                              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                                                ACTIVITY
                                                                <span style="margin-left: 2px;">
                                                                  <i class="fas fa-lg fa-sort-up sorting-normal-color" [ngClass]="{'sorting-selected-color': columnSortDirections['history_data'] === 'asc' }"></i>
                                                                  <i class="fas fa-lg fa-sort-down sorting-normal-color" style="margin-left:-11px" [ngClass]="{'sorting-selected-color': columnSortDirections['history_data'] === 'desc'}"></i> 
                                                                </span>
                                                              </th>
                                                              <td mat-cell *matCellDef="let element">
                                                                {{ element.history_data }}
                                                              </td>
                                                            </ng-container>                                        
                                                          <!-- Header and Row Definitions -->
                                                          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
                                                          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>                                             
                                                      </table>                                      
                                                      <!-- No Records Found Message -->
                                                      <div style="text-align: center; min-height: 45px; padding-top: 10px;" *ngIf="dataSource?.data?.length === 0">
                                                          No records found
                                                      </div>
                                                  </div>
                                              </div>                                      
                                              <!-- Paginator -->
                                              <mat-paginator #paginator [length]="totalProduct" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" showFirstLastButtons (page)="pageChanged($event)"></mat-paginator>
                                          </div>                                                                         
                                      </div>
                                  </div>
                              </div>  
                           </div>   
                     </div>
                  <!-- /.container-fluid -->
              </div>
              <!-- End of Main Content -->
          </div>
          <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->
  </div>