<ngx-spinner bdColor="rgba(0,0,0,0.8)" size="medium" color="#fff" type="ball-circus" [fullScreen]="true">
    <p style="color: white;">Loading ...</p>
  </ngx-spinner>
  <div id="page-top">
      <!-- Page Wrapper -->
      <div id="wrapper">
        <!-- Sidebar -->
        <app-sidebar></app-sidebar>
        <!-- End of Sidebar -->
  
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column" [ngClass]=" isExpandSideBar ?'side-bar-expand':'side-bar-collaspe'">
            <!-- Main Content -->
            <div id="content">
                  <div style="display: block;margin-bottom: 5.375rem;">
                  <!-- Topbar -->
                  <app-header></app-header>
                  <!-- End of Topbar -->
                  </div>
  
                <!-- Begin Page Content -->
                <div class="container-fluid" style="margin-top: -5px;">
                    <div>
                    <div class="d-flex mb-1">
                      <h3 class="h3 mb-0"><span class="text-header-800 text-header-border">Owner Transaction</span><span class="text-header-800-blue">Approval</span></h3> 
                      <div class="ml-auto" >
                        
                      </div>
                    </div>
                    <div class="row mt-2 mb-0 mb-5" style="padding:10px 10px 10px;">
                      <div style="border:1px solid#dbdbdb;border-radius: 5px;">
                      <form >                 
                        <div class="pl-1 row g-2 align-items-center">
                          <!-- City -->
                          <div class="col-auto">
                            <label for="city" class="col-form-label">City</label>
                            <select class="form-control" id="city">
                              <option value="Bangalore">Bangalore</option>
                              <option value="Vijaywada">Vijaywada</option>
                              <option value="Pune">Pune</option>
                              <option value="Mumbai">Mumbai</option>
                            </select>
                          </div>
                        
                          <!-- OWNER ID/Name -->
                          <div class="col-auto">
                            <label for="fileName" class="col-form-label">OWNER ID/Name</label>
                            <input type="text" class="form-control" id="fileName" name="fileName" autocomplete="off" />
                            
                          </div>
                        
                          <!-- Date Range -->
                          <div class="col-auto">
                            <label for="dateRange" class="col-form-label">Date Range</label>
                            <div class="d-flex">
                              <input type="date" class="form-control" id="fromDate" />
                              <input type="date" class="form-control ml-2" id="toDate" />
                            </div>
                          </div>
                        
                          <!-- Transaction No -->
                          <div class="col-auto">
                            <label for="transactionNo" class="col-form-label">Transaction No.</label>
                            <select class="form-control" id="transactionNo">
                              <option value="Tenant">Tenant</option>
                              <option value="PG Property">PG Property</option>
                            </select>
                          </div>
                        
                          <!-- Transfer Approval -->
                          <div class="col-auto">
                            <label for="transferApproval" class="col-form-label">Transfer Approval</label>
                            <select class="form-control" id="transferApproval">
                              <option value="Tenant">Tenant</option>
                              <option value="PG Property">PG Property</option>
                            </select>
                          </div>
                        
                          <!-- Show Results Button -->
                          <div class="col-auto">
                            <button type="submit" class="btn btn-primary mt-3">Show Results</button>
                          </div>
                        </div>
                        
                      </form>
                      </div>
                    </div>
              
                    </div>
                    <div class="row mt-2">
                        <div class="col-xl-12 col-lg-12">
                            <div class="card shadow mb-3"> 
                              <div class="card-body" style="display: block;margin: 0px;padding: 2px;">
                                  <div class="scrollable-container-main">
                                    <div>
                                      <table mat-table [dataSource]="dataSource" matSort  
                                      (matSortChange)="announceSortChange($event)" matSortActive="created_date" matSortDirection="desc"  >
                                        <!-- Zoy Code Column -->
                                        <ng-container matColumnDef="zoy_code">
                                          <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-weight: 600;"> OWNER ID
                                            <span style="margin-left: 2px;">
                                              <i class="fas fa-lg fa-sort-up sorting-normal-color" [ngClass]="{'sorting-selected-color': columnSortDirections['zoy_code'] === 'asc' }"></i>
                                              <i class="fas fa-lg fa-sort-down sorting-normal-color" style="margin-left:-11px" [ngClass]="{'sorting-selected-color': columnSortDirections['zoy_code'] === 'desc'}"></i>
                                            </span>
                                          </th>
                                          <td mat-cell *matCellDef="let element"> {{ element.zoy_code }} </td>
                                        </ng-container>
    
                                        <!-- Owner Name Column -->
                                        <ng-container matColumnDef="owner_name">
                                          <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-weight: 600;width: 200px;"> OWNER NAME 
                                            <span style="margin-left: 2px;">
                                              <i class="fas fa-lg fa-sort-up sorting-normal-color" [ngClass]="{'sorting-selected-color': columnSortDirections['owner_name'] === 'asc' }"></i>
                                              <i class="fas fa-lg fa-sort-down sorting-normal-color" style="margin-left:-11px" [ngClass]="{'sorting-selected-color': columnSortDirections['owner_name'] === 'desc'}"></i>
                                            </span>
                                          </th>
                                          <td mat-cell *matCellDef="let element" style="width: 200px;"> {{ element.owner_name }} </td>
                                        </ng-container>
    
                                        <!-- Email Column -->
                                        <ng-container matColumnDef="total_amount">
                                          <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-weight: 600;width: 180px;"> TOTAL AMOUNT
                                            <span style="margin-left: 2px;">
                                              <i class="fas fa-lg fa-sort-up sorting-normal-color" [ngClass]="{'sorting-selected-color': columnSortDirections['total_amount'] === 'asc' }"></i>
                                              <i class="fas fa-lg fa-sort-down sorting-normal-color" style="margin-left:-11px" [ngClass]="{'sorting-selected-color': columnSortDirections['total_amount'] === 'desc'}"></i>
                                            </span>
                                          </th>
                                          <td mat-cell *matCellDef="let element" style="width: 180px;"> {{ element.total_amount }} </td>
                                        </ng-container>

                                        <ng-container matColumnDef="transaction_date">
                                          <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-weight: 600;"> DATE
                                            <span style="margin-left: 2px;">
                                              <i class="fas fa-lg fa-sort-up sorting-normal-color" [ngClass]="{'sorting-selected-color': columnSortDirections['transaction_date'] === 'asc' }"></i>
                                              <i class="fas fa-lg fa-sort-down sorting-normal-color" style="margin-left:-11px" [ngClass]="{'sorting-selected-color': columnSortDirections['transaction_date'] === 'desc'}"></i>
                                            </span>
                                          </th>
                                          <td mat-cell *matCellDef="let element"> {{ element.transaction_date }} </td>
                                        </ng-container>
    
                                        <!-- Contact Column -->
                                        <ng-container matColumnDef="transaction_no">
                                          <th mat-header-cell *matHeaderCellDef style="font-weight: 600;"> TRANSACTION NO </th>
                                          <td mat-cell *matCellDef="let element"> {{ element.transaction_no }} </td>
                                        </ng-container>
    
                                        <!-- Status Column with Conditional Button Styling -->
                                        <ng-container matColumnDef="transaction_approval">
                                          <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-weight: 600;width: 200px;"> Transfer Approval 
                                            <span style="margin-left: 2px;">
                                              <i class="fas fa-lg fa-sort-up sorting-normal-color" [ngClass]="{'sorting-selected-color': columnSortDirections['transaction_approval'] === 'asc' }"></i>
                                              <i class="fas fa-lg fa-sort-down sorting-normal-color" style="margin-left:-11px" [ngClass]="{'sorting-selected-color': columnSortDirections['transaction_approval'] === 'desc'}"></i>
                                            </span>
                                          </th>
                                          <td mat-cell *matCellDef="let element" style="padding: 4px;width: 200px;">
                                            <span
                                              class="common-status"
                                              [ngClass]="element.transaction_approval === 'pending' ? 'btn-pending' : 'btn-registered'"
                                            >
                                              <span *ngIf="element.transaction_approval === 'pending'">Inactive</span>
                                              <span *ngIf="element.transaction_approval !== 'pending'">Active</span>
                                            </span>
                                          </td>
                                          
                                        </ng-container>
                                        <ng-container matColumnDef="action">
                                          <th mat-header-cell *matHeaderCellDef style="width: 50px;"> </th>
                                          <td mat-cell *matCellDef="let element" style="width: 50px;">
                                                    <a class="dropdown no-arrow dropdown-toggle" href="javascript:void(0)" role="button" id="dropdownMenuLink"
                                                         data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                         <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                                     </a>
                                                     <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                                         aria-labelledby="dropdownMenuLink">
                                                         <a class="dropdown-item" href="javascript:void(0)" ><i class="far fa-eye"></i> Details</a>
                                                         <a class="dropdown-item" href="javascript:void(0)" ><i class="far fa-eye"></i> Document List</a>
                                                         <a class="dropdown-item" href="javascript:void(0)" ><i class="far fa-eye"></i> Other Action</a>
                                                     </div>
                                          </td>
                                        </ng-container>
                                        <!-- Header Row -->
                                        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
                                        <!-- Data Row -->
                                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                      </table>
                                    
                                    <div style="text-align: center; min-height: 45px; padding-top: 10px;" *ngIf="dataSource.data.length === 0">
                                      No records found
                                    </div>
                                  </div>
                                </div>
                              
                                <!-- Pagination -->
                                <mat-paginator #paginator [length]="dataSource.data.length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" showFirstLastButtons></mat-paginator>
                              </div>
                              
                                
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->
  
            </div>
            <!-- End of Main Content -->
  
        </div>
        <!-- End of Content Wrapper -->
  
    </div>
    <!-- End of Page Wrapper -->
  </div>