<div *ngIf="message" class="modal" tabindex="-1" role="dialog" style="display:block!important;z-index: 1050!important;">  
    <div class="modal-dialog custom-alert" role="document">  
        <div class="modal-content bg">    
            <div *ngIf="message" class="modal-body">  
                <div class="row">  
                    <div class="col-md-12">  
                        <p class="text-center confirm-message">{{message}}</p>  
                    </div>  
                </div>  
                <div class="row">  
                    <div class="col-md-12">  
                        <p class="confirm-button">                              
                            <a (click)="decline()">  
                                <button class="btn btn-no btn-danger">OK</button>  
                            </a>  
                        </p>  
                    </div>  
                </div>  
            </div>  
        </div>  
    </div>  
</div> 