<ngx-spinner bdColor="rgba(0,0,0,0.8)" size="medium" color="#fff" type="custom" [fullScreen]="true">
    <div class="spinner-container"><img class="spinner-home-logo" src="assets/images/home-logo.png" alt="Home"/>
      <img class="spinner-location-logo" src="assets/images/location-logo.png" alt="User"/>
      <div class="spinner-loading">Loading</div>
    </div>
</ngx-spinner>
<div id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">    
      <!-- Sidebar -->
        <app-sidebar></app-sidebar>
      <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column" [ngClass]=" isExpandSideBar ?'side-bar-expand':'side-bar-collaspe'">
            <!-- Main Content -->
            <div id="content">
                <div style="display: block;margin-bottom: 5.375rem;">
                <!-- Topbar -->
                <app-header></app-header>
                <!-- End of Topbar -->
                </div>

                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-3">
                        <h3 class="h3 mb-0"><span class="text-header-800 text-header-border">Tickets</span></h3> 
                        <div>
                         </div>
                    </div>

                    <!-- Content Row -->
                    <div class="card shadow mb-2">
                    <div class="card-body">
                        <div class="row mb-1">
                            <!-- Card with 8 columns width -->
                            <div class="col-xl-12 col-md-12 mb-2">                               
                                <div>
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="row no-gutters align-items-center">
                                                <div class="col mr-2">
                                                    <div style="height: calc(100vh - 240px);overflow: auto;">
                                                        <div class="desc-inner" style="height: auto;">
                                                        </div>
                                                    </div>    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>    
                         </div>   
                    </div> <!-- End Card Body -->
                    </div>
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- End of Main Content -->
        </div>
        <!-- End of Content Wrapper -->
  </div>
  <!-- End of Page Wrapper -->
</div>