<ngx-spinner bdColor="rgba(0,0,0,0.8)" size="medium" color="#fff" type="ball-circus" [fullScreen]="true">
  <p style="color: white;">Loading ...</p>
</ngx-spinner>
<div id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">    
      <!-- Sidebar -->
        <app-sidebar></app-sidebar>
      <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column" [ngClass]=" isExpandSideBar ?'side-bar-expand':'side-bar-collaspe'">
            <!-- Main Content -->
            <div id="content">
                <div style="display: block;margin-bottom: 5.375rem;">
                <!-- Topbar -->
                <app-header></app-header>
                <!-- End of Topbar -->
                </div>

                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-3">
                        <h3 class="h3 mb-0"><span class="text-header-800 text-header-border">Profile</span></h3> 
                        <div>
                          <button class="btn btn-primary-custom btn-sm" data-bs-toggle="offcanvas" data-bs-target="#AuthorisedDetails">Authorised Me</button>
                        </div>
                    </div>

                    <!-- Content Row -->
                    <div class="card shadow mb-2">
                    <div class="card-body">
                        <div class="row mb-1">
                            <!-- Card with 8 columns width -->
                            <div class="col-xl-8 col-md-6 mb-1">                               
                                <div>
                                    <div class="card">
                                        <div class="card-body" style="padding: 5px ;margin: 0px;">
                                            <div class="row no-gutters align-items-center">
                                                <div class="col mr-2">
                                                    <div style="height: calc(100vh - 210px);">
                                                        <div>
                                                          <div class="text-sub-header text-sub-header-border mb-3"> Information</div>
                                                          <div class="d-flex mb-2 ml-2">
                                                              <div style="font-weight: 600;margin-right: 20px;">Name :</div>
                                                              <div>{{userInfo.firstName}} {{userInfo.lastName}}</div>
                                                              <div class="ml-5" style="font-weight: 600;margin-right: 20px;">Designation :</div>
                                                              <div>{{userInfo.designation}}</div>
                                                          </div>
                                                          <div class="d-flex mb-2 ml-2">
                                                            <div style="font-weight: 600;margin-right: 20px;">Email :</div>
                                                            <div>{{userInfo.userEmail}}</div>
                                                          </div>
                                                        </div>

                                                        <div class="row">
                                                          <div class="col-sm-6">
                                                            <img src="assets/images/NotAvailable.jpg" width="160px" *ngIf="!(imgeURL2!=null && imgeURL2!=undefined && imgeURL2!='data:')" class="profile-picture" alt="User Image">
                                                            <img [src]="imgeURL2" *ngIf="(imgeURL2!=null && imgeURL2!=undefined && imgeURL2!='data:')" width="160px" height="160px" class="profile-picture" alt="User Image">
                                                  
                                                            <div style="color:gray;padding: 5px 0px;font-size: 14px;"><i class="fa fa-info-circle"></i>
                                                              <span class="ml-2" > While upload the picture should not be more than 100KB. It's size should not be greater than 180 X 200.</span> </div>
                                                          </div>
                                                          <div class="col-sm-6">
                                                            <form [formGroup]="formPicture" (ngSubmit)="submit()">
                                                               <div class="form-group">
                                                                  <label for="uploadfile"> Upload Picture  <i class="fa fa-asterisk"></i></label> 
                                                                  <input type="file" class="file-upload form-control" name="ImageInput"  id="ImageInput" formControlName="ImageInput"  accept="image/png, image/jpeg"  (change)="onFileChanged($event)" required />
                                                                  <div *ngIf="f.ImageInput.errors && submittedPicture" class="text-danger">
                                                                    <div *ngIf="f.ImageInput.errors.required">
                                                                      Picture is Required 
                                                                    </div>
                                                                  </div>
                                                               </div>
                                      
                                                                <div *ngIf="fileUploadSizeStatus" style="color: red;">
                                                                Uploaded Size: {{ fileUploadSize }}KB , File should be maximum 100KB.
                                                              </div>
                                      
                                                               <div *ngIf="fileUploadProgress" style="color: green;">
                                                                 Upload progress: {{ fileUploadProgress }}
                                                               </div>
                                      
                                                                <div class="image-preview mb-1" style="width: 220px;overflow: auto;" *ngIf="previewUrl">
                                                                 <img [src]="previewUrl" height="160px" width="160px"  class="profile-picture"/>                 
                                                                </div>
                                                               <div *ngIf="previewUrl">
                                                                <button type="submit" class="btn btn-primary-custom" [disabled]="uploadStatus">Change Picture</button>
                                                                &nbsp;
                                                                <button type="reset" class="btn btn-dark" (click)="resetChange()">Reset</button>
                                                               </div>
                                                            </form>
                                                          </div>
                                                          
                                                        </div>
                                                    </div>    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-6 mb-1">
                                <div class="card" style="padding: 0px ;margin: 0px;">
                                    <div class="card-body"  style="padding: 5px ;margin: 0px;">
                                      <div style="height: calc(100vh - 210px);">
                                        <div class="no-gutters align-items-center">
                                            <div class="text-sub-header text-sub-header-border mb-3"> Change Password</div> 
                                           <div class="pl-3 pr-3 ">
                                            <form [formGroup]="form" >
                                                <div class="mb-3">
                                                    <div class="input-group">
                                                      <input  type="text"  class="form-control custom-underline" id="oldPassword" placeholder="Old password" formControlName="oldPassword"
                                                        style="border: 0px solid #d1d3e2;border-bottom: 1px solid #d1d3e2;border-radius: 0px;" 
                                                        [(ngModel)]="changePasswordDetails.oldPassword" [ngClass]="{'is-invalid':submitted && form.controls.oldPassword.errors}" 
                                                        autocomplete="off">
                                                    </div>
                                                    <div *ngIf="submitted && form.controls.oldPassword.errors" class="text-danger">
                                                        <div *ngIf="form.controls.oldPassword.errors?.required">
                                                          Please enter the old password.
                                                        </div>
                                                    </div>
                                                  </div>
                                                 <div class="mb-3">
                                                  <div class="input-group">
                                                    <input  [type]="viewPassword ? 'text' : 'password'"  class="form-control custom-underline" id="newPassword"  formControlName="newPassword"
                                                      style="border: 0px solid #d1d3e2;border-bottom: 1px solid #d1d3e2;border-radius: 0px;" 
                                                      [(ngModel)]="changePasswordDetails.newPassword" [ngClass]="{'is-invalid':submitted && form.controls.newPassword.errors}" 
                                                      placeholder="New password" autocomplete="off">
                                                     
                                                      <span 
                                                      class="input-group-text" 
                                                      style="border: 0px solid #d1d3e2;background-color: #fff !important;cursor: pointer;border-bottom: 1px solid #d1d3e2;border-radius: 0px;"
                                                      (click)="viewPassword=!viewPassword">
                                                      <i class="fas" [ngClass]="viewPassword ? 'fa-eye-slash' : 'fa-eye'"></i>
                                                    </span>
                                                    
                                                  </div>
                                                  <div *ngIf="submitted && form.controls.newPassword.errors" class="text-danger">
                                                    <div *ngIf="form.controls.newPassword.errors?.required">
                                                      Please enter the new password.
                                                    </div>
                                                    <div *ngIf="form.controls.newPassword.errors?.pattern">
                                                      Please enter a strong new password.
                                                    </div>
                                                </div>
                                                </div>
                                                
                                                <div class="mb-3">
                                                  <div class="input-group">
                                                    <input type="password"  class="form-control custom-underline" id="confirmPassword" placeholder="Confirm password"  formControlName="confirmPassword"
                                                    [(ngModel)]="changePasswordDetails.confirmPassword" [ngClass]="{'is-invalid':submitted && form.controls.confirmPassword.errors}" 
                                                      style="border: 0px solid #d1d3e2;border-bottom: 1px solid #d1d3e2;border-radius: 0px;" autocomplete="off">
                                                  </div>
                                                  <div *ngIf="submitted && form.controls.confirmPassword.errors" class="text-danger">
                                                    <div *ngIf="submitted  && form.controls.confirmPassword.errors?.required">
                                                            Please enter the confirm password.
                                                    </div>
                                                </div>
                                                <div *ngIf="submitted && changePasswordDetails.newPassword !== changePasswordDetails.confirmPassword && !form.controls.confirmPassword.errors" class="text-danger">
                                                    New Passwords do not match.
                                                  </div>
                                                </div>
                                              </form>
                                            </div>
                                            <div class="pl-3 pr-3 mb-2" style="font-size: 14px; color: gray;" >
                                                <i class="fa fa-info-circle"></i>
                                                <span class="ml-2" >
                                                  Must be 8-16 characters long, include at least one uppercase letter, one lowercase letter, one number, and one special character.
                                                </span>

                                            </div>
                                              <div class="d-flex justify-content-center ">
                                                <button type="submit" class="btn btn-primary-custom" (click)="changePassword()">Change Password</button>
                                                <button type="reset" class="btn btn-dark ml-2" (click)="form.reset();submitted=false;">Reset</button>
                                            </div>

                                               
                                        </div>
                                        </div>
                                    </div>
                                </div>

                            </div>    
                         </div>   
                    </div> <!-- End Card Body -->
                    </div>
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- End of Main Content -->
        </div>
        <!-- End of Content Wrapper -->
  </div>
  <!-- End of Page Wrapper -->
</div>

<!-- Authorised Details -->
<div class="offcanvas offcanvas-end" tabindex="-1" id="AuthorisedDetails" aria-labelledby="offcanvasRightLabel" data-bs-backdrop="static">
  <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasRightLabel">Authorised to me</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <hr class="sidebar-divider my-0">
  <div class="offcanvas-body">
              <!-- Authorization Section -->             
              <div class="mb-4">
                  <div class="row text-center font-weight-bold" style="font-size: 14px;">
                      <div class="col-sm-8 text-left">Authorization</div>
                      <div class="col-sm-2">Read</div>
                      <div class="col-sm-2">Write</div>
                  </div>
                  <!-- Scrollable container for the authorization rows -->
                  <div class="scrollable-container">
                      <!--div *ngFor="let permission of userRolePermissions" class="row align-items-center mb-1 ml-1">
                          <div class="col-sm-8" style="font-size: 13px;" [ngClass]="{'text-danger': !permission.approveStatus }" [title]="!permission.approveStatus?'waiting for approval':''" >{{ permission.screenName }}</div>
                          <div class="col-sm-2 text-center">
                              <i [class]="getReadIcon(permission.readPrv)" style="font-size: 13px;"></i>
                          </div>
                          <div class="col-sm-2 text-center">
                              <i [class]="getWriteIcon(permission.writePrv)" style="font-size: 13px;"></i>
                          </div>
                      </div-->
                  </div>
              </div>          
          <!-- </div> -->
  </div>
</div>