.form-control {
    white-space: nowrap;
    text-overflow: ellipsis;
    width: fit-content;
  }

  .form-control i {
    margin-right: -38px;
  }

  .ms-2 {
    margin-left: 0.5rem; 
  }
  .marginRow{
    margin-bottom:-20px !important; 
  }
  /* .draggable-row[cdkDrag] {
    cursor: move;
    transition: transform 0.2s ease;
  }
  
  .draggable-row[cdkDrag]:active {
    opacity: 0.5;
  } */

  .mat-mdc-table .mat-mdc-row:hover {
    background:rgb(226, 248, 248);
    cursor: pointer;
  }
  .thead-dark{
    background: rgb(216, 216, 216);
  }
  .display-section-lg{
    display: none;
  }
  .display-section-sm{
    display: block;
  }
  @media screen and (max-width: 450px) {
    .display-section-lg{
      display: block;
    }
    .display-section-sm{
      display: none;
    }
      .mat-mdc-table {
        border: 0;
        vertical-align: middle
      }
    
      .mat-mdc-table caption {
        font-size: 1em;
      }
      
      .mat-mdc-table .mat-mdc-header-cell {   
        border: 10px solid;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        padding: 0;
        position: absolute;
        width: 1px;
      }
      
      .mat-mdc-table .mat-mdc-row {
        border-bottom: 5px solid #ddd;
        display: block;
      }
  
      .mat-mdc-table .mat-mdc-row:nth-child(even) {background: #FFF}
      .mat-mdc-table .mat-mdc-row:nth-child(odd) {background: #FFF}
      
      .mat-mdc-table .mat-mdc-cell {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: 1em;
        text-align: right;
        font-weight: bold;
        height:30px;
        margin-bottom: 4%;
      }
      .mat-mdc-table .mat-mdc-cell:before {
        /*
        * aria-label has no advantage, it won't be read inside a table
        content: attr(aria-label);
        */
        content: attr(data-label);
        float: left;
        text-transform: uppercase;
        font-weight: normal;    
        font-size: .85em;
      }
      .mat-mdc-table .mat-mdc-cell:last-child {
        border-bottom: 0;
      }
        .mat-mdc-table .mat-mdc-cell:first-child {
        margin-top: 4%;
      }
    }
  
      .example-list {
        border: solid 1px #ccc;
        min-height: 60px;
        background: white;
        border-radius: 4px;
        overflow: hidden;
        display: block;
      }
      
      .example-box {
        border-bottom: solid 1px #ccc;
        color: rgba(0, 0, 0, 0.87);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        box-sizing: border-box;
        cursor: move;
        background: white;
        font-size: 14px;
      }
      
      .cdk-drag-preview {
        box-sizing: border-box;
        border-radius: 4px;
        box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                    0 8px 10px 1px rgba(0, 0, 0, 0.14),
                    0 3px 14px 2px rgba(0, 0, 0, 0.12);
      }
      
      .cdk-drag-placeholder {
        opacity: 0;
      }
      
      .cdk-drag-animating {
        transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
      }
      
      
      .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
        transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
      }
    
      .row-strike{
        color: #bbb;
        text-decoration: line-through;
      }
  
      .dropdown-toggle::after {
        display: none;
      }
      
    

 