<!-- Sidebar -->
<ul class="navbar-nav fixed-left sidebar sidebar-light accordion" id="accordionSidebar" style="position: fixed;z-index: 1030;">
  <!-- Sidebar - Brand -->
  <a href="javascript:void(0)" class="sidebar-brand d-flex align-items-center justify-content-center">
      <div class="sidebar-brand-icon">
          <img src="assets/images/ZOY-logo.svg" style="height: 60px;width: auto;" />
      </div>
      <!--div class="sidebar-brand-text mx-3" style="margin-top:-15px">Admin</div>
      <div>
        <div class="text-center d-none d-md-inline">
          <button class="rounded-elispe border-0" [ngClass]="isExpandSideBar?'expand-button-margin-right':'collaspe-button-margin-right'" id="accordionSidebar" id="sidebarToggle" (click)="collaspeExpand()"></button>
        </div>
    </div -->
  </a>
  <!-- Divider -->
  <hr class="sidebar-divider my-0">
  <div class="my-1"></div>
  <!-- Nav Item - Dashboard -->
  <li class="nav-item" [ngClass]="{'active':activeSubNenuName=='home'}">
      <a class="nav-link" routerLink="/home" (click)="setHeaderName('Dashboard');expandMenu(1)">
          <i class="fas fa-th-list"></i>
          <span>Dashboard</span></a>
  </li>
 

  <!-- Nav Item - Pages Collapse Menu -->
  <!--li class="nav-item">
      <a class="nav-link collapsed" href="javascript:void(0)" data-toggle="collapse" data-target="#collapseTwo"
          aria-expanded="true" aria-controls="collapseTwo">
          <i class="fas fa-fw fa-cog"></i>
          <span>Components</span>
      </a>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
              <a class="collapse-item" href="javascript:void(0)">Buttons</a>
              <a class="collapse-item" href="javascript:void(0)">Cards</a>
          </div>
      </div>
  </li-->
  
 <!-- Nav Item - Owners Collapse Menu -->
 <li class="nav-item" [ngClass]="{'active':menu21}" id="menu2" >
    <a [ngClass]="menu2 ? 'nav-link':'nav-link collapsed'" href="javascript:void(0);"  (click)="expandMenu(2)" [attr.data-toggle]="true?'collapse':'collapse'" data-target="#collapseownerManagement"
    aria-expanded="false" aria-controls="collapseOwnerManagement">
        <i class="fas fa-fw fa-users-cog"></i>
        <span>Owners</span>
    </a>
    <div id="collapseOwnerManagement" [ngClass]="menu2 ? 'collapse show':'collapse'" aria-labelledby="headingOwnerManagement" data-parent="#accordionSidebar">
        <div class="bg-white collapse-inner rounded">
            <a class="collapse-item" routerLink="/zoy-code" [ngClass]="{'active':activeSubNenuName=='zoy-code'}" (click)="setHeaderName('Zoy Code')">Zoy Code</a>
            <div class="p-1"></div>
            <a class="collapse-item" routerLink="/manage-owner" [ngClass]="{'active':activeSubNenuName=='manage-owner'}" >Manage Owners</a>
        </div>
    </div>
</li>



    <!-- Nav Item - Users Collapse Menu -->
    <li class="nav-item" [ngClass]="{'active':menu31}" id="menu3" *ngIf="defMenu.userManagement && (rolesArray.includes('MANAGING_USERS_READ') || rolesArray.includes('PERMISSION_APPROVAL_READ'))">
        <a [ngClass]="menu3 ? 'nav-link':'nav-link collapsed'" href="javascript:void(0);"  (click)="expandMenu(3)" [attr.data-toggle]="true?'collapse':'collapse'" data-target="#collapseUserManagement"
        aria-expanded="false" aria-controls="collapseUserManagement">
            <i class="fas fa-fw fa-users-cog"></i>
            <span>Users</span>
        </a>
        <div id="collapseUserManagement" [ngClass]="menu3 ? 'collapse show':'collapse'" aria-labelledby="headingUserManagement" data-parent="#accordionSidebar">
            <div class="bg-white collapse-inner rounded">
                <a class="collapse-item" routerLink="/user-master" [ngClass]="{'active':activeSubNenuName=='user-master'}" *ngIf="rolesArray.includes('MANAGING_USERS_READ')" (click)="setHeaderName('Managing Users')">Managing Users</a>
                <div class="p-1"></div>
                <a class="collapse-item" routerLink="/permission-approval" [ngClass]="{'active':activeSubNenuName=='permission-approval'}" *ngIf="rolesArray.includes('PERMISSION_APPROVAL_READ')" (click)="setHeaderName('Permission Approval')">Permission Approval</a>
            </div>
        </div>
    </li>

<!-- Nav Item - Tenants Collapse Menu -->
<li class="nav-item"  id="menu7"> 
    <a [ngClass]="menu7 ? 'nav-link':'nav-link collapsed'" href="javascript:void(0);" (click)="expandMenu(7)" [attr.data-toggle]="true?'collapse':'collapse'" data-target="#collapseTenants"
    aria-expanded="false" aria-controls="collapseTenants">
        <i class="fas fa-fw fa-cogs"></i>
        <span>Tenants</span>
    </a>
    <div id="collapseTenants" [ngClass]="menu4 ? 'collapse show':'collapse'" aria-labelledby="headingTenants" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" >Tenant 1</a>
        </div>
    </div>
   </li>
    <!-- Nav Item - Finance Collapse Menu -->
  <li class="nav-item" [ngClass]="{'active':menu51}" id="menu5">
    <a [ngClass]="menu5 ? 'nav-link':'nav-link collapsed'" href="javascript:void(0);" *ngIf="defMenu.reports && rolesArray.includes('REPORTS_READ')" (click)="expandMenu(5)" [attr.data-toggle]="true?'collapse':'collapse'" data-target="#collapseReports"
    aria-expanded="false" aria-controls="collapseReports">
        <i class="fas fa-fw fa-wrench"></i>
        <span>Finance</span>
    </a>
    <div id="collapseReports" [ngClass]="menu5 ? 'collapse show':'collapse'" aria-labelledby="headingReports"
        data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" routerLink="/report-list" *ngIf="rolesArray.includes('REPORTS_READ')" [ngClass]="{'active':activeSubNenuName=='report-list'}" (click)="setHeaderName('Reports')">Reports</a>
            <!-- <a class="collapse-item" routerLink="/home">Report 2</a>
            <a class="collapse-item" routerLink="/home">Report 3</a>
            <a class="collapse-item" routerLink="/home">Report 4</a> -->
        </div>
    </div>
   </li>

   <!-- Nav Item - Support Collapse Menu -->
   <li class="nav-item"  id="menu6"> 
    <a [ngClass]="menu6 ? 'nav-link':'nav-link collapsed'" href="javascript:void(0);" (click)="expandMenu(6)" [attr.data-toggle]="true?'collapse':'collapse'" data-target="#collapseSupport"
    aria-expanded="false" aria-controls="collapseSupport">
        <i class="fas fa-fw fa-cogs"></i>
        <span>Support</span>
    </a>
    <div id="collapseSupport" [ngClass]="menu4 ? 'collapse show':'collapse'" aria-labelledby="headingSupport" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" >Tickets</a>
        </div>
    </div>
   </li>
    <!-- Nav Item - Settings Collapse Menu -->
    <li class="nav-item" [ngClass]="{'active':menu41}" id="menu4" *ngIf="defMenu.configurationSettings && (rolesArray.includes('ROLE_AND_PERMISSION_READ') || rolesArray.includes('CANCELLATION_AND_REFUND_RULES_READ') || rolesArray.includes('PERCENTAGE_AND_CHARGE_CONFIGURATIONS_READ') || rolesArray.includes('PROMOTION_AND_OFFER_MANAGEMENT_READ'))"> 
        <a [ngClass]="menu4 ? 'nav-link':'nav-link collapsed'" href="javascript:void(0);" (click)="expandMenu(4)" [attr.data-toggle]="true?'collapse':'collapse'" data-target="#collapseConfigSettings"
        aria-expanded="false" aria-controls="collapseConfigSettings">
            <i class="fas fa-fw fa-cogs"></i>
            <span>Settings</span>
        </a>
        <div id="collapseConfigSettings" [ngClass]="menu4 ? 'collapse show':'collapse'" aria-labelledby="headingConfigSettings" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" routerLink="/role-master" *ngIf="rolesArray.includes('ROLE_AND_PERMISSION_READ')" [ngClass]="{'active':activeSubNenuName=='role-master'}" (click)="setHeaderName('Role and Permission')" >Role and <br *ngIf="isExpandSideBar"> Permission</a>
                <div class="p-1"></div>
                <a class="collapse-item" routerLink="/cancellation-refund-rules" *ngIf="rolesArray.includes('CANCELLATION_AND_REFUND_RULES_READ')">Cancellation and <br *ngIf="isExpandSideBar">  Refund Rules</a>
                <div class="p-1"></div>
                <a class="collapse-item" routerLink="/percentage-charge-configurations" *ngIf="rolesArray.includes('PERCENTAGE_AND_CHARGE_CONFIGURATIONS_READ')">Percentage and <br *ngIf="isExpandSideBar">  Charge</a>
                <div class="p-1"></div>
                <a class="collapse-item" routerLink="/promotion-offers-management" *ngIf="rolesArray.includes('PROMOTION_AND_OFFER_MANAGEMENT_READ')">Promotion and <br *ngIf="isExpandSideBar">  Offers Management</a>
            </div>
        </div>
    </li>


   <!--li class="nav-item">
     <a class="nav-link" routerLink="/user-list" >
         <i class="fas fa-fw fa-folder"></i>
         <span>User Management</span>
     </a>
   </li -->
  <!-- Divider -->
  <hr class="sidebar-divider">
  <!-- Heading -->
  <div class="sidebar-heading">
      Contact
  </div>
  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item">
      <a class="nav-link" href="javascript:void(0)" >
          <i class="fas fa-fw fa-folder"></i>
          <span>Help Center</span>
      </a>
  </li>
</ul>


<!-- End of Sidebar -->
