
<div class="content-wrapper">
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
        <div class="card card-secondary">
            <div class="card-header"> Forbidden / Access denied.</div>
            <div class="card-body bg" style="text-align: center;">
              Forbidden / Access denied<br/><br/>  You do not have  sufficient permission to access page. <br/>
              If you have any issue, please contact to administrator.
            </div>
        </div>
        </div>
      </div>
    </div>
  </section>  
</div>
