<ngx-spinner bdColor="rgba(0,0,0,0.8)" size="medium" color="#fff" type="custom" [fullScreen]="true">
    <div class="spinner-container"><img class="spinner-home-logo" src="assets/images/home-logo.png" alt="Home"/>
      <img class="spinner-location-logo" src="assets/images/location-logo.png" alt="User"/>
      <div class="spinner-loading">Loading</div>
    </div>
</ngx-spinner>
<div id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">    
      <!-- Sidebar -->
        <app-sidebar></app-sidebar>
      <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column" [ngClass]=" isExpandSideBar ?'side-bar-expand':'side-bar-collaspe'">
            <!-- Main Content -->
            <div id="content">
                <div style="display: block;margin-bottom: 5.375rem;">
                <!-- Topbar -->
                <app-header></app-header>
                <!-- End of Topbar -->
                </div>

                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-3">
                        <h3 class="h3 mb-0"><span class="text-header-800 text-header-border">Support</span><span class="text-header-800-blue">Tickets</span></h3> 
                        <div class="input-group ml-4 w-75" >
                          <div  class="d-flex" style="border: 1px solid #dbd8d8;border-radius: 5px;">  
                          <div class="p-1 pl-2" style="border-right: 1px solid #dbd8d8;padding-top: 5px;"><i class="fas fa-filter mr-2"></i> </div> 
                          <div style="border-right: 1px solid #dbd8d8;">
                              <button type="button" class="btn" style="color:rgb(56, 56, 56);font-size: 14px;border: 0px;background-color: #F7F8FB;" id="menuLink"
                              data-toggle="dropdown">Status<i class="fas fa-chevron-down ml-2"></i></button>
                              <div id="dropdownMenu" class="dropdown-menu custom-dropdown-width" aria-labelledby="menuLink" data-bs-auto-close="false" (click)="stopPropagation($event)">
                                  <div class="dropdown-header" style="margin-left: -21px;">Select Status</div>
                                  <!-- Buttons in one row -->
                                  <div class="d-flex justify-content-between mb-2 mt-2">
                                      <a  class="btn btn-sm flex-grow-1 me-2"
                                      [ngClass]="{
                                        'btn-primary-custom': status.selected,
                                        'btn-light': !status.selected
                                      }"
                                      *ngFor="let status of statuses"
                                      (click)="toggleStatus(status)"
                                    >
                                      {{ status.name }}</a>
                                </div>
                                  <!-- Divider -->
                                  <hr class="my-2 mt-2">
                                  <p class="text-start small text-muted">* You can choose multiple Status.</p>
                                  <!-- Apply Now button -->
                                  <div class="d-flex justify-content-center align-items-center mt-2">
                                      <button class="btn btn-sm" [ngClass]="selectedStatuses.length==0 ?'btn-light':'btn-primary-custom'" (click)="applyStatuses()" [disabled]="selectedStatuses.length==0">Apply Now</button>
                                  </div>
                               </div>
                          </div> 
                          <div style="border-right: 1px solid #dbd8d8;">
                            <button type="button" class="btn" style="color:rgb(56, 56, 56);font-size: 14px;border: 0px;background-color: #F7F8FB;" id="menuLinkForDateFilter"
                            data-toggle="dropdown" (click)="fromDate='';toDate=''" >Date<i class="fas fa-chevron-down ml-2"></i></button>
                            <div id="dropdownMenu" class="dropdown-menu custom-dropdown-width" aria-labelledby="menuLinkForDateFilter" data-bs-auto-close="false" (click)="stopPropagation($event)">
                                <div class="dropdown-header" style="margin-left: -21px;">Select registered date range to filter</div>
                                <!-- Buttons in one row -->
                                <div class="d-flex justify-content-between mb-2 mt-2">
                                  <div class="d-flex">
                                   
                                    <input type="date" class="form-control form-control-sm" style="width: 125px;font-size: 12px; " id="fromDate" [(ngModel)]="fromDate" 
                                          [ngClass]="{'is-invalid': ((!fromDate && toDate ) ||(fromDate>toDate && toDate))}" 
                                          [title]="!fromDate && toDate? 'From Date is required':((fromDate>toDate && toDate)?'Invalid date range':'') " /> 
                                    <div class="m-1">-</div>  
                                    <input type="date" class="form-control form-control-sm" style="width: 125px; font-size: 12px;" id="toDate"  [(ngModel)]="toDate" 
                                          [ngClass]="{'is-invalid': ((!toDate && fromDate) ||(fromDate>toDate && fromDate ))}" 
                                          [title]="!toDate && fromDate ? 'To Date is required':((fromDate>toDate && fromDate)?'Invalid date range':'') "/>
                                  </div> 
                                </div>
                                <!-- Divider -->
                                <hr class="my-2 mt-2">
                                <!-- Apply Now button -->
                                <div class="d-flex justify-content-center align-items-center mt-2">
                                    <button class="btn btn-sm" [ngClass]="(!fromDate || !toDate) ?'btn-light':'btn-primary-custom'" (click)="applyDates()" [disabled]="!fromDate || !toDate">Apply Now</button>
                                </div>
                             </div>
                        </div>
                          <div><button type="button" class="btn" style="color:rgb(252, 93, 93);font-size: 14px;background-color: #F7F8FB;" (click)="resetFilter()"><i class="fas fa-redo mr-2"></i>Reset Filter</button></div>
                          </div>
                        </div>
                        <div class="ml-auto">  
                          <div class="input-group">
                            <i class="fas fa-search fa-sm" style="margin-right: -25px;z-index: 1;margin-top: 10px;"></i> 
                            <input type="text" class="form-control form-control-sm  border-1"  [(ngModel)]="searchText" (keyup)="filterData($event)" style="border-radius: 20px;padding-left: 29px;width: 200px;" placeholder="Search by keyword"
                                  aria-label="Search" aria-describedby="basic-addon2">         
                         </div>                    
                        </div> 
                    </div>

                    <!-- Content Row -->
                    <div class="card shadow mb-2">
                        <div class="card-body" style="display: block;margin: 0px;padding: 2px;" >
                            <div class="scrollable-container-main">
                               <div>
                                <table mat-table [dataSource]="dataSource" matSort  
                                  (matSortChange)="announceSortChange($event)" matSortActive="created_date" matSortDirection="desc"  >
                                  <!-- Owner Name Column -->
                                  <ng-container matColumnDef="ticket_id">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-weight: 600;">TICKET NO 
                                      <span style="margin-left: 2px;">
                                        <i class="fas fa-lg fa-sort-up sorting-normal-color" [ngClass]="{'sorting-selected-color': columnSortDirections['ticket_id'] === 'asc' }"></i>
                                        <i class="fas fa-lg fa-sort-down sorting-normal-color" style="margin-left:-11px" [ngClass]="{'sorting-selected-color': columnSortDirections['ticket_id'] === 'desc'}"></i>
                                      </span>
                                    </th>
                                    <td mat-cell *matCellDef="let element"> <span [ngClass]="{'fw-semibold':element.status === 'New'}">{{ element.ticket_id }}</span></td>
                                  </ng-container>  
                                  <!-- Zoy Code Column -->
                                    <ng-container matColumnDef="created_date">
                                      <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-weight: 600;" title="RAISED DATE">RAISED DATE
                                        <span style="margin-left: 2px;">
                                          <i class="fas fa-lg fa-sort-up sorting-normal-color" [ngClass]="{'sorting-selected-color': columnSortDirections['created_date'] === 'asc' }"></i>
                                          <i class="fas fa-lg fa-sort-down sorting-normal-color" style="margin-left:-11px" [ngClass]="{'sorting-selected-color': columnSortDirections['created_date'] === 'desc'}"></i>
                                        </span>
                                      </th>
                                      <td mat-cell *matCellDef="let element"> <span [ngClass]="{'fw-semibold':element.status === 'New'}">{{ element.created_date | date: 'yyyy-MM-dd' }} </span></td>
                                    </ng-container>

                                    
                                    <!-- Date Column -->
                                    <ng-container matColumnDef="ticket_type">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-weight: 600;" title="CATEGORY TYPE">TYPE
                                          <span style="margin-left: 2px;">
                                            <i class="fas fa-lg fa-sort-up sorting-normal-color" [ngClass]="{'sorting-selected-color': columnSortDirections['ticket_type'] === 'asc' }"></i>
                                            <i class="fas fa-lg fa-sort-down sorting-normal-color" style="margin-left:-11px" [ngClass]="{'sorting-selected-color': columnSortDirections['ticket_type'] === 'desc'}"></i>
                                          </span>
                                        </th>
                                        <td mat-cell *matCellDef="let element"> <span [ngClass]="{'fw-semibold':element.status === 'New'}">{{ element.ticket_type}} </span></td>
                                      </ng-container>
                                     <!-- Contact Column -->
                                     <ng-container matColumnDef="priority">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-weight: 600;"> UGENCY 
                                          <span style="margin-left: 2px;">
                                            <i class="fas fa-lg fa-sort-up sorting-normal-color" [ngClass]="{'sorting-selected-color': columnSortDirections['priority'] === 'asc' }"></i>
                                            <i class="fas fa-lg fa-sort-down sorting-normal-color" style="margin-left:-11px" [ngClass]="{'sorting-selected-color': columnSortDirections['priority'] === 'desc'}"></i>
                                          </span>
                                        </th>
                                        <td mat-cell *matCellDef="let element"> 
                                          <span [ngClass]="{'fw-semibold':element.status === 'New'}">
                                          <span *ngIf="element.priority" style="color: #f10707;">High</span>
                                          <span *ngIf="!element.priority" style="color: #055530;">Low</span></span>
                                        </td>
                                      </ng-container>

                                    <!-- Email Column -->
                                    <ng-container matColumnDef="assign_name">
                                      <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-weight: 600;"> ASSIGNED TO
                                        <span style="margin-left: 2px;">
                                          <i class="fas fa-lg fa-sort-up sorting-normal-color" [ngClass]="{'sorting-selected-color': columnSortDirections['assign_name'] === 'asc' }"></i>
                                          <i class="fas fa-lg fa-sort-down sorting-normal-color" style="margin-left:-11px" [ngClass]="{'sorting-selected-color': columnSortDirections['assign_name'] === 'desc'}"></i>
                                        </span>
                                      </th>
                                      <td mat-cell *matCellDef="let element">{{ element.assign_name }} </td>
                                    </ng-container>

                                
                                    <!-- Status Column with Conditional Button Styling -->
                                    <ng-container matColumnDef="status">
                                      <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-weight: 600;"> STATUS 
                                        <span style="margin-left: 2px;">
                                          <i class="fas fa-lg fa-sort-up sorting-normal-color" [ngClass]="{'sorting-selected-color': columnSortDirections['status'] === 'asc' }"></i>
                                          <i class="fas fa-lg fa-sort-down sorting-normal-color" style="margin-left:-11px" [ngClass]="{'sorting-selected-color': columnSortDirections['status'] === 'desc'}"></i>
                                        </span>
                                      </th>
                                      <td mat-cell *matCellDef="let element" style="padding: 4px;">
                                        <span class="common-status"
                                              [ngClass]="element.status === 'New' ? 'status-inactive' : (element.status === 'Open' ? 'status-verified':'status-active' )" >
                                          {{element.status}}
                                        </span>
                                      </td>
                                      
                                    </ng-container>
                                    <ng-container  matColumnDef="action" >
                                      <th mat-header-cell *matHeaderCellDef style="width: 40px;"></th>
                                      <td mat-cell *matCellDef="let element" > 
                                        <a class="dropdown no-arrow dropdown-toggle" href="javascript:void(0)" role="button" id="dropdownMenuLink"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v fa-sm fa-fw"  style="color:#000000;"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                            aria-labelledby="dropdownMenuLink">
                                            <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#details" (click)="getDetails(element)">Details</a>
                                            <a class="dropdown-item" href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#assignToTeam" (click)="assignToTeam(element,true)"  *ngIf="rolesArray.includes('ALL_TICKETS_WRITE')">Assign / Reassign</a>
                                            <a class="dropdown-item" href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#updatePopup" (click)="updatePopupFromList(element,true)"  *ngIf="rolesArray.includes('ALL_TICKETS_WRITE')">Status Update</a>
                                        </div>
                                      </td>
                                    </ng-container>
                                    
                                    <!-- Header Row -->
                                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
                                    <!-- Data Row -->
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns;" ></tr>
                                  </table>
                                  <div style="text-align: center;min-height: 45px;padding-top: 10px;" *ngIf="dataSource.data.length==0"> No records found</div>                                
                               </div>
                            </div>
                            <mat-paginator #paginator [length]="totalProduct" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" showFirstLastButtons (page)="pageChanged($event)"></mat-paginator>
                       </div>  <!-- End Card Body --> 
                    </div>
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- End of Main Content -->
        </div>
        <!-- End of Content Wrapper -->
  </div>
  <!-- End of Page Wrapper -->
</div>


<!------To give the reason for Deactivate/Activate details PopUp model------->
<div class="modal fade" id="details" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true" data-bs-backdrop="static">
  <div class="modal-dialog modal-xl modal-fullscreen-sm-down ">
    <div class="modal-content">
      <div class="modal-header bg-gradiant-popup-header">
        <h5 class="modal-title" id="modalLabel"><span >Details of #{{assignTicketNumber}}</span></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" #closeModelDetails></button>
      </div>
      <div class="modal-body p-3">
        <div *ngIf="supportTicketDetails?.type=='LEAD_GEN'">
          <div class="row mb-1">
            <div class="col-sm-1">Name</div>
            <div class="col-sm-3" style="color:#000000;">{{supportTicketDetails.name}}</div>
            <div class="col-sm-1">Property</div>
            <div class="col-sm-3" style="color:#000000;">{{supportTicketDetails.property_name}}</div>
            <div class="col-sm-1">Type</div>
            <div class="col-sm-3" style="color:#000000;">{{supportTicketDetails.inquired_for}}</div>
          </div>
          <div class="row mb-1">
            <div class="col-sm-1">Address</div>
            <div class="col-sm-3" style="color:#000000;">{{supportTicketDetails.address}}</div>
            <div class="col-sm-1">Mobile</div>
            <div class="col-sm-3" style="color:#000000;">{{supportTicketDetails.mobile}}</div>
            <div class="col-sm-1">Pincode</div>
            <div class="col-sm-3" style="color:#000000;">{{supportTicketDetails.pincode}}</div>
          </div>
        </div>

        <div *ngIf="supportTicketDetails?.type=='SUPPORT_TICKET'">
          <div class="row mb-1">
            <div class="col-sm-1">Name</div>
            <div class="col-sm-3" style="color:#000000;">{{supportTicketDetails.name}}</div>
            <div class="col-sm-1">Property</div>
            <div class="col-sm-3" style="color:#000000;">{{supportTicketDetails.property_name}}</div>
            <div class="col-sm-1">Type</div>
            <div class="col-sm-3" style="color:#000000;">Support for,{{supportTicketDetails.categories_name}}</div>
          </div>
          <div class="row mb-1">
            <div class="col-sm-1">Urgency</div>
            <div class="col-sm-3" style="color:#000000;">{{supportTicketDetails.urgency}}</div>
            <div class="col-sm-1">Created On</div>
            <div class="col-sm-3" style="color:#000000;">{{supportTicketDetails.created_at | date: 'yyyy-MM-dd HH:mm'}}</div>
            <div class="col-sm-1">Status</div>
            <div class="col-sm-3" style="color:#000000;"><span class="common-status status-inactive">New</span></div>
          </div>
          <div class="row mb-1">
            <div class="col-sm-1">Description</div>
            <div class="col-sm-7" style="color:#000000;">{{supportTicketDetails.description}}</div>
            <div class="col-sm-1">Assign To</div>
            <div class="col-sm-3" style="color:#000000;">{{supportTicketDetails.assigned_to_name}}</div>
          </div>
        </div>

        
        <hr>
        <div>
          <div class="d-flex">
            <div>Histoty Information</div>
            <div class="ml-auto">
              <button class="btn btn-primary-custom"  data-bs-toggle="modal" data-bs-target="#assignToTeam" (click)="assignToTeamDetails(false)"  *ngIf="rolesArray.includes('ALL_TICKETS_WRITE')">Assign/Reassign</button>&nbsp;&nbsp;
              <button class="btn btn-primary-custom"  data-bs-toggle="modal" data-bs-target="#updatePopup" (click)="addNewCommentPopup(false)"  *ngIf="rolesArray.includes('ALL_TICKETS_WRITE')">Status Update</button>
            </div>
          </div> 
          <div class="card">
            <div class="card-body" style="padding: 2px;margin: 0px;" >
              <div class="row mb-1 ml-1 mr-1" style="font-size: 14px;">
                  <div class="col-sm-2">Updated On</div>
                  <div class="col-sm-3">Updated By</div>
                  <div class="col-sm-1">Status</div>
                  <div class="col-sm-6">Description</div>
              </div>
              <div *ngIf="supportTicketDetails?.user_ticket_history?.length>0">
              <div class="row mb-1 ml-1 mr-1" style="font-size: 12px;border-top: 1px solid #edebeb;" *ngFor="let historyDet of supportTicketDetails?.user_ticket_history">
                <div class="col-sm-2">{{ historyDet.created_at | date: 'yyyy-MM-dd HH:mm' }}</div>
                <div class="col-sm-3">{{historyDet.user_email}}</div>
                <div class="col-sm-1">{{historyDet.request_status}}</div>
                <div class="col-sm-6">{{historyDet.description}}</div>
              </div>
              </div>
              <div class="ml-1 mr-1" *ngIf="supportTicketDetails?.user_ticket_history?.length==0" style="text-align: center;font-size: 13px;border-top: 1px solid #edebeb;"> History is not available</div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<!------For Assign/Reassign PopUp model------->
<div class="modal fade" id="assignToTeam" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true" data-bs-backdrop="static">
  <div class="modal-dialog modal-lg modal-fullscreen-sm-down ">
    <div class="modal-content">
      <div class="modal-header bg-gradiant-popup-header">
        <h5 class="modal-title" id="modalLabel"><span >Assign /Reassign [ #{{assignTicketNumber}}]</span></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" #closeModelAssign></button>
      </div>
      <div class="modal-body p-3">
        <div class="row">
          <div class="col-sm-2">Assign To</div>
          <div class="col-sm-6">
            <select class="form-select form-select-sm" [(ngModel)]="selectAssignEmail"  [ngClass]="{'is-invalid':selectAssignEmail==undefined || selectAssignEmail==''}">
              <option value="">Choose one</option>
              <option *ngFor="let cond of supportTeamToAssignList" [value]="cond.email">{{cond.name}} ({{cond.email}})</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-2"></div>
          <div class="col-sm-6">
            <div *ngIf="selectAssignEmail==undefined || selectAssignEmail==''" class="text-danger">
              Please choose the assign team.
            </div>
         </div>
        </div>
        <div class="row mb-1 mt-2">
          <div class="col-sm-2"></div>
          <div class="col-sm-6">
            <button type="button" class="btn btn-primary-custom me-2" (click)="assignTeamApi()"  [disabled]="selectAssignEmail==undefined || selectAssignEmail==''">Save</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!------For update PopUp model------->
<div class="modal fade" id="updatePopup" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true" data-bs-backdrop="static">
  <div class="modal-dialog modal-lg modal-fullscreen-sm-down ">
    <div class="modal-content">
      <div class="modal-header bg-gradiant-popup-header">
        <h5 class="modal-title" id="modalLabel"><span >Update the [ #{{assignTicketNumber}}]</span></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" #closeModelUpdate></button>
      </div>
      <div class="modal-body p-3">
        <div class="row">
          <div class="col-sm-2">Status</div>
          <div class="col-sm-6">
            <select class="form-select form-select-sm" [(ngModel)]="selectedStatusForUpdate"  [ngClass]="{'is-invalid':selectedStatusForUpdate=='New' || selectedStatusForUpdate==undefined || selectedStatusForUpdate==''}">
              <option *ngFor="let cond of statusList" [value]="cond">{{cond}}</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-2"></div>
          <div class="col-sm-6">
            <div *ngIf="selectedStatusForUpdate=='New' || selectedStatusForUpdate==undefined || selectedStatusForUpdate==''" class="text-danger">
              Please select the status.
            </div>
          </div>
        </div>  
        <div class="row mt-1">
          <div class="col-sm-2">Comment</div>
          <div class="col-sm-9">
            <textarea class="form-control" placeholder="Leave a comment here" rows="5" [(ngModel)]="comment" [ngClass]="{'is-invalid':comment=='' || comment==undefined}" required></textarea>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-2"></div>
          <div class="col-sm-9">
            <div *ngIf="comment=='' || comment==undefined" class="text-danger">
                Comment is required.
            </div>
          </div>
        </div>    
        <div class="row mb-1 mt-2">
          <div class="col-sm-2"></div>
          <div class="col-sm-6">
            <button type="button" class="btn btn-primary-custom me-2" (click)="saveStatusComment()" [disabled]="comment=='' || comment==undefined || selectedStatusForUpdate=='New' || selectedStatusForUpdate==undefined || selectedStatusForUpdate==''">Save</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>