<ngx-spinner bdColor="rgba(0,0,0,0.8)" size="medium" color="#fff" type="custom" [fullScreen]="true">
  <div class="spinner-container"><img class="spinner-home-logo" src="assets/images/home-logo.png" alt="Home"/>
    <img class="spinner-location-logo" src="assets/images/location-logo.png" alt="User"/>
    <div class="spinner-loading">Loading</div>
  </div>
</ngx-spinner>
  <div id="page-top">
      <!-- Page Wrapper -->
      <div id="wrapper">    
        <!-- Sidebar -->
          <app-sidebar></app-sidebar>
        <!-- End of Sidebar -->
  
          <!-- Content Wrapper -->
          <div id="content-wrapper" class="d-flex flex-column" [ngClass]=" isExpandSideBar ?'side-bar-expand':'side-bar-collaspe'">
              <!-- Main Content -->
              <div id="content">
                  <div style="display: block;margin-bottom: 5.375rem;">
                  <!-- Topbar -->
                  <app-header></app-header>
                  <!-- End of Topbar -->
                  </div>
  
                  <!-- Begin Page Content -->
                  <div class="container-fluid">
                      <!-- Page Heading -->
                      <div class="d-flex mb-3">
                          <h3 class="h3 mb-0"><span class="text-header-800 text-header-border">Alert </span><span class="text-header-800-blue">& Notification</span></h3>  
                          <div class="ml-auto">
                           
                          </div>
                      </div>
  
                      <!-- Content Row -->
                          <div class="row">
                              <div class="col-xl-12 col-md-12 mb-2">                               
                                  <div>
                                      <div class="card">
                                          <div class="card-body" style="padding:2px; margin:0px;">
                                              <div style="max-height: calc(100vh - 202px); overflow: auto;">
                                                  <div class="desc-inner" style="height: calc(100vh - 202px);">
                                                    <div class="p-2">
                                                    <!-- for loop with below div -->
                                                    <div *ngFor="let notification of dataSource.data">
                                                      <div class="d-flex w-100 m-2" [title]="notification.info_type == 'alert'?'Alert':'Notification'" >
                                                        <div class="mr-3">
                                                          <div class="icon-circle" [ngClass]="notification.info_type == 'alert'?'bg-warning':'bg-success'">
                                                            <i class="{{ getIcon(notification.screen_name) }} text-white"></i>
                                                          </div>
                                                        </div>
                                                        <div class="w-100">
                                                          <div class="d-flex">
                                                            <div class="font-weight-bold" style="color: #000000;" > {{ notification.category }}</div>
                                                            <div class="small ml-auto mr-2" style="font-style: italic;">{{ notification.created_at | date:'hh:mm a, MMMM dd, yyyy'  }}</div>
                                                          </div>
                                                          <div *ngIf="notification.message.length > 100" class="small" style="color: #505050;" >
                                                            {{ notification.message | slice: 0:100 }} ...<a href="javascript:void(0)" (click)="selectNotification(notification)"  data-bs-toggle="modal" data-bs-target="#NotificationAll">more</a>
                                                          </div>
                                                          <div *ngIf="notification.message.length <= 100" class="small">
                                                            {{ notification.message }}
                                                          </div>
                                                        </div>
                                                      </div>
                                                      <hr>
                                                    </div>
                                                  </div>
                                                  </div>
                                              </div>                                      
                                              <!-- Paginator -->
                                              <mat-paginator [length]="totalProduct" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" showFirstLastButtons (page)="pageChanged($event)"></mat-paginator>
                                          </div>                                                                         
                                      </div>
                                  </div>
                              </div>  
                           </div>   
                     </div>
                  <!-- /.container-fluid -->
              </div>
              <!-- End of Main Content -->
          </div>
          <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->
  </div>


  <!------To view  PopUp model------->
<div class="modal fade" id="NotificationAll" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true" data-bs-backdrop="static">
  <div class="modal-dialog modal-bg modal-dialog-scrollable">
    <div class="modal-content" style="height: fit-content; overflow-y: auto;">
      <div class="modal-header bg-gradiant-popup-header">
        <h5 class="modal-title" id="modalLabel">{{selectedNotification.info_type == 'alert'?'Alert':'Notification'}} Details </h5>
        <div>
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body p-0">
        <div *ngIf="selectedNotification">
            <div class="d-flex w-100 p-3">
                <div class="mr-3">
                  <div class="icon-circle" [ngClass]="selectedNotification.info_type == 'alert'?'bg-warning':'bg-success'">
                    <i class="{{ getIcon(selectedNotification.screen_name) }} text-white"></i>
                </div>
                </div>
                <div class="w-100">
                    <div class="d-flex">
                        <div style="color: #000000;">{{ selectedNotification.category }}</div>
                        <div class="small ml-auto mr-2" style="font-style: italic;"> {{ selectedNotification.created_at | date:'hh:mm a, MMMM dd, yyyy'  }}</div>
                    </div>
                    <div class="small mr-2" style="color: #505050;" >{{ selectedNotification.message }}</div>
                </div>
            </div>
          </div>
       </div>
      </div>
    </div>
  </div>