<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-dark fixed-left sidebar sidebar-dark accordion" [ngClass]="isExpandSideBar?'':'toggled'" id="accordionSidebar" style="position: fixed;z-index: 1030;">
  <!-- Sidebar - Brand -->
  <a href="javascript:void(0)" class="sidebar-brand d-flex align-items-center justify-content-center">
      <div class="sidebar-brand-icon">
          <img src="assets/images/ZOY-logo.svg" style="height: 60px;width: auto;" />
      </div>
      <div class="sidebar-brand-text mx-3" style="margin-top:-15px">Admin</div>
      <div>  <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
          <button class="rounded-elispe border-0" [ngClass]="isExpandSideBar?'expand-button-margin-right':'collaspe-button-margin-right'" id="accordionSidebar" id="sidebarToggle" (click)="collaspeExpand()"></button>
        </div>
    </div>
  </a>
  <!-- Divider -->
  <hr class="sidebar-divider my-0">
  <!-- Nav Item - Dashboard -->
  <li class="nav-item" [ngClass]="{'active':activeSubNenuName=='home'}">
      <a class="nav-link" routerLink="/home" (click)="setHeaderName('Dashboard');expandMenu(1)">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span></a>
  </li>
  <!-- Nav Item - Pages Collapse Menu -->
  <!--li class="nav-item">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
          aria-expanded="true" aria-controls="collapseTwo">
          <i class="fas fa-fw fa-cog"></i>
          <span>Components</span>
      </a>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
              <a class="collapse-item" href="#">Buttons</a>
              <a class="collapse-item" href="#">Cards</a>
          </div>
      </div>
  </li-->

    <!-- Nav Item - Owner Management Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseOwnerManagement"
            aria-expanded="false" aria-controls="collapseOwnerManagement">
            <i class="fas fa-fw fa-users"></i>
            <span>Owner Management</span>
        </a>
        <div id="collapseOwnerManagement" class="collapse" aria-labelledby="headingOwnerManagement" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" routerLink="/onboarding-registration">Onboarding and Registration</a>
                <a class="collapse-item" routerLink="/ekyc-verification">Owner eKYC Verification</a>
                <a class="collapse-item" routerLink="/managing-owners">Managing Owners</a>
            </div>
        </div>
    </li>



    <!-- Nav Item - User Management Collapse Menu -->
    <li class="nav-item" [ngClass]="{'active':menu31}" id="menu3">
        <a [ngClass]="menu3 ? 'nav-link':'nav-link collapsed'" href="javascript:void(0);" (click)="expandMenu(3)"  data-toggle="collapse" data-target="#collapseUserManagement"
        [attr.aria-expanded]="!menu3" aria-controls="collapseUserManagement">
            <i class="fas fa-fw fa-users-cog"></i>
            <span>User Management</span>
        </a>
        <div id="collapseUserManagement" [ngClass]="menu3 ? 'collapse show':'collapse'" aria-labelledby="headingUserManagement" data-parent="#accordionSidebar">
            <div class="bg-white collapse-inner rounded">
                <a class="collapse-item" routerLink="/user-master" [ngClass]="{'active':activeSubNenuName=='user-master'}" (click)="setHeaderName('Managing Users')">Managing Users</a>
                <a class="collapse-item" routerLink="/user-master" (click)="setHeaderName('User Roles')">User Roles</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Financial Management Collapse Menu -->
    <!--li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseFinancialManagement"
            aria-expanded="false" aria-controls="collapseFinancialManagement">
            <i class="fas fa-fw fa-dollar-sign"></i>
            <span>Financial Management</span>
        </a>
        <div id="collapseFinancialManagement" class="collapse" aria-labelledby="headingFinancialManagement" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" routerLink="/incoming-payments">Incoming Payments</a>
                <a class="collapse-item" routerLink="/outgoing-payments">Outgoing Payments</a>
            </div>
        </div>
    </li-->


    <!-- Nav Item - Configuration Settings Collapse Menu -->
    <li class="nav-item" [ngClass]="{'active':menu41}" id="menu4"> 
        <a [ngClass]="menu4 ? 'nav-link':'nav-link collapsed'" href="javascript:void(0);" (click)="expandMenu(4)" data-toggle="collapse" data-target="#collapseConfigSettings"
        [attr.aria-expanded]="!menu4" aria-controls="collapseConfigSettings">
            <i class="fas fa-fw fa-cogs"></i>
            <span>Configuration Settings</span>
        </a>
        <div id="collapseConfigSettings" [ngClass]="menu4 ? 'collapse show':'collapse'" aria-labelledby="headingConfigSettings" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" routerLink="/role-master" [ngClass]="{'active':activeSubNenuName=='role-master'}" (click)="setHeaderName('Role & Permission')" >Role & Permission</a>
                <a class="collapse-item" routerLink="/cancellation-refund-rules">Cancellation & Refund Rules</a>
                <a class="collapse-item" routerLink="/percentage-charge-configurations">Percentage & Charge</a>
                <a class="collapse-item" routerLink="/promotion-offers-management">Promotion & Offers Management</a>
            </div>
        </div>
    </li>


    <!-- Nav Item - Support Management Collapse Menu -->
    <!--li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseSupportManagement"
            aria-expanded="false" aria-controls="collapseSupportManagement">
            <i class="fas fa-fw fa-headset"></i>
            <span>Support Management</span>
        </a>
        <div id="collapseSupportManagement" class="collapse" aria-labelledby="headingSupportManagement" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" routerLink="/handling-enquiries">Handling Enquiries</a>
                <a class="collapse-item" routerLink="/owner-user-support">Owner and User Support</a>
            </div>
        </div>
    </li-->

  <!-- Nav Item - Reports Collapse Menu -->
  <li class="nav-item" [ngClass]="{'active':menu51}" id="menu5">
    <a [ngClass]="menu5 ? 'nav-link':'nav-link collapsed'" href="javascript:void(0);" (click)="expandMenu(5)" data-toggle="collapse" data-target="#collapseReports"
    [attr.aria-expanded]="!menu5" aria-controls="collapseReports">
        <i class="fas fa-fw fa-wrench"></i>
        <span>Reports</span>
    </a>
    <div id="collapseReports" [ngClass]="menu5 ? 'collapse show':'collapse'" aria-labelledby="headingReports"
        data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" routerLink="/report-list" [ngClass]="{'active':activeSubNenuName=='report-list'}" (click)="setHeaderName('Report')">Report 1</a>
            <a class="collapse-item" routerLink="/home">Report 2</a>
            <a class="collapse-item" routerLink="/home">Report 3</a>
            <a class="collapse-item" routerLink="/home">Report 4</a>
        </div>
    </div>
   </li>
   <li class="nav-item">
     <a class="nav-link" routerLink="/user-list" >
         <i class="fas fa-fw fa-folder"></i>
         <span>User Management</span>
     </a>
   </li>
  <!-- Divider -->
  <hr class="sidebar-divider">
  <!-- Heading -->
  <div class="sidebar-heading">
      Settings
  </div>
  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item">
      <a class="nav-link" href="#" >
          <i class="fas fa-fw fa-folder"></i>
          <span>Page 1</span>
      </a>
  </li>
</ul>


<!-- End of Sidebar -->
