<ngx-spinner bdColor="rgba(0,0,0,0.8)" size="medium" color="#fff" type="ball-circus" [fullScreen]="true">
    <p style="color: white;">Loading ...</p>
  </ngx-spinner>
  <div id="page-top">
      <!-- Page Wrapper -->
      <div id="wrapper">    
        <!-- Sidebar -->
          <app-sidebar></app-sidebar>
        <!-- End of Sidebar -->
  
          <!-- Content Wrapper -->
          <div id="content-wrapper" class="d-flex flex-column" [ngClass]=" isExpandSideBar ?'side-bar-expand':'side-bar-collaspe'">
              <!-- Main Content -->
              <div id="content">
                  <div style="display: block;margin-bottom: 5.375rem;">
                  <!-- Topbar -->
                  <app-header></app-header>
                  <!-- End of Topbar -->
                  </div>
  
                  <!-- Begin Page Content -->
                  <div class="container-fluid">
                    <div class="d-sm-flex align-items-center justify-content-between mb-3">
                      <h3 class="h3 mb-0"><span class="text-header-800 text-header-border">Manage</span><span class="text-header-800-blue">Owners</span></h3> 
                      <div>
                       
                      </div>
                      <div class="ml-auto">  
                              <a class="btn btn-primary-custom" style="margin: -10px 0px;" href="javascript:history.back()" title="back to owner list"><i class="fas fa-chevron-circle-left mr-1"></i>Back</a>             
                      </div> 
                    </div>
                      <!-- Content Row -->
                      <div class="row">
                        <div class="col-sm-5">
                          <div class="card mb-3">
                            <div class="card-body" style="display: block;margin: 0px;padding: 2px;" >
                                <div class="container-main">
                                  <div class="p-3">
                                   <div class="d-flex">
                                     <div>
                                      <div class="owner-profile-top"> 
                                        R
                                      </div>
                                     </div>
                                    <div class="ml-2"> 
                                      <div style="font-size: 18px;">R T Nagaraju</div>
                                      <div style="font-size: 14px;">Owner ID : Zoy001</div>
                                      <div style="font-size: 14px;color: gray;">Status : Active</div>
                                    </div>
                                    <div class="ml-auto">
                                      <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                    </div>
                                   </div>
                                  </div>
                                  <div style="background-color: #c1a1f3;padding: 5px;" class="mb-2">
                                    <i class="far mr-2 ml-2" [ngClass]="collaspeList[0].selected ? 'fa-minus-square':'fa-plus-square'" style="cursor: pointer;" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" (click)="collaspeExpandPanel(collaspeList[0],'left1')"></i> Basic Information
                                  </div>
                                  <div class="collapse" [ngClass]="collaspeList[0].selected ? 'show':''" id="collapseExample">
                                    <div class="card card-body ml-2 mr-2 mb-2 p-2">
                                      <div class="scrollable-container-main pl-3 pr-3">
                                        <div class="row">
                                          <div class="col-sm-3" style="font-size: 14px;">First Name</div>
                                          <div class="col-sm-1 align-items-center">:</div>
                                          <div class="col-sm-8" style="font-size: 14px;color: gray;">R T</div>
                                        </div>
                                        <div class="row">
                                          <div class="col-sm-3" style="font-size: 14px;">Last Name</div>
                                          <div class="col-sm-1 align-items-center">:</div>
                                          <div class="col-sm-8" style="font-size: 14px;color: gray;">Nagaraju</div>
                                        </div>
                                        <div class="row">
                                          <div class="col-sm-3" style="font-size: 14px;">Email</div>
                                          <div class="col-sm-1 align-items-center">:</div>
                                          <div class="col-sm-8" style="font-size: 14px;color: gray;">nagaraju.gmail.com</div>
                                        </div>
                                        <div class="row">
                                          <div class="col-sm-3" style="font-size: 14px;">Contact</div>
                                          <div class="col-sm-1 align-items-center">:</div>
                                          <div class="col-sm-8" style="font-size: 14px;color: gray;">9874561230</div>
                                        </div>
                                        <div class="row">
                                          <div class="col-sm-3" style="font-size: 14px;">Adhaar Number</div>
                                          <div class="col-sm-1 align-items-center">:</div>
                                          <div class="col-sm-8" style="font-size: 14px;color: gray;">xxxxxx678912</div>
                                        </div>
                                        <div class="row">
                                          <div class="col-sm-3" style="font-size: 14px;">Address</div>
                                          <div class="col-sm-1 align-items-center">:</div>
                                          <div class="col-sm-8" style="font-size: 14px;color: gray;">Some placeholder content for the collapse component.This panel is hidden by default but revealed when the user activates the relevant trigger.</div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>

                                  <div style="background-color: #c1a1f3;padding: 5px;" class="mb-2">
                                    <i class="far mr-2 ml-2" class="far mr-2 ml-2" [ngClass]="collaspeList[1].selected ? 'fa-minus-square':'fa-plus-square'" style="cursor: pointer;" data-bs-toggle="collapse" data-bs-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample2" (click)="collaspeExpandPanel(collaspeList[1],'left2')"></i> Business Information
                                  </div>
                                  <div class="collapse" [ngClass]="collaspeList[1].selected ? 'show':''" id="collapseExample2">
                                    <div class="card card-body ml-2 mr-2 p-2">
                                      <div class="scrollable-container-main pl-3 pr-3">
                                        <div class="row mb-1">
                                          <div class="col-sm-4" style="font-size: 15px;font-weight: 600;">Bank Details(3)</div>
                                        </div>
                                        <div id="carouselbankFade" class="carousel slide">
                                            <div class="carousel-inner">
                                              <div class="carousel-item active pr-4">
                                                <div style="margin-bottom: -16px;margin-right: -3px;z-index: 0;" class="text-end"><i class="fas fa-check-circle" style="color: #ec41f1;"></i></div>
                                                  <div class="primary-box p-2">
                                                    <div class="text-start" style="font-weight: 600 !important;">Primary Account</div>
                                                    <div class="d-flex mt-1" style="font-size: 12px;">
                                                      <div >Account Number</div>
                                                      <div class="pl-1 pr-1">:</div>
                                                      <div> XXXX45673454</div>
                                                    </div>
                                                    <div class="d-flex mt-1" style="font-size: 12px;">
                                                      <div>IFS Code</div>
                                                      <div class="pl-1 pr-1">:</div>
                                                      <div> SBI0012345</div>
                                                    </div>
                                                    <div class="d-flex mt-1" style="font-size: 12px;">
                                                      <div>Bank</div>
                                                      <div class="pl-1 pr-1">:</div>
                                                      <div> SBI</div>
                                                    </div>
                                                    <div class="d-flex mt-1" style="font-size: 12px;">
                                                      <div>Branch</div>
                                                      <div class="pl-1 pr-1">:</div>
                                                      <div> Marathali</div>
                                                    </div>
                                                  </div>
                                              </div>

                                              <div class="carousel-item pr-4 pt-1">
                                                <div class="secondary-box p-2">
                                                  <div class="text-start" style="font-weight: 600 !important;">Secondary Account</div>
                                                  <div class="d-flex mt-1" style="font-size: 12px;">
                                                    <div >Account Number</div>
                                                    <div class="pl-1 pr-1">:</div>
                                                    <div> XXXX45673454</div>
                                                  </div>
                                                  <div class="d-flex mt-1" style="font-size: 12px;">
                                                    <div>IFS Code</div>
                                                    <div class="pl-1 pr-1">:</div>
                                                    <div> SBI0012345</div>
                                                  </div>
                                                  <div class="d-flex mt-1" style="font-size: 12px;">
                                                    <div>Bank</div>
                                                    <div class="pl-1 pr-1">:</div>
                                                    <div> SBI</div>
                                                  </div>
                                                  <div class="d-flex mt-1" style="font-size: 12px;">
                                                    <div>Branch</div>
                                                    <div class="pl-1 pr-1">:</div>
                                                    <div> Marathali</div>
                                                  </div>
                                                </div>
                                              </div>

                                              <div class="carousel-item pr-4 pt-1">
                                                <div class="secondary-box p-2">
                                                  <div class="text-start" style="font-weight: 600 !important;">Secondary Account</div>
                                                  <div class="d-flex mt-1" style="font-size: 12px;">
                                                    <div >Account Number</div>
                                                    <div class="pl-1 pr-1">:</div>
                                                    <div> XXXX45673454</div>
                                                  </div>
                                                  <div class="d-flex mt-1" style="font-size: 12px;">
                                                    <div>IFS Code</div>
                                                    <div class="pl-1 pr-1">:</div>
                                                    <div> SBI0012345</div>
                                                  </div>
                                                  <div class="d-flex mt-1" style="font-size: 12px;">
                                                    <div>Bank</div>
                                                    <div class="pl-1 pr-1">:</div>
                                                    <div> SBI</div>
                                                  </div>
                                                  <div class="d-flex mt-1" style="font-size: 12px;">
                                                    <div>Branch</div>
                                                    <div class="pl-1 pr-1">:</div>
                                                    <div> Marathali</div>
                                                  </div>
                                                </div>
                                              </div>
                                          </div>
                                          <button class="carousel-control-next" type="button" data-bs-target="#carouselbankFade" data-bs-slide="next">
                                            <i class="fas fa-chevron-right" style="color: gray;margin-right: -30px;"></i>
                                          </button>
                                        </div>
                                        <div class="row mt-2">
                                          <div class="col-sm-4" style="font-size: 14px;">Payment Details</div>
                                          <div class="col-sm-1 align-items-center">:</div>
                                          <div class="col-sm-7" style="font-size: 14px;">
                                            <div>
                                              <a style="color: rgb(155, 155, 243); text-decoration: underline; cursor: pointer;">
                                              Tenant Payment History
                                             </a>
                                            </div>
                                            <div>
                                              <a style="color: rgb(155, 155, 243); text-decoration: underline; cursor: pointer;">
                                              Zoy to owner payment History
                                              </a>
                                            </div>

                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                           </div>  <!-- End Card Body -->  
                          </div>
                        </div>
                        <div class="col-sm-7">
                          <div class="card mb-3" style="border-radius: 0px;">
                            <div class="card-body" style="display: block;margin: 0px;padding: 2px;" >
                                <div class="container-main">
                                  <div class="p-3">
                                    <div style="font-size: 18px;">Property Information</div>
                                    <div class="row mt-2">
                                      <div class="col-sm-7">
                                        <div class="form-group row">
                                          <label for="category" class="col-sm-5 col-form-label">Property Name</label>
                                          <div class="col-sm-7">
                                            <select class="custom-select custom-select-sm" id="category">                                             
                                            <option value="Received">Received</option>
                                            <option value="Not Receive">Not Receive</option>
                                            </select> 
                                          </div>
                                        </div>
                                      </div>
                                      <div class="col-sm-5">
                                        <div class="form-group row">
                                          <label for="category" class="col-sm-4 col-form-label">Status</label>
                                          <div class="col-sm-8">
                                            <select class="custom-select custom-select-sm" id="category">                                             
                                            <option value="Received">Received</option>
                                            <option value="Not Receive">Not Receive</option>
                                            </select> 
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div style="background-color: #c1a1f3;padding: 5px;margin-top:-20px;" class="mb-2">
                                    <i class="far mr-2 ml-2" [ngClass]="collaspeListRight[0].selected ? 'fa-minus-square':'fa-plus-square'" style="cursor: pointer;" data-bs-toggle="collapse" data-bs-target="#collapseExampleRight0" aria-expanded="false" aria-controls="collapseExampleRight0" (click)="collaspeExpandPanelRight(collaspeListRight[0],'right1')"></i>  Basic Property Information
                                  </div>
                                  <div class="collapse" [ngClass]="collaspeListRight[0].selected ? 'show':''" id="collapseExampleRight0">
                                    <div class="card card-body m-2 p-2">
                                      <div class="scrollable-container pl-3 pr-3">
                                        <div class="row">
                                          <div class="col-sm-3" style="font-size: 14px;">PG Type</div>
                                          <div class="col-sm-1 align-items-center">:</div>
                                          <div class="col-sm-8" style="font-size: 14px;color: gray;">Men</div>
                                        </div>
                                        <div class="row">
                                          <div class="col-sm-3" style="font-size: 14px;">Address</div>
                                          <div class="col-sm-1 align-items-center">:</div>
                                          <div class="col-sm-8" style="font-size: 14px;color: gray;">Some placeholder content for the collapse component.This panel is hidden by default but revealed when the user activates the relevant trigger.</div>
                                        </div>
                                        <div class="row">
                                          <div class="col-sm-3" style="font-size: 14px;">Manager Name</div>
                                          <div class="col-sm-1 align-items-center">:</div>
                                          <div class="col-sm-8" style="font-size: 14px;color: gray;">Nagaraju</div>
                                        </div>
                                        <div class="row">
                                          <div class="col-sm-3" style="font-size: 14px;">Manager Email</div>
                                          <div class="col-sm-1 align-items-center">:</div>
                                          <div class="col-sm-8" style="font-size: 14px;color: gray;">nagaraju.gmail.com</div>
                                        </div>
                                        <div class="row">
                                          <div class="col-sm-3" style="font-size: 14px;">Manager Contact</div>
                                          <div class="col-sm-1 align-items-center">:</div>
                                          <div class="col-sm-8" style="font-size: 14px;color: gray;">9874561230</div>
                                        </div>
                                        <div class="row">
                                          <div class="col-sm-3" style="font-size: 14px;">GST Number</div>
                                          <div class="col-sm-1 align-items-center">:</div>
                                          <div class="col-sm-8" style="font-size: 14px;color: gray;">9874561230</div>
                                        </div>
                                        <div class="row">
                                          <div class="col-sm-3" style="font-size: 14px;">No Of Floor</div>
                                          <div class="col-sm-1 align-items-center">:</div>
                                          <div class="col-sm-8" style="font-size: 14px;color: gray;">3</div>
                                        </div>
                                        <div class="row">
                                          <div class="col-sm-3" style="font-size: 14px;">Total Occupancy</div>
                                          <div class="col-sm-1 align-items-center">:</div>
                                          <div class="col-sm-8" style="font-size: 14px;color: gray;">50</div>
                                        </div>
                                        <div class="row">
                                          <div class="col-sm-3" style="font-size: 14px;">Ownership Proof</div>
                                          <div class="col-sm-1 align-items-center">:</div>
                                          <div class="col-sm-6" style="font-size: 14px;color: gray;"><a href="javascript:void(0)" (click)="readViewFileForApproval()" class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" data-bs-target="#showOwnerShippdf" data-bs-toggle="modal">Ownership.pdf</a></div>
                                          <div class="col-sm-2 common-box" style="font-size: 12px;"><i class="fas fa-check ml-1 mr-1" style="color:green;"></i> Approved</div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div style="background-color: #c1a1f3;padding: 5px;" class="mb-2">
                                    <i class="far mr-2 ml-2" [ngClass]="collaspeListRight[1].selected ? 'fa-minus-square':'fa-plus-square'" style="cursor: pointer;" data-bs-toggle="collapse" data-bs-target="#collapseExampleRight1" aria-expanded="false" aria-controls="collapseExampleRight1" (click)="collaspeExpandPanelRight(collaspeListRight[1],'right2')"></i>  Floor Information
                                  </div>
                                  <div class="collapse" [ngClass]="collaspeListRight[1].selected ? 'show':''" id="collapseExampleRight1">
                                    <div class="card card-body m-2 p-2 ">
                                      <div class="scrollable-container pl-3 pr-3">
                                        <div class="d-flex">
                                          <div>Floor</div>
                                          <div class="ml-2 text-center" style="width: 20px;">:</div>
                                          <div style="width: 100px;">
                                            <select class="custom-select custom-select-sm" id="category">                                             
                                              <option value="Received">01</option>
                                              <option value="Not Receive">02</option>
                                            </select> 
                                          </div>
                                          <div class="ml-auto"><i class="fas fa-circle mr-1" style="color:green;"></i><span style="color:green;">Vacancy</span> <i class="fas fa-circle ml-2 mr-1" style="color:red;"></i><span style="color:red;">Occupied</span></div>
                                        </div>
                                        <div class="d-flex mt-2 mb-2">
                                          <div class="mr-2 ml-1 common-box">Total Rooms - 09 </div>
                                          <div class="mr-2 common-box">Total Occupancy -50</div>
                                          <div class="mr-2 common-box">Occupied - 45</div>
                                          <div class="common-box"> Vacant - 05 </div>
                                        </div>
                                        <div class="row">
                                          <div class="col-sm-4">
                                            <div class="common-box m-1">
                                              <div class="text-center">Room 101</div>
                                              <div class="row">
                                                <div class="col-sm-3 text-center"><i class="fas fa-bed" style="color:green"></i></div>
                                                <div class="col-sm-3 text-center"><i class="fas fa-bed" style="color:red"></i></div>
                                                <div class="col-sm-3 text-center"><i class="fas fa-bed" style="color:green"></i></div>
                                                <div class="col-sm-3 text-center"><i class="fas fa-bed" style="color:red"></i></div>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="col-sm-4">
                                            <div class="common-box m-1">
                                              <div class="text-center">Room 102</div>
                                              <div class="row">
                                                <div class="col-sm-3 text-center"><i class="fas fa-bed" style="color:green"></i></div>
                                                <div class="col-sm-3 text-center"><i class="fas fa-bed" style="color:red"></i></div>
                                                <div class="col-sm-3 text-center"><i class="fas fa-bed" style="color:red"></i></div>
                                                <div class="col-sm-3 text-center"><i class="fas fa-bed" style="color:red"></i></div>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="col-sm-4">
                                            <div class="common-box m-1">
                                              <div class="text-center">Room 103</div>
                                              <div class="row">
                                                <div class="col-sm-3 text-center"><i class="fas fa-bed" style="color:green"></i></div>
                                                <div class="col-sm-3 text-center"><i class="fas fa-bed" style="color:red"></i></div>
                                                <div class="col-sm-3 text-center"><i class="fas fa-bed" style="color:green"></i></div>
                                                <div class="col-sm-3 text-center"><i class="fas fa-bed" style="color:red"></i></div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                        <div class="row mt-2">
                                          <div class="col-sm-4">
                                            <div class="common-box m-1">
                                              <div class="text-center">Room 104</div>
                                              <div class="row">
                                                <div class="col-sm-3 text-center"><i class="fas fa-bed" style="color:green"></i></div>
                                                <div class="col-sm-3 text-center"><i class="fas fa-bed" style="color:red"></i></div>
                                                <div class="col-sm-3 text-center"><i class="fas fa-bed" style="color:green"></i></div>
                                                <div class="col-sm-3 text-center"><i class="fas fa-bed" style="color:red"></i></div>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="col-sm-4">
                                            <div class="common-box m-1">
                                              <div class="text-center">Room 105</div>
                                              <div class="row">
                                                <div class="col-sm-3 text-center"><i class="fas fa-bed" style="color:green"></i></div>
                                                <div class="col-sm-3 text-center"><i class="fas fa-bed" style="color:red"></i></div>
                                                <div class="col-sm-3 text-center"><i class="fas fa-bed" style="color:red"></i></div>
                                                <div class="col-sm-3 text-center"><i class="fas fa-bed" style="color:red"></i></div>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="col-sm-4">
                                            <div class="common-box m-1">
                                              <div class="text-center">Room 106</div>
                                              <div class="row">
                                                <div class="col-sm-3 text-center"><i class="fas fa-bed" style="color:green"></i></div>
                                                <div class="col-sm-3 text-center"><i class="fas fa-bed" style="color:red"></i></div>
                                                <div class="col-sm-3 text-center"><i class="fas fa-bed" style="color:green"></i></div>
                                                <div class="col-sm-3 text-center"><i class="fas fa-bed" style="color:red"></i></div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                       </div>
                                    </div>
                                  </div>
                                  <div style="background-color: #c1a1f3;padding: 5px;" class="mb-2">
                                    <i class="far mr-2 ml-2" [ngClass]="collaspeListRight[2].selected ? 'fa-minus-square':'fa-plus-square'" style="cursor: pointer;" data-bs-toggle="collapse" data-bs-target="#collapseExampleRight2" aria-expanded="false" aria-controls="collapseExampleRight2" (click)="collaspeExpandPanelRight(collaspeListRight[2],'right3')"></i>  Additional Information
                                  </div>
                                  <div class="collapse" [ngClass]="collaspeListRight[2].selected ? 'show':''" id="collapseExampleRight2">
                                    <div class="card card-body m-2 p-2">
                                      <div class="scrollable-container pl-3 pr-3">
                                        <div class="row">
                                          <div class="col-sm-4" style="font-size: 14px;">Security Deposit Amount</div>
                                          <div class="col-sm-1 align-items-center">:</div>
                                          <div class="col-sm-7" style="font-size: 14px;color: gray;">Rs. 3000.00</div>
                                        </div>
                                        <div class="row">
                                          <div class="col-sm-4" style="font-size: 14px;">Notice Period</div>
                                          <div class="col-sm-1 align-items-center">:</div>
                                          <div class="col-sm-7" style="font-size: 14px;color: gray;">1 month</div>
                                        </div>
                                        <div class="row">
                                          <div class="col-sm-4" style="font-size: 14px;">Rent Cycle</div>
                                          <div class="col-sm-1 align-items-center">:</div>
                                          <div class="col-sm-7" style="font-size: 14px;color: gray;">01-01</div>
                                        </div>
                                        <div class="row">
                                          <div class="col-sm-4" style="font-size: 14px;">Late Payment</div>
                                          <div class="col-sm-1 align-items-center">:</div>
                                          <div class="col-sm-7" style="font-size: 14px;color: gray;">No</div>
                                        </div>
                                        <div class="row">
                                          <div class="col-sm-4" style="font-size: 14px;">Grace Period</div>
                                          <div class="col-sm-1 align-items-center">:</div>
                                          <div class="col-sm-7" style="font-size: 14px;color: gray;">No</div>
                                        </div>
                                        <div class="row">
                                          <div class="col-sm-4" style="font-size: 14px;">Additional Charges</div>
                                          <div class="col-sm-1 align-items-center">:</div>
                                          <div class="col-sm-7" style="font-size: 14px;color: gray;">No</div>
                                        </div>
                                        <div class="row">
                                          <div class="col-sm-4 text-end text-gray-800" style="font-size: 14px;">Aggrement Charges</div>
                                          <div class="col-sm-1 align-items-center">:</div>
                                          <div class="col-sm-7 text-gray-800" style="font-size: 14px;color: gray;">No</div>
                                        </div>
                                        <div class="row">
                                          <div class="col-sm-4 text-end text-gray-800" style="font-size: 14px;">EKYC Changes</div>
                                          <div class="col-sm-1 align-items-center">:</div>
                                          <div class="col-sm-7 text-gray-800" style="font-size: 14px;color: gray;">No</div>
                                        </div>
                                        <div class="row">
                                          <div class="col-sm-4" style="font-size: 14px;">Description</div>
                                          <div class="col-sm-1 align-items-center">:</div>
                                          <div class="col-sm-7" style="font-size: 14px;color: gray;">Some placeholder content for the collapse component.This panel is hidden by default but revealed when the user activates the relevant trigger.</div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                           </div>  <!-- End Card Body -->  
                          </div>
                        </div>
                      </div>
                  <!-- /.container-fluid -->
              </div>
              <!-- End of Main Content -->
          </div>
          <!-- End of Content Wrapper -->
     </div>
    <!-- End of Page Wrapper -->
  </div>


  <div class="modal fade" id="showOwnerShippdf" data-bs-backdrop="static" data-bs-keyboard="false"
                    tabindex="-1" aria-labelledby="staticHeaderLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-scrollable">
          <div class="modal-content">
                  <div class="modal-header">
                          <h5 class="modal-title" id="staticHeaderLabel">Ownership pdf</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                          <pdf-viewer [src]="pdfSource" [render-text]="true" [show-all]="true"
                            style="width: 100%; height: 500px;">
                          </pdf-viewer>
                  </div>
                  <div class="modal-footer d-flex justify-content-center gap-3">
                          <button type="button" class="btn btn-primary-custom">Approve</button>
                          <button type="button" class="btn btn-secondary">Reject</button>
                  </div>
           </div>
        </div>
  </div>
