<!-- <ngx-spinner bdColor="rgba(0,0,0,0.8)" size="medium" color="#fff" type="ball-circus" [fullScreen]="true">
    <p style="color: white;">Loading ...</p>
  </ngx-spinner> -->
<ngx-spinner bdColor="rgba(0,0,0,0.8)" size="medium" color="#fff" type="custom" [fullScreen]="true">
    <div class="spinner-container"><img class="spinner-home-logo" src="assets/images/home-logo.png" alt="Home"/>
      <img class="spinner-location-logo" src="assets/images/location-logo.png" alt="User"/>
      <div class="spinner-loading">Loading</div>
    </div>
</ngx-spinner>
  <div id="page-top">
      <!-- Page Wrapper -->
      <div id="wrapper">    
        <!-- Sidebar -->
          <app-sidebar></app-sidebar>
        <!-- End of Sidebar -->
  
          <!-- Content Wrapper -->
          <div id="content-wrapper" class="d-flex flex-column" [ngClass]=" isExpandSideBar ?'side-bar-expand':'side-bar-collaspe'">
              <!-- Main Content -->
              <div id="content">
                  <div style="display: block;margin-bottom: 5.375rem;">
                  <!-- Topbar -->
                  <app-header></app-header>
                  <!-- End of Topbar -->
                  </div>
  
                  <!-- Begin Page Content -->
                  <div class="container-fluid">
                    <div class="d-sm-flex align-items-center justify-content-between mb-3">
                      <h3 class="h3 mb-0"><span class="text-header-800 text-header-border">Manage</span><span class="text-header-800-blue">Owners</span></h3> 
                      <div>
                       
                      </div>
                      <div class="ml-auto">  
                              <a class="btn btn-primary-custom" style="margin: -10px 0px;" href="javascript:history.back()" title="back to owner list"><i class="fas fa-chevron-circle-left mr-1"></i>Back</a>             
                      </div> 
                    </div>
                      <!-- Content Row -->
                      <div class="row">
                        <div class="col-sm-5">
                          <div class="card mb-3">
                            <div class="card-body" style="display: block;margin: 0px;padding: 2px;" >
                                <div class="container-main">
                                  <div class="p-3">
                                   <div class="d-flex">
                                     <div>
                                      <div class="owner-profile-top"> 
                                        <img [src]="pgOwnerData.profile?.profile_photo" *ngIf="pgOwnerData.profile?.profile_photo?.includes('/')" >
                                         <span *ngIf="!pgOwnerData.profile?.profile_photo?.includes('/') || !pgOwnerData.profile.profile_photo  " >{{pgOwnerData.profile?.owner_name[0]?.toUpperCase()}}</span>
                                      </div>
                                     </div>
                                    <div class="ml-2"> 
                                      <div style="font-size: 18px;">{{pgOwnerData.profile?.owner_name}} </div>
                                      <div style="font-size: 13px;">Owner ID : <span style="font-size: 12px;">{{pgOwnerData.profile?.owner_i_d}}</span></div>
                                      <div style="font-size: 13px; color: gray;padding-bottom:3px">Status : {{pgOwnerData.profile?.status}}</div>
                                    </div>
                                    <div class="ml-auto">
                                      <!-- <a class="dropdown no-arrow dropdown-toggle" href="javascript:void(0)" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                      <i class="fas fa-ellipsis-v fa-sm fa-fw" style="color: #000000;"></i>
                                      </a> -->
                                      <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                                        <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#reactivateReason" (click)="openModelDoActiveteDeactivete('owner')" >Status</a>
                                      </div>
                                    </div>
                                   </div>
                                  </div>
                                  <div style="background-color: #c1a1f3;padding: 5px;" class="mb-2">
                                    <i class="far mr-2 ml-2" [ngClass]="collaspeList[0].selected ? 'fa-minus-square':'fa-plus-square'" style="cursor: pointer;" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" (click)="collaspeExpandPanel(collaspeList[0],'left1')"></i> Basic Information
                                  </div>
                                  <div class="collapse" [ngClass]="collaspeList[0].selected ? 'show':''" id="collapseExample">
                                    <div class="card card-body ml-2 mr-2 mb-2 p-2">
                                      <div class="scrollable-container-main pl-3 pr-3">
                                        <div class="row">
                                          <div class="col-sm-4" style="font-size: 14px;color:#505050;">First Name</div>
                                          <div class="col-sm-1 align-items-center">:</div>
                                          <div class="col-sm-7" style="font-size: 14px;color:#000000;">{{pgOwnerData.pg_ownerbasic_information?.first_name}}</div>
                                        </div>
                                        <div class="row">
                                          <div class="col-sm-4" style="font-size: 14px;color:#505050;">Last Name</div>
                                          <div class="col-sm-1 align-items-center">:</div>
                                          <div class="col-sm-7" style="font-size: 14px;color:#000000;">{{pgOwnerData.pg_ownerbasic_information?.last_name}}</div>
                                        </div>
                                        <div class="row">
                                          <div class="col-sm-4" style="font-size: 14px;color:#505050;">Email</div>
                                          <div class="col-sm-1 align-items-center">:</div>
                                          <div class="col-sm-7" style="font-size: 14px;color:#000000;">{{pgOwnerData.pg_ownerbasic_information?.email}}</div>
                                        </div>
                                        <div class="row">
                                          <div class="col-sm-4" style="font-size: 14px;color:#505050;">Contact</div>
                                          <div class="col-sm-1 align-items-center">:</div>
                                          <div class="col-sm-7" style="font-size: 14px;color:#000000;">{{pgOwnerData.pg_ownerbasic_information?.contact}}</div>
                                        </div>
                                        <div class="row">
                                          <div class="col-sm-4" style="font-size: 14px;color:#505050;">Adhaar Number</div>
                                          <div class="col-sm-1 align-items-center">:</div>
                                          <div class="col-sm-7" style="font-size: 14px;color:#000000;">{{pgOwnerData.pg_ownerbasic_information?.aadhar}}</div>
                                        </div>
                                        <div class="row">
                                          <div class="col-sm-4" style="font-size: 14px;color:#505050;">Address</div>
                                          <div class="col-sm-1 align-items-center">:</div>
                                          <div class="col-sm-7" style="font-size: 14px;color:#000000;">{{pgOwnerData.pg_ownerbasic_information?.address}}</div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>

                                  <div style="background-color: #c1a1f3;padding: 5px;" class="mb-2">
                                    <i class="far mr-2 ml-2" class="far mr-2 ml-2" [ngClass]="collaspeList[1].selected ? 'fa-minus-square':'fa-plus-square'" style="cursor: pointer;" data-bs-toggle="collapse" data-bs-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample2" (click)="collaspeExpandPanel(collaspeList[1],'left2')"></i> Business Information
                                  </div>
                                  <div class="collapse" [ngClass]="collaspeList[1].selected ? 'show':''" id="collapseExample2">
                                    <div class="card card-body ml-2 mr-2 p-2">
                                      <div class="scrollable-container-main pl-3 pr-3">
                                        <div class="card card-body">
                                          <div class="row">
                                            <div class="col-sm-4">
                                            <span style="font-size: 15px;font-weight: 600;">ZOY Share</span>
                                          </div>
                                            <div class="col-sm-5">
                                              <div class="input-group input-group-sm">
                                                <input type="text" class="form-control form-control-sm" style="max-width: 70px !important;" 
                                                  [(ngModel)]="zoyShare" [disabled]="!zoyShareDisabled"
                                                  (keypress)="percentageOnlyWithZero($event)" maxlength="5" 
                                                  [ngClass]="{'is-invalid': zoyShareDisabled && isNotValidNumber(zoyShare)}"  />
                                                  <span class="input-group-text"> %</span>
                                              </div>
                                            </div>
                                            <div class="col-sm-3">
                                              <div *ngIf="!zoyShareDisabled">
                                                <button class="btn btn-sm btn-outline-secondary" (click)="zoyShareDisabled = true;">
                                                  <i class="fas fa-edit"></i>
                                                </button>
                                              </div>
                                              <div class="btn-group" *ngIf="zoyShareDisabled">
                                                <button class="btn btn-sm btn-outline-secondary" (click)="zoyShareSubmit()">
                                                  <i class="fas fa-check"></i>
                                                </button>
                                                <button class="btn btn-sm btn-outline-secondary" (click)="zoyShareReset()">
                                                  <i class="fas fa-redo" style="color: red;"></i>
                                                </button>
                                              </div>
                                            </div>
                                          </div>

                                      </div>
                                      
                                        <div class="card card-body mt-2"  *ngIf="pgOwnerData?.pg_owner_business_info?.length > 0" >
                                        <div class="row">
                                          <div class="col-auto" style="font-size: 15px;font-weight: 600;">Bank Details <span *ngIf="pgOwnerData?.pg_owner_business_info?.length>1" > ({{pgOwnerData?.pg_owner_business_info?.length}})</span> </div>
                                        </div>
                                        <div id="carouselbankFade" class="carousel slide">
                                            <div class="carousel-inner">
                                              <div *ngFor="let bank of pgOwnerData?.pg_owner_business_info" >
                                              <div class="carousel-item pr-4" [ngClass]=" bank.account_type == 'Primary Account' ? 'active' : '' ">
                                                <div style="margin-bottom: -16px;margin-right: -3px;z-index: 0;" class="text-end" *ngIf="bank.account_type == 'Primary Account'" ><i class="fas fa-check-circle" style="color: #ec41f1;"></i></div>
                                                  <div class="p-2" [ngClass]=" bank.account_type == 'Primary Account' ? 'primary-box' : 'secondary-box' " >
                                                    <div class="text-start" style="font-weight: 600 !important;">{{bank?.account_type}}</div>
                                                    <div class="d-flex mt-1" style="font-size: 12px;">
                                                      <div style="color:#505050;">Account Number</div>
                                                      <div class="pl-1 pr-1">:</div>
                                                      <div> {{bank?.account_number}}</div>
                                                    </div>
                                                    <div class="d-flex mt-1" style="font-size: 12px;">
                                                      <div style="color:#505050;">IFS Code</div>
                                                      <div class="pl-1 pr-1">:</div>
                                                      <div> {{bank?.ifsc_code}}</div>
                                                    </div>
                                                    <div class="d-flex mt-1" style="font-size: 12px;">
                                                      <div style="color:#505050;">Bank</div>
                                                      <div class="pl-1 pr-1">:</div>
                                                      <div> {{bank?.bank_name}}</div>
                                                    </div>
                                                    <div class="d-flex mt-1" style="font-size: 12px;">
                                                      <div style="color:#505050;">Branch</div>
                                                      <div class="pl-1 pr-1">:</div>
                                                      <div>{{bank?.bank_branch}}</div>
                                                    </div>
                                                  </div>
                                              </div>
                                            </div>
                                          </div>
                                          <button class="carousel-control-next" type="button" data-bs-target="#carouselbankFade" data-bs-slide="next">
                                            <i class="fas fa-chevron-right" style="color: gray;margin-right: -30px;"></i>
                                          </button>
                                        </div>
                                      </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                           </div>  <!-- End Card Body -->  
                          </div>
                        </div>
                        <div class="col-sm-7">
                          <div class="card mb-3" style="border-radius: 0px;">
                            <div class="card-body" style="display: block;margin: 0px;padding: 2px;" >
                                <div class="container-main">
                                  <div class="p-3">
                                    <div  class="d-sm-flex">
                                      <div style="font-size: 18px;">Property Information</div>
                                      <div class="ml-auto">
                                        <!-- <a class="dropdown no-arrow dropdown-toggle" href="javascript:void(0)" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-ellipsis-v fa-sm fa-fw " style="color:#000000;"></i>
                                        </a> -->
                                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                                          <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#reactivateReason" (click)="openModelDoActiveteDeactivete('pg')"
                                            *ngIf="pgOwnerData?.pg_owner_property_information?.length > 0" >
                                          Status</a>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="row mt-2" *ngIf="pgOwnerData?.pg_owner_property_information?.length > 0">
                                      <div class="col-sm-7">
                                        <div class="form-group row">
                                          <label for="category" class="col-sm-5 col-form-label">Property Name </label>
                                          <div class="col-sm-7">
                                            <select class="form-select form-select-sm" id="category" [(ngModel)]="property_id" (ngModelChange)="selectProperty()" >                                             
                                            <option *ngFor="let property of pgOwnerData?.pg_owner_property_information" [value]="property.property_id" >{{property.property_name}}</option>
                                            </select> 
                                          </div>
                                        </div>
                                      </div>
                                      <div class="col-sm-5">
                                        <div class="form-group row">
                                          <label for="category" class="col-sm-5 col-form-label">Status :</label>
                                          <div class="col-sm-7 mt-2"> {{property_status}}
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    
                                  </div>
                                  <div style="background-color: #c1a1f3;padding: 5px;margin-top:-20px;" class="mb-2" *ngIf="pgOwnerData?.pg_owner_property_information?.length > 0">
                                    <i class="far mr-2 ml-2" [ngClass]="collaspeListRight[0].selected ? 'fa-minus-square':'fa-plus-square'" style="cursor: pointer;" data-bs-toggle="collapse" data-bs-target="#collapseExampleRight0" aria-expanded="false" aria-controls="collapseExampleRight0" (click)="collaspeExpandPanelRight(collaspeListRight[0],'right1')"></i>  Basic Property Information
                                  </div>
                                  <div class="text-center" *ngIf="pgOwnerData?.pg_owner_property_information?.length == 0">
                                    PG's are not available. 
                                 </div>
                                  <div class="collapse" [ngClass]="collaspeListRight[0].selected ? 'show':''" id="collapseExampleRight0">
                                    <div class="card card-body m-2 p-2">
                                      <div class="scrollable-container pl-3 pr-3">
                                        <div class="row">
                                          <div class="col-sm-3" style="font-size: 14px;color:#505050;">PG Type</div>
                                          <div class="col-sm-1 align-items-center">:</div>
                                          <div class="col-sm-8" style="font-size: 14px;color:#000000;">{{propertyInfo.basic_property_information?.pg_type}}</div>
                                        </div>
                                        <div class="row">
                                          <div class="col-sm-3" style="font-size: 14px;color:#505050;">Address</div>
                                          <div class="col-sm-1 align-items-center">:</div>
                                          <div class="col-sm-8" style="font-size: 14px;color:#000000;">{{propertyInfo.basic_property_information?.pg_address}}</div>
                                        </div>
                                        <div class="row">
                                          <div class="col-sm-3" style="font-size: 14px;color:#505050;">Manager Name</div>
                                          <div class="col-sm-1 align-items-center">:</div>
                                          <div class="col-sm-8" style="font-size: 14px;color:#000000;">{{propertyInfo.basic_property_information?.manager_name}}</div>
                                        </div>
                                        <div class="row">
                                          <div class="col-sm-3" style="font-size: 14px;color:#505050;">Manager Email</div>
                                          <div class="col-sm-1 align-items-center">:</div>
                                          <div class="col-sm-8" style="font-size: 14px;color:#000000;">{{propertyInfo.basic_property_information?.manager_emailid}}</div>
                                        </div>
                                        <div class="row">
                                          <div class="col-sm-3" style="font-size: 14px;color:#505050;">Manager Contact</div>
                                          <div class="col-sm-1 align-items-center">:</div>
                                          <div class="col-sm-8" style="font-size: 14px;color:#000000;">{{propertyInfo.basic_property_information?.manager_contact}}</div>
                                        </div>
                                        <div class="row">
                                          <div class="col-sm-3" style="font-size: 14px;color:#505050;">GST Number</div>
                                          <div class="col-sm-1 align-items-center">:</div>
                                          <div class="col-sm-8" style="font-size: 14px;color:#000000;">{{propertyInfo.basic_property_information?.gst_number}}</div>
                                        </div>
                                        <div class="row">
                                          <div class="col-sm-3" style="font-size: 14px;color:#505050;">No Of Floor</div>
                                          <div class="col-sm-1 align-items-center">:</div>
                                          <div class="col-sm-8" style="font-size: 14px;color:#000000;">{{propertyInfo.basic_property_information?.number_of_floors}}</div>
                                        </div>
                                        <div class="row">
                                          <div class="col-sm-3" style="font-size: 14px;color:#505050;">Total Occupancy</div>
                                          <div class="col-sm-1 align-items-center">:</div>
                                          <div class="col-sm-8" style="font-size: 14px;color:#000000;">{{propertyInfo.basic_property_information?.total_occupancy}}</div>
                                        </div>
                                        <!--div class="row">
                                          <div class="col-sm-3" style="font-size: 14px;">Ownership Proof</div>
                                          <div class="col-sm-1 align-items-center">:</div>
                                          <div class="col-sm-6" style="font-size: 14px;color: gray;"><a href="javascript:void(0)" (click)="readViewFileForApproval()" class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" data-bs-target="#showOwnerShippdf" data-bs-toggle="modal">Ownership.pdf</a></div>
                                          <div class="col-sm-2 common-box" style="font-size: 12px;"><i class="fas fa-check ml-1 mr-1" style="color:green;"></i> Approved</div>
                                        </div -->
                                      </div>
                                    </div>
                                  </div>
                                  <div style="background-color: #c1a1f3;padding: 5px;" class="mb-2" *ngIf="pgOwnerData?.pg_owner_property_information?.length > 0 && propertyInfo.floor_information ?.length > 0">
                                    <i class="far mr-2 ml-2" [ngClass]="collaspeListRight[1].selected ? 'fa-minus-square':'fa-plus-square'" style="cursor: pointer;" data-bs-toggle="collapse" data-bs-target="#collapseExampleRight1" aria-expanded="false" aria-controls="collapseExampleRight1" (click)="collaspeExpandPanelRight(collaspeListRight[1],'right2')"></i>  Floor Information
                                  </div>
                                  <div class="collapse" [ngClass]="collaspeListRight[1].selected ? 'show':''" id="collapseExampleRight1">
                                    <div class="card card-body m-2 p-2 ">
                                      <div class="scrollable-container pl-3 pr-3">
                                        <div class="d-flex">
                                          <div>Floor </div>
                                          <div class="ml-2 text-center" style="width: 20px;">:</div>
                                          <div style="width: 100px;">
                                            <select class="form-select form-select-sm" id="category" [(ngModel)]="floor_id" (ngModelChange)="selectFloor()">                                             
                                              <option *ngFor="let floor of propertyInfo.floor_information;"  [value]="floor.floor_id ">{{floor.floor_name}}</option>
                                            </select> 
                                          </div>
                                          <div class="ml-auto"><i class="fas fa-circle mr-1" style="color:green;"></i><span style="color:green;">Vacancy</span> <i class="fas fa-circle ml-2 mr-1" style="color:red;"></i><span style="color:red;">Occupied</span></div>
                                        </div>
                                        <div class="d-flex mt-2 mb-2">
                                          <div class="mr-2 ml-1 common-box">Total Rooms - {{floorInfo?.total_rooms}} </div>
                                          <div class="mr-2 common-box">Total Occupancy -{{floorInfo?.total_occupancy}} </div>
                                          <div class="mr-2 common-box">Occupied - {{floorInfo?.occupied}} </div>
                                          <div class="common-box"> Vacant - {{floorInfo?.vacant}}  </div>
                                        </div>
                                        <div class="row" *ngFor="let roomList of roomArrayList" >
                                          <div class="col-sm-4" *ngFor="let room of roomList" >
                                            <div class="common-box m-1">
                                              <div class="text-center">Room {{room.room_no}} </div>
                                              <div class="row">
                                                <div class="col-sm-4 text-center" *ngFor="let bed of room.beds;">
                                                  <i class="fas fa-bed" [ngStyle]="bed.availability_status == 'occupied' ? {'color': 'red'} : {'color': 'green'}"></i>
                                                  <span style="font-size: 11px;" [ngStyle]="bed.availability_status == 'occupied' ? {'color': 'red'} : {'color': 'green'}">{{bed.bed_name}}</span>
                                                </div>
                                                </div>
                                            </div>
                                          </div>
                                        </div>
                                       </div>
                                    </div>
                                  </div>
                                  <div style="background-color: #c1a1f3;padding: 5px;" class="mb-2" *ngIf="pgOwnerData?.pg_owner_property_information?.length > 0">
                                    <i class="far mr-2 ml-2" [ngClass]="collaspeListRight[2].selected ? 'fa-minus-square':'fa-plus-square'" style="cursor: pointer;" data-bs-toggle="collapse" data-bs-target="#collapseExampleRight2" aria-expanded="false" aria-controls="collapseExampleRight2" (click)="collaspeExpandPanelRight(collaspeListRight[2],'right3')"></i>  Additional Information
                                  </div>
                                  <div class="collapse" [ngClass]="collaspeListRight[2].selected ? 'show':''" id="collapseExampleRight2">
                                    <div class="card card-body m-2 p-2">
                                      <div class="scrollable-container pl-3 pr-3">
                                        <div class="row">
                                          <div class="col-sm-4" style="font-size: 14px;color:#505050;">Security Deposit Amount</div>
                                          <div class="col-sm-1 align-items-center">:</div>
                                          <div class="col-sm-7" style="font-size: 14px;color:#000000;">Rs. {{propertyInfo?.pg_owner_additional_info?.security_deposit}}</div>
                                        </div>
                                        <div class="row">
                                          <div class="col-sm-4" style="font-size: 14px;color:#505050;">Notice Period</div>
                                          <div class="col-sm-1 align-items-center">:</div>
                                          <div class="col-sm-7" style="font-size: 14px;color:#000000;"> {{propertyInfo?.pg_owner_additional_info?.notice_period}} </div>
                                        </div>
                                        <div class="row">
                                          <div class="col-sm-4" style="font-size: 14px;color:#505050;">Rent Cycle</div>
                                          <div class="col-sm-1 align-items-center">:</div>
                                          <div class="col-sm-7" style="font-size: 14px;color:#000000;">{{propertyInfo?.pg_owner_additional_info?.rent_cycle}} </div>
                                        </div>
                                        <div class="row">
                                          <div class="col-sm-4" style="font-size: 14px;color:#505050;">Late Payment</div>
                                          <div class="col-sm-1 align-items-center">:</div>
                                          <div class="col-sm-7" style="font-size: 14px;color:#000000;">{{propertyInfo?.pg_owner_additional_info?.late_payment_fee}} </div>
                                        </div>
                                        <div class="row">
                                          <div class="col-sm-4" style="font-size: 14px;color:#505050;">Grace Period</div>
                                          <div class="col-sm-1 align-items-center">:</div>
                                          <div class="col-sm-7" style="font-size: 14px;color:#000000;">{{propertyInfo?.pg_owner_additional_info?.grace_period}} </div>
                                        </div>
                                        <!-- <div class="row">
                                          <div class="col-sm-4" style="font-size: 14px;">Additional Charges</div>
                                          <div class="col-sm-1 align-items-center">:</div>
                                          <div class="col-sm-7" style="font-size: 14px;color: gray;">{{propertyInfo?.pg_owner_additional_info?.additional_charges}} </div>
                                        </div> 
                                        <div class="row">
                                          <div class="col-sm-4" style="font-size: 14px;">Aggrement Charges</div>
                                          <div class="col-sm-1 align-items-center">:</div>
                                          <div class="col-sm-7" style="font-size: 14px;color: gray;">{{propertyInfo?.pg_owner_additional_info?.agreement_charges}} </div>
                                        </div>
                                         <div class="row">
                                          <div class="col-sm-4" style="font-size: 14px;">EKYC Changes</div>
                                          <div class="col-sm-1 align-items-center">:</div>
                                          <div class="col-sm-7" style="font-size: 14px;color: gray;">{{propertyInfo?.pg_owner_additional_info?.ekyc_charges}} </div>
                                        </div> -->
                                        <div class="row">
                                          <div class="col-sm-4" style="font-size: 14px;color:#505050;">Description</div>
                                          <div class="col-sm-1 align-items-center">:</div>
                                          <div class="col-sm-7" style="font-size: 14px;color:#000000;">{{propertyInfo?.pg_owner_additional_info?.property_description}}</div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>

                                  <div style="background-color: #c1a1f3;padding: 5px;" class="mb-2" *ngIf="pgOwnerData?.pg_owner_property_information?.length > 0">
                                    <i class="far mr-2 ml-2" [ngClass]="collaspeListRight[3].selected ? 'fa-minus-square':'fa-plus-square'" style="cursor: pointer;" data-bs-toggle="collapse" data-bs-target="#collapseExampleRight3" aria-expanded="false" aria-controls="collapseExampleRight3" (click)="collaspeExpandPanelRight(collaspeListRight[3],'right4')"></i>  Payment Information
                                  </div>
                                  <div class="collapse" [ngClass]="collaspeListRight[3].selected ? 'show':''" id="collapseExampleRight3">
                                    <div class="card card-body m-2 p-2">
                                      <div class="scrollable-container pl-3 pr-3">
                                        <div class="row">
                                          <div class="col-sm-5" style="font-size: 14px;">Tenant Payment History</div>
                                          <div class="col-sm-6">
                                            <a class="link-opacity-100-hover" data-bs-toggle="modal" data-bs-target="#paymentHistory" (click)="selectTransaction('Tenant Payment History')" style="font-size: 13px;cursor: pointer;">
                                            Click Here
                                            </a>
                                           </div>
                                        </div>
                                        <div class="row">
                                          <div class="col-sm-5" style="font-size: 14px;">ZOY to Owner Payment History</div>
                                          <div class="col-sm-6">
                                            <a class="link-opacity-100-hover" data-bs-toggle="modal" data-bs-target="#paymentHistory" (click)="selectTransaction('ZOY to Owner Payment History')" style="font-size: 13px;cursor: pointer;">
                                              Click Here
                                              </a>
                                           </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                           </div>  <!-- End Card Body -->  
                          </div>
                        </div>
                      </div>
                  <!-- /.container-fluid -->
              </div>
              <!-- End of Main Content -->
          </div>
          <!-- End of Content Wrapper -->
     </div>
    <!-- End of Page Wrapper -->
  </div>


  <div class="modal fade" id="showOwnerShippdf" data-bs-backdrop="static" data-bs-keyboard="false"
                    tabindex="-1" aria-labelledby="staticHeaderLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-scrollable">
          <div class="modal-content">
                  <div class="modal-header">
                          <h5 class="modal-title" id="staticHeaderLabel">Ownership pdf</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                          <!-- <pdf-viewer [src]="pdfSource" [render-text]="true" [show-all]="true"
                            style="width: 100%; height: 500px;">
                          </pdf-viewer> -->
                  </div>
                  <div class="modal-footer d-flex justify-content-center gap-3">
                          <button type="button" class="btn btn-primary-custom">Approve</button>
                          <button type="button" class="btn btn-secondary">Reject</button>
                  </div>
           </div>
        </div>
  </div>


  <!------To view Row details PopUp model------->
<div class="modal fade" id="paymentHistory" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true" data-bs-backdrop="static">
  <div class="modal-dialog modal-xl modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalLabel">{{transactionHeader}} - [<span style="color: rgb(173, 5, 159);">{{propertyInfo.property_name}}</span>]</h5>
        <div>
          <div class="d-flex pl-5 ">
            <div class="mr-1 mt-1">Date Range</div>
            
            <input type="datetime-local" class="form-control form-control-sm" style="width: 160px;font-size: 12px; " id="fromDate" [(ngModel)]="fromDate" 
                  [ngClass]="{'is-invalid': (!fromDate ||(fromDate>toDate && toDate))}" 
                  [title]="!fromDate? 'From Date is required':((fromDate>toDate && toDate)?'Invalid date range':'') " /> 
    
            <div style="padding-top: 3px;"> - </div>
            <input type="datetime-local" class="form-control form-control-sm" style="width: 160px; font-size: 12px;" id="toDate"  [(ngModel)]="toDate" 
                   [ngClass]="{'is-invalid': (!toDate ||(fromDate>toDate && fromDate ))}" 
                   [title]="!toDate? 'To Date is required':((fromDate>toDate && fromDate)?'Invalid date range':'') "/>
           
            <div class="ml-1"><button class="btn btn-sm btn-primary-custom" (click)="getReportSearchBy()" ><i class="fas fa-search fa-sm"></i></button></div>
          </div>
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body p-0">
        <div class="card-body" style="padding: 2px;margin: 0px;" >
        <div class="scrollable-container-main">    
          <table mat-table [dataSource]="reportDataSource" matSort (matSortChange)="onSortData($event)" 
                  matSortActive="name" matSortDirection="asc" matSortDisableClear multiTemplateDataRows>
            <ng-container *ngFor="let column of selectedReportColumns">
              <ng-container [matColumnDef]="column">
                <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-weight: 400;" [matTooltip]="columnHeaders[column] "> 
                  {{ columnHeaders[column] || column }}
                  <i class="fas fa-lg fa-sort ml-1" style="color:#d1cfcf;margin-right: 3px;"></i>
                  <i class="fas fa-lg fa-sort-up" *ngIf="sortActive === column && sortDirection === 'asc'" 
                     style="margin-right: 3px;margin-left: -14px;"></i>
                  <i class="fas fa-lg  fa-sort-down" *ngIf="sortActive === column && sortDirection === 'desc'" 
                     style="margin-right: 3px;margin-left: -14px;"></i></th>
                <td mat-cell *matCellDef="let element" >  {{  element[column] == undefined || element[column] == '' ? '-' : element[column] }} </td>
              </ng-container>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="selectedReportColumns; sticky:true"></tr>
            <tr mat-row *matRowDef="let row; columns: selectedReportColumns;"></tr>
          </table>
          <div style="text-align: center; min-height: 45px; padding-top: 10px;" 
          *ngIf="reportDataSource.data.length === 0">
            No records found
          </div>
        </div> 
           <mat-paginator #paginator [length]="totalProduct" [pageSize]="pageSize" 
           [pageSizeOptions]="pageSizeOptions" showFirstLastButtons (page)="pageChanged($event)">
          </mat-paginator>
        </div>
    </div>
    </div>
  </div>
</div>

<!------To give the reason for Deactivate/Activate details PopUp model------->
<div class="modal fade" id="reactivateReason" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true" data-bs-backdrop="static">
  <div class="modal-dialog modal-small ">
    <div class="modal-content">
      <div class="modal-header bg-gradiant-popup-header">
        <h5 class="modal-title" id="modalLabel"><span >{{doActiveteDeactiveteName}} - Status</span></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" #closeModel></button>
      </div>
      <div class="modal-body p-3">
        <div class="form-group row">
          <label for="category" class="col-sm-4 col-form-label">Status : </label>
          <div class="col-sm-8">
            <select class="form-select form-select-sm" id="status" [(ngModel)]="status" [ngClass]="{'is-invalid': submitted && !status}">
              <option>Active</option>
              <option>Inactive</option>
              <option>Suspend</option>
            </select>
          </div>
        </div>
        <div>Reason :</div>
        <textarea id="txtArea" rows="7" cols="52" [(ngModel)]="reason" maxlength="1000" title="Please give me the reason"
               [ngClass]="{'is-invalid': submitted && !reason}"></textarea>
        <div *ngIf="submitted && !reason" class="text-danger" >
          Reason is required.
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary-custom me-2" (click)="updateStatus()" >Update</button>
      </div>
    </div>
  </div>
</div>
