
<ngx-spinner bdColor="rgba(0,0,0,0.8)" size="medium" color="#fff" type="custom" [fullScreen]="true">
    <div class="spinner-container"><img class="spinner-home-logo" src="assets/images/home-logo.png" alt="Home"/>
      <img class="spinner-location-logo" src="assets/images/location-logo.png" alt="User"/>
      <div class="spinner-loading">Loading</div>
    </div>
 </ngx-spinner>
  <!-- Content Wrapper. Contains page content -->
  <div id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
      <!-- Sidebar -->
      <app-sidebar></app-sidebar>
      <!-- End of Sidebar -->
  
      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column" [ngClass]=" isExpandSideBar ?'side-bar-expand':'side-bar-collaspe'">
          <!-- Main Content -->
          <div id="content">
                  <div style="display: block;margin-bottom: 5.375rem;">
                  <!-- Topbar -->
                  <app-header></app-header>
                  <!-- End of Topbar -->
                  </div>

              <!-- Begin Page Content -->
              <div class="container-fluid">
                <div class="d-sm-flex align-items-center justify-content-between mb-3">
                    <h3 class="h3 mb-0"><span class="text-header-800 text-header-border">Permission</span><span class="text-header-800-blue">Approval</span></h3> 
                </div>
                  <!-- Content Row -->
                  <!--div class="row" style="margin-right: 0px;">
                      <div class="col-xl-3 col-md-6  mb-2">
                          <div class="card border-left-primary shadow h-100 py-1">
                              <div class="card-body" style="padding: 15px;">
                                  <div class="row no-gutters align-items-center">
                                      <div class="col mr-2">
                                          <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                              Total Users</div>
                                          <div class="h5 mb-0 font-weight-bold text-gray-800">500</div>
                                      </div>
                                      <div class="col-auto">
                                          <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="col-xl-3 col-md-6 mb-2">
                          <div class="card border-left-success shadow h-100 py-1">
                              <div class="card-body" style="padding: 15px;">
                                  <div class="row no-gutters align-items-center">
                                      <div class="col mr-2">
                                          <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                              Newly Request</div>
                                          <div class="h5 mb-0 font-weight-bold text-gray-800">215,000</div>
                                      </div>
                                      <div class="col-auto">
                                          <i class="fas fa-user-friends fa-2x text-gray-300"></i>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="col-xl-3 col-md-6 mb-2">
                          <div class="card border-left-info shadow h-100 py-1">
                              <div class="card-body" style="padding: 15px;">
                                  <div class="row no-gutters align-items-center">
                                      <div class="col mr-2">
                                          <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Tasks
                                          </div>
                                          <div class="row no-gutters align-items-center">
                                              <div class="col-auto">
                                                  <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">50%</div>
                                              </div>
                                              <div class="col">
                                                  <div class="progress progress-sm mr-2">
                                                      <div class="progress-bar bg-info" role="progressbar"
                                                          style="width: 50%" aria-valuenow="50" aria-valuemin="0"
                                                          aria-valuemax="100"></div>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="col-auto">
                                          <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="col-xl-3 col-md-6 mb-2">
                          <div class="card border-left-warning shadow h-100 py-1">
                              <div class="card-body" style="padding: 15px;">
                                  <div class="row no-gutters align-items-center">
                                      <div class="col mr-2">
                                          <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                              Pending Requests</div>
                                          <div class="h5 mb-0 font-weight-bold text-gray-800">4</div>
                                      </div>
                                      <div class="col-auto">
                                          <i class="fas fa-comments fa-2x text-gray-300"></i>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div-->
  
                  <!-- Content Row -->
                  <div>
                        <div class="card shadow mb-3">
                            <!-- Card Body -->
                            <div class="card-body" style="padding: 2px; margin: 0;">
                                <div>
                                    <div class="scrollable-container-main">
                                        <table mat-table [dataSource]="dataSource"  matSort (matSortChange)="announceSortChange($event)">                                          
                                            <!-- User Name Column -->
                                            <ng-container matColumnDef="firstName">
                                                <th mat-header-cell style="width: 200px;font-weight: 600;" *matHeaderCellDef mat-sort-header>
                                                    NAME
                                                    <span style="margin-left: 2px;">
                                                        <i class="fas fa-lg fa-sort-up sorting-normal-color" [ngClass]="{'sorting-selected-color': columnSortDirections['firstName'] === 'asc' }"></i>
                                                        <i class="fas fa-lg fa-sort-down sorting-normal-color" style="margin-left:-11px" [ngClass]="{'sorting-selected-color': columnSortDirections['firstName'] === 'desc'}"></i>
                                                    </span>
                                                </th>
                                                <td mat-cell *matCellDef="let element" style="width: 200px;">
                                                    {{element.firstName}} {{element.lastName}}
                                                </td>
                                            </ng-container>
                            
                                            <!-- User Mail Column -->
                                            <ng-container matColumnDef="userEmail">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 150px;font-weight: 600;">
                                                    EMAIL
                                                    <span style="margin-left: 2px;">
                                                        <i class="fas fa-lg fa-sort-up sorting-normal-color" [ngClass]="{'sorting-selected-color': columnSortDirections['userEmail'] === 'asc' }"></i>
                                                        <i class="fas fa-lg fa-sort-down sorting-normal-color" style="margin-left:-11px" [ngClass]="{'sorting-selected-color': columnSortDirections['userEmail'] === 'desc'}"></i>
                                                    </span>
                                                </th>
                                                <td mat-cell *matCellDef="let element" style="width: 150px;">
                                                    {{element.userEmail}}
                                                </td>
                                            </ng-container>
                            
                                            <!-- Designation Column -->
                                            <ng-container matColumnDef="designation">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 170px;font-weight: 600;">
                                                    DESIGNATION
                                                    <span style="margin-left: 2px;">
                                                        <i class="fas fa-lg fa-sort-up sorting-normal-color" [ngClass]="{'sorting-selected-color': columnSortDirections['designation'] === 'asc' }"></i>
                                                        <i class="fas fa-lg fa-sort-down sorting-normal-color" style="margin-left:-11px" [ngClass]="{'sorting-selected-color': columnSortDirections['designation'] === 'desc'}"></i>
                                                    </span>
                                                </th>
                                                <td mat-cell *matCellDef="let element" style="width: 170px;">
                                                    {{element?.designation}}
                                                </td>
                                            </ng-container>       
                                            <ng-container matColumnDef="roles">
                                                <th mat-header-cell *matHeaderCellDef style="font-weight: 600;">
                                                    ROLE'S
                                                </th>
                                                <td mat-cell data-label="roles" *matCellDef="let element;">
                                                    {{ getRoleNames(element.roleModel) }}
                                                </td>
                                            </ng-container>                  
                                            <ng-container matColumnDef="action">
                                                <th mat-header-cell *matHeaderCellDef style="width: 50px;"></th>
                                                <td mat-cell style="width: 50px;" data-label="action" *matCellDef="let element">
                                                    <a class="dropdown no-arrow dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        <i class="fas fa-ellipsis-v fa-sm fa-fw" style="color:#000000;"></i>
                                                    </a>
                                                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                                                        <a class="dropdown-item" href="javascript:void(0)" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight" (click)="viewUser(element)" >Check and Approve</a>
                                                    </div>
                                                </td>
                                            </ng-container>
                    
                                            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
                                            <tr mat-row *matRowDef="let element; columns: displayedColumns;"></tr>
                                        </table>
                                        <div style="text-align: center; min-height: 45px; padding-top: 10px;" *ngIf="dataSource.data.length == 0">
                                            No records found
                                        </div>
                                    </div>
                                </div>
                                <mat-paginator #paginator [length]="totalProduct" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" showFirstLastButtons></mat-paginator>
                            </div>
                        </div>             
                  </div>
              </div>
              <!-- /.container-fluid -->
          </div>
          <!-- End of Main Content -->
      </div>
      <!-- End of Content Wrapper -->
  </div>
  <!-- End of Page Wrapper -->
  </div>

  <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel" data-bs-backdrop="static">
    <div class="offcanvas-header bg-gradiant-popup-header">
        <h5 class="offcanvas-title" id="offcanvasRightLabel">Check And Approve</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close" #registerCloseModal></button>
    </div>
    <hr class="sidebar-divider my-0">
    <div class="offcanvas-body">
        <form>
            <div class="modal-body">
                <div class="font-weight-bold mb-2" style="border-bottom: 1px solid #f5f3f3;margin-top:-10px">
                    {{userReg.firstName}}   {{userReg.lastName}}
                </div>
                <!-- Authorization Section -->
                <div class="mb-4">
                    <div class="row text-center font-weight-bold" style="font-size: 14px;">
                        <div class="col-sm-8 text-left">Authorization</div>
                        <div class="col-sm-2 text-center">Read</div>
                        <div class="col-sm-2 text-center">Write</div>
                    </div>

                    <!-- Scrollable container for the authorization rows -->
                   
                    <div class="scrollable-container">
                        <div *ngFor="let permission of userRolePermissions" class="row align-items-center mb-1 ml-1" style="border-bottom: 1px solid rgb(241, 237, 237);">
                            <div class="col-sm-8" style="font-size: 13px;" [ngClass]="{'text-danger': !permission.approveStatus }" [title]="!permission.approveStatus?'waiting for approval':''" >{{ permission.screenName }}</div>
                            <div class="col-sm-2 text-center">
                                <i [class]="getReadIcon(permission.readPrv)" style="font-size: 13px;"></i>
                            </div>
                            <div class="col-sm-2 text-center">
                                <i [class]="getWriteIcon(permission.writePrv)" style="font-size: 13px;"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Action Buttons -->
                <div class="d-flex justify-content-start mt-4" *ngIf="rolesArray.includes('PERMISSION_APPROVAL_WRITE')">
                    <button type="button" class="btn btn-primary-custom px-4 py-2 mr-3" (click)="approveRejectRole('approved')">Approve</button>
                    <button type="button" class="btn btn-dark px-4 py-2" (click)="approveRejectRole('rejected')">Reject</button>
                </div>
            </div>
        </form>
    </div>
</div>

